**19-11-2022 : File Handling - 2**

In [ ]:
# Seek -> cursor, it take position of cursor
# tell -> Return current position of cursor

In [ ]:
# this is a good class.

In [ ]:
f=open('isit.txt','r')
x=f.seek(11)
print(f"Now cursor placed at {x} position")
print("now string is :")
print(f.read())
print(f.tell())

Now cursor placed at 11 position
now string is :
first file. We learn about python on it. I am stored data locally
76

In [ ]:
# Itrate the string over the file Handling and find some specific value or word and try to set
# cursor there.

In [ ]:
f=open('isit.txt','r')

x=f.seek(f.seek(11)+2)
print(x)
print(f.read())

13
rst file. We learn about python on it. I am stored data locally

In [ ]:
f=open('isit.txt','x')
f.write('this is my first program')
f.close()
f=open('isit.txt','r')
for i in f:
  x=i
c=0
for i in x:
  if i=='f':
    break
  else:
    c+=1


a=f.seek(c)
print(f"Now cursor placed at {a} position")
print(f.read())

Now cursor placed at 11 position
first program

In [ ]:
f=open('isit.txt','r')
f.readlines()

['this is my first file.\n',
 'We learn about python on it. I am stored data locally']

In [ ]:
print("this is my sister\'s husband")

this is my sister's husband

**21-11-2022 : File handling - 3**

In [ ]:
f=open('isit.txt','w')
loc=f.tell()
print(type(loc))
print("Cursor position when Not Writing :",loc)
f.write("hello")
loc=f.tell()
print("Cursor position when Writing hello :",loc)
f.write("this is my first file")
loc=f.tell()
print("ursor positiCon when Writing text :",loc)

<class 'int'>
Cursor position when Not Writing : 0
Cursor position when Writing hello : 5
ursor positiCon when Writing text : 26

In [ ]:
import os
help(os.remove)

Help on built-in function remove in module posix:

remove(path, *, dir_fd=None)
    Remove a file (same as unlink()).

    If dir_fd is not None, it should be a file descriptor open to a directory,
      and path should be relative; path will then be relative to that directory.
    dir_fd may not be implemented on your platform.
      If it is unavailable, using it will raise a NotImplementedError.

In [ ]:
os.remove('/content/isit.txt')

In [ ]:
os.rmdir('isit')

In [ ]:
lst=[1,2,3,4,5,6]
del lst

In [ ]:
tpl=1,2,3,4,5,6
tpl

(1, 2, 3, 4, 5, 6)

In [ ]:
import os
os.rmdir("isit")

In [ ]:
file_name=input("Enter file Name : ")
ispresent=os.path.exists(file_name)
#print('is present :',ispresent)
if ispresent == True:
  print("this file name is already exist please change Name ")
else:
  f=open(file_name,'w')
  f.write("this is my new file.")
  f.close()

Enter file Name : isit1.txt

In [ ]:
f=open('isit.txt','w')
f.write('hello i am indresh')
mode=f.mode
print('Mode of file : ',mode)
fileName=f.name
print("file name : ",fileName)

Mode of file :  w
file name :  isit.txt

In [ ]:
# Mode -
# w+ -> write,read
# r+ -> read,write

In [ ]:
with open('isit.txt', 'r+') as f:
  f.write("This is my new text")
with open('isit.txt','r+') as f:
  print(f.read())

This is my new text

In [ ]:
f=open('isit.txt','r+')
f.write("hello i am from jhansi")
f.close()

In [ ]:
f=open('isit.txt','r+')
f.write("this is Writing my file")
data=f.read()
print(data)

In [ ]:
# context manager
with open('isit.txt','w') as f:       # f=open('isit.txt','w')
  f.writelines('this is context manager\n')
  f.write('i have read with open command')
with open('isit.txt','r') as f:
  print(f.read())

this is context manager

i have read with open command

In [ ]:
f=open('isit1.txt','w')
lst=['Rohit','Ankit','Suresh','Vishal']
f.write(lst,'isit.txt')
f.close()
f=open('isit1.txt','r')
f.read()

TypeError: ignored

In [ ]:
import pickle as pk
# dump -> write data into file 
# load -> printn data into file
lst=[{"name":"rahul","class":9},{"name":"rahul","class":9}]
f=open('isit.dat','wb')
pk.dump(lst,f)
f.close()
f=open('isit.dat','rb')
data=pk.load(f)
print(data)
print(type(data))
f.close()

[{'name': 'rahul', 'class': 9}, {'name': 'rahul', 'class': 9}]
<class 'list'>

In [ ]:
for i in data:
  print(i)

{'name': 'rahul', 'class': 9}
{'name': 'rahul', 'class': 9}

In [ ]:
# binary file 
  # videos file
  # audio
  # image

**22-11-2022 : Viva Session**

In [ ]:
import pandas as pd
df= pd.read_csv(r'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv')
df['My_works']=df['sepal.length']+df['sepal.width']
df

     sepal.length  sepal.width  petal.length  petal.width    variety  My_works
0             5.1          3.5           1.4          0.2     Setosa       8.6
1             4.9          3.0           1.4          0.2     Setosa       7.9
2             4.7          3.2           1.3          0.2     Setosa       7.9
3             4.6          3.1           1.5          0.2     Setosa       7.7
4             5.0          3.6           1.4          0.2     Setosa       8.6
..            ...          ...           ...          ...        ...       ...
145           6.7          3.0           5.2          2.3  Virginica       9.7
146           6.3          2.5           5.0          1.9  Virginica       8.8
147           6.5          3.0           5.2          2.0  Virginica       9.5
148           6.2          3.4           5.4          2.3  Virginica       9.6
149           5.9          3.0           5.1          1.8  Virginica       8.9

[150 rows x 6 columns]

In [ ]:
pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.2 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
def sum(**kwarg):
  print(type(kwarg))



sum(name="Rahul")

<class 'dict'>

In [ ]:
def myFun(firstName='Amit',**kwargs):
  print('name: ',firstName)
  for i,j in kwargs.items():
      print(i,':',j)
 

myFun(firstName='Rahul', midName='Kumar', lastName='Yadav')

name:  Amit
midName : Kumar
lastName : Yadav

**23-11-2022 : File Handling and regex**

In [ ]:
# Binary Files - (TEXT) File start -> BOF, EOF
# Binary file have not dilimeter to terminate file
# ex- sound file, image, text file 
# pickle lib use for binary files
# pickle lib has 2 useful function
  # dump -> input into file
  # Load -> show the data into file
# we always open a file in binary mode(read-rb,write-wb,apend-ab)

In [ ]:
import pickle as pk
filename=input("Ente the name of file")
emp1={'EmpId':1200,'Name':'Rahul Singh','salary':'12500','DateOfBirth':'18/02/1997'}
f=open(filename,'wb')
pk.dump(emp1,f)
f.close()
f=open(filename,'rb')
fh=pk.load(f)
print('This is new file :')
print(fh)
fh['salary']='15000'
f.close()
f=open(filename,'wb')
pk.dump(fh,f)
f.close()
f=open(filename,'rb')
fh=pk.load(f)
print('updated into file :')
print(fh)

Ente the name of fileisit1.dat
This is new file :
{'EmpId': 1200, 'Name': 'Rahul Singh', 'salary': '12500', 'DateOfBirth': '18/02/1997'}
updated into file :
{'EmpId': 1200, 'Name': 'Rahul Singh', 'salary': '15000', 'DateOfBirth': '18/02/1997'}

In [ ]:
import pickle as pk
filename=input("Ente the name of file")
emp1={'EmpId':1200,'Name':'Rahul Singh','salary':'12500','DateOfBirth':'18/02/1995'}
emp2={'EmpId':1201,'Name':'Ankit Soni','salary':'15000','DateOfBirth':'15/04/1996'}
emp3={'EmpId':1202,'Name':'Vishal soni','salary':'17500','DateOfBirth':'11/06/1990'}
emp4={'EmpId':1203,'Name':'Vinod Yadav','salary':'13500','DateOfBirth':'18/07/1992'}

f=open(filename,'wb')
pk.dump(emp1,f)
pk.dump(emp2,f)
pk.dump(emp3,f)
pk.dump(emp4,f)
f.close()

f=open(filename,'rb')
fh1=pk.load(f)
fh2=pk.load(f)
fh3=pk.load(f)
fh4=pk.load(f)
print('This is new file :')
print(fh1)
print(fh2)
print(fh3)
print(fh4)

f.close()

Ente the name of fileisit.dat
This is new file :
{'EmpId': 1200, 'Name': 'Rahul Singh', 'salary': '12500', 'DateOfBirth': '18/02/1995'}
{'EmpId': 1201, 'Name': 'Ankit Soni', 'salary': '15000', 'DateOfBirth': '15/04/1996'}
{'EmpId': 1202, 'Name': 'Vishal soni', 'salary': '17500', 'DateOfBirth': '11/06/1990'}
{'EmpId': 1203, 'Name': 'Vinod Yadav', 'salary': '13500', 'DateOfBirth': '18/07/1992'}

In [ ]:
import pickle as pk
filename=input("Ente the name of file")
emp=[
    {'EmpId':1200,'Name':'Rahul Singh','salary':'12500','DateOfBirth':'18/02/1995'},
    {'EmpId':1201,'Name':'Ankit Soni','salary':'15000','DateOfBirth':'15/04/1996'},
    {'EmpId':1202,'Name':'Vishal soni','salary':'17500','DateOfBirth':'11/06/1990'},
    {'EmpId':1203,'Name':'Vinod Yadav','salary':'13500','DateOfBirth':'18/07/1992'}
]

f=open(filename,'wb')
pk.dump(emp,f)
f.close()

f=open(filename,'rb')
fh=pk.load(f)

print('This is new file :')
for i in fh:
  print(i)


f.close()

Ente the name of fileisit.dat
This is new file :
{'EmpId': 1200, 'Name': 'Rahul Singh', 'salary': '12500', 'DateOfBirth': '18/02/1995'}
{'EmpId': 1201, 'Name': 'Ankit Soni', 'salary': '15000', 'DateOfBirth': '15/04/1996'}
{'EmpId': 1202, 'Name': 'Vishal soni', 'salary': '17500', 'DateOfBirth': '11/06/1990'}
{'EmpId': 1203, 'Name': 'Vinod Yadav', 'salary': '13500', 'DateOfBirth': '18/07/1992'}

In [ ]:
import pickle as pk
filename=input("Ente the name of file")
emp={}
y='y'
f=open(filename,'wb')
while y!='n':
  Id=int(input("Enter the Id of employee : "))
  Name=input("Enter the Employee Name : ")
  salary = int(input("Enter the Salary of Employee : "))
  emp['Id']=Id
  emp['Name']=Name
  emp['Salary']=salary
  pk.dump(emp,f)
  y=input("Are You Want to add More Record[Y/N] : ") 
f.close()

f=open(filename,'rb')
print('This is new file :')
fh1=pk.load(f)
for i in fh1:
  loc=f.tell()
  f.seek(loc)
  print(i)
f.close()

Ente the name of fileemp1.dat
Enter the Id of employee : 1022
Enter the Employee Name : vikash soni
Enter the Salary of Employee : 15000
Are You Want to add More Record[Y/N] : y
Enter the Id of employee : 1023
Enter the Employee Name : ankit soni
Enter the Salary of Employee : 18000
Are You Want to add More Record[Y/N] : n
This is new file :
Id
Name
Salary

In [ ]:
emp={}
emp['Id']=1001
emp['Name']='rahul singh'
emp['Salary']=50000
emp

{'Id': 1001, 'Name': 'rahul singh', 'Salary': 50000}

**25-11-2022 : File handling and CSV**

In [ ]:
import pandas as pd
df=pd.read_csv('/content/train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
import pandas as pd
df=pd.read_csv('/content/isit.csv')
df.head()

   StudentId  Student Name     Father Name Student Class  StudentFees
0       1001  Vishal kumar  Abhijeet kumar            XI         1500
1       1002  Ankit Sharma   Vikash Sharma           XII         2500

In [ ]:
import csv
filename=input("Enter File Name  :  ")
f=open(filename,'w')
fh=csv.writer(f)
print(type(fh))
stu=['Name','Roll Number','Marks'] # Hadder
fh.writerow(stu)
n=int(input("How many records You Want to insert  :  "))
stuarray=[stu,]

for i in range(n):
  name=input('Enter the Name of Student  :  ')
  roll=input("Enter the Roll Number  :  ")
  marks=float(input("Enter the Total Marks of Student  :  "))
  strecord=[name,roll,marks]
  stuarray.append(strecord)
  fh.writerow(strecord)
#f.close()
#f=open(filename,'r')
#fh=csv.reader(f)

Enter File Name  :  aa.csv
<class '_csv.writer'>
How many records You Want to insert  :  2
Enter the Name of Student  :  ankit
Enter the Roll Number  :  1122
Enter the Total Marks of Student  :  55
Enter the Name of Student  :  sumit
Enter the Roll Number  :  1144
Enter the Total Marks of Student  :  88

In [ ]:
# csv.writer ->
# csv.reader  ->
# csv.writerow ->
# csv.readrow ->
stuarray

[['Name', 'Roll Number', 'Marks'],
 ['ankit', '1122', 55.0],
 ['sumit', '1144', 88.0]]

In [ ]:
import csv
f=open('/content/isit3.csv','r')
fh=csv.reader(f)

for i in fh:
  print(i)

['StudentId', 'Student Name', 'Father Name', 'Student Class', 'StudentFees']
['1001', 'Vishal kumar', 'Abhijeet kumar', 'XI', '1500']
['1002', 'Ankit Sharma', 'Vikash Sharma', 'XII', '2500']
['1003', 'Vipin kumar', 'sumit', 'X', '2250']

In [ ]:
import pickle as pk
filename=input("Enter file Name  :  ")
f=open(filename,'wb')
st={'name':'dev','class':5,'fname':'som','sec':'a'}
pk.dump(st,f)
f.close()
f=open(filename,'rb')
a=pk.load(f)
print(type(a))
print('Without Modify : ', a)
f.close()
f=open(filename,'wb')
a['sec']='b'
pk.dump(a,f)
f.close()
f=open(filename,'rb')
b=pk.load(f)
print('Updated File', b)
f.close()

Enter file Name  :  ind.dat
<class 'dict'>
Without Modify :  {'name': 'dev', 'class': 5, 'fname': 'som', 'sec': 'a'}
Updated File {'name': 'dev', 'class': 5, 'fname': 'som', 'sec': 'b'}

In [ ]:
import csv
filename=input("Enter File Name  :  ")
f=open(filename,'w')
fh=csv.writer(f)
stu=[['Name','Roll Number','Marks'],['Vishal soni',1001,55],['Ankit kumar',1002,66]]
for i in stu:
  fh.writerow(i)
f.close()

Enter File Name  :  eee.csv

TypeError: ignored

**26-11-2022 : Regular exparession**

In [ ]:
import re

In [ ]:
pip install re

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement re (from versions: none)
ERROR: No matching distribution found for re

In [ ]:
txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [ ]:
# Metacharacters (WildCard)

28-11-2022 : Regular expression and list comprihesion

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
['even' if x % 2 == 0 else 'odd' for x in range(1, 10)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
lst=[]
for i in range(1,10):
  if i%2==0:
    lst.append('even')
  else:
    if i==3:
      lst.append('three Number')
    else:
     lst.append('odd')
print(lst)

['odd', 'even', 'three Number', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [ ]:
l=[1,2,3,4,5,6,7]
l1=[i**2 for i in l if i%2==0]

In [ ]:
salary=[25000,15000,7500,18000,17500]
a=[i/10 for i in [25000,15000,7500,18000,17500] if i>=18000]
print(a)

[2500.0, 1800.0]

In [ ]:
for i in [25000,15000,7500,18000,17500]:
  if i>=18000:
    print(i/10)

2500.0
1800.0

In [ ]:
n=int(input("Enter a number : "))
print("Table : ",[i*n for i in range(1,11)])

Enter a number : 8
Table :  [8, 16, 24, 32, 40, 48, 56, 64, 72, 80]

**29-11-2022 : HOF (lambda, map, filter,reduce)**

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
def fun(x):
  return x*2
fun(7)

14

In [ ]:
x=lambda x: x*2
x(7)

14

In [ ]:
x=lambda x: x**2

In [ ]:
def return_sum(L):
  odd_sum=0
  even_sum=0
  div3_sum=0
  for i in L:
    if i%2==0:
      even_sum+=i # even_sum=even_sum+i
    if i%2!=0:
      odd_sum+=i
    if i%3==0:
      div3_sum+=i
      
  return (even_sum,odd_sum,div3_sum)

L=[11,21,13,14,15]


print(return_sum(L))

(14, 60, 36)

In [ ]:
x=lambda x:x*2
x(15)

30

In [ ]:
x=lambda x:x%2==0
x(3)

False

In [ ]:
def return_sum(lambda_fun,L):
  result=0
  for i in L:
    if lambda_fun(i):
      result+=i
      
  return result

L=[11,12,13,14,15,16]
x=lambda x:x%2==0
y=lambda x:x%2!=0
z=lambda x:x%3==0
p=lambda x:x%4==0
q=lambda x:x<13 

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))
print(return_sum(p,L))
print(return_sum(q,L))

42
39
27
28
23

In [ ]:
import pandas as pd
x=lambda x: [i*x for i in range(2,11)]
table=[]
for i in range(1,11):
  tab=x(i)
  table.append(tab)
print(table)

pd.DataFrame({'Tables':table})

[[2, 3, 4, 5, 6, 7, 8, 9, 10], [4, 6, 8, 10, 12, 14, 16, 18, 20], [6, 9, 12, 15, 18, 21, 24, 27, 30], [8, 12, 16, 20, 24, 28, 32, 36, 40], [10, 15, 20, 25, 30, 35, 40, 45, 50], [12, 18, 24, 30, 36, 42, 48, 54, 60], [14, 21, 28, 35, 42, 49, 56, 63, 70], [16, 24, 32, 40, 48, 56, 64, 72, 80], [18, 27, 36, 45, 54, 63, 72, 81, 90], [20, 30, 40, 50, 60, 70, 80, 90, 100]]

In [ ]:
pd.DataFrame({'Tables':table})

                                  Tables
0           [2, 3, 4, 5, 6, 7, 8, 9, 10]
1      [4, 6, 8, 10, 12, 14, 16, 18, 20]
2     [6, 9, 12, 15, 18, 21, 24, 27, 30]
3    [8, 12, 16, 20, 24, 28, 32, 36, 40]
4   [10, 15, 20, 25, 30, 35, 40, 45, 50]
5   [12, 18, 24, 30, 36, 42, 48, 54, 60]
6   [14, 21, 28, 35, 42, 49, 56, 63, 70]
7   [16, 24, 32, 40, 48, 56, 64, 72, 80]
8   [18, 27, 36, 45, 54, 63, 72, 81, 90]
9  [20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
help(pd.DataFrame)

Help on class DataFrame in module pandas.core.frame:

class DataFrame(pandas.core.generic.NDFrame, pandas.core.arraylike.OpsMixin)
 |  DataFrame(data=None, index: 'Axes | None' = None, columns: 'Axes | None' = None, dtype: 'Dtype | None' = None, copy: 'bool | None' = None)
 |
 |  Two-dimensional, size-mutable, potentially heterogeneous tabular data.
 |
 |  Data structure also contains labeled axes (rows and columns).
 |  Arithmetic operations align on both row and column labels. Can be
 |  thought of as a dict-like container for Series objects. The primary
 |  pandas data structure.
 |
 |  Parameters
 |  ----------
 |  data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
 |      Dict can contain Series, arrays, constants, dataclass or list-like objects. If
 |      data is a dict, column order follows insertion-order.
 |
 |      .. versionchanged:: 0.25.0
 |         If data is a list of dicts, column order follows insertion-order.
 |
 |  index : Index or array-like
 |      Index to use for resulting frame. Will default to RangeIndex if
 |      no indexing information part of input data and no index provided.
 |  columns : Index or array-like
 |      Column labels to use for resulting frame when data does not have them,
 |      defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
 |      will perform column selection instead.
 |  dtype : dtype, default None
 |      Data type to force. Only a single dtype is allowed. If None, infer.
 |  copy : bool or None, default None
 |      Copy data from inputs.
 |      For dict data, the default of None behaves like ``copy=True``.  For DataFrame
 |      or 2d ndarray input, the default of None behaves like ``copy=False``.
 |
 |      .. versionchanged:: 1.3.0
 |
 |  See Also
 |  --------
 |  DataFrame.from_records : Constructor from tuples, also record arrays.
 |  DataFrame.from_dict : From dicts of Series, arrays, or dicts.
 |  read_csv : Read a comma-separated values (csv) file into DataFrame.
 |  read_table : Read general delimited file into DataFrame.
 |  read_clipboard : Read text from clipboard into DataFrame.
 |
 |  Examples
 |  --------
 |  Constructing DataFrame from a dictionary.
 |
 |  >>> d = {'col1': [1, 2], 'col2': [3, 4]}
 |  >>> df = pd.DataFrame(data=d)
 |  >>> df
 |     col1  col2
 |  0     1     3
 |  1     2     4
 |
 |  Notice that the inferred dtype is int64.
 |
 |  >>> df.dtypes
 |  col1    int64
 |  col2    int64
 |  dtype: object
 |
 |  To enforce a single dtype:
 |
 |  >>> df = pd.DataFrame(data=d, dtype=np.int8)
 |  >>> df.dtypes
 |  col1    int8
 |  col2    int8
 |  dtype: object
 |
 |  Constructing DataFrame from numpy ndarray:
 |
 |  >>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
 |  ...                    columns=['a', 'b', 'c'])
 |  >>> df2
 |     a  b  c
 |  0  1  2  3
 |  1  4  5  6
 |  2  7  8  9
 |
 |  Constructing DataFrame from a numpy ndarray that has labeled columns:
 |
 |  >>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
 |  ...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
 |  >>> df3 = pd.DataFrame(data, columns=['c', 'a'])
 |  ...
 |  >>> df3
 |     c  a
 |  0  3  1
 |  1  6  4
 |  2  9  7
 |
 |  Constructing DataFrame from dataclass:
 |
 |  >>> from dataclasses import make_dataclass
 |  >>> Point = make_dataclass("Point", [("x", int), ("y", int)])
 |  >>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
 |     x  y
 |  0  0  0
 |  1  0  3
 |  2  2  3
 |
 |  Method resolution order:
 |      DataFrame
 |      pandas.core.generic.NDFrame
 |      pandas.core.base.PandasObject
 |      pandas.core.accessor.DirNamesMixin
 |      pandas.core.indexing.IndexingMixin
 |      pandas.core.arraylike.OpsMixin
 |      builtins.object
 |
 |  Methods defined here:
 |
 |  __divmod__(self, other) -> 'tuple[DataFrame, DataFrame]'
 |
 |  __getitem__(self, key)
 |
 |  __init__(self, data=None, index: 'Axes | None' = None, columns: 'Axes | None' = None, dtype: 'Dtype | None' = None, copy: 'bool | None' = None)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __len__(self) -> 'int'
 |      Returns length of info axis, but here we use the index.
 |
 |  __matmul__(self, other: 'AnyArrayLike | FrameOrSeriesUnion') -> 'FrameOrSeriesUnion'
 |      Matrix multiplication using binary `@` operator in Python>=3.5.
 |
 |  __rdivmod__(self, other) -> 'tuple[DataFrame, DataFrame]'
 |
 |  __repr__(self) -> 'str'
 |      Return a string representation for a particular DataFrame.
 |
 |  __rmatmul__(self, other)
 |      Matrix multiplication using binary `@` operator in Python>=3.5.
 |
 |  __setitem__(self, key, value)
 |
 |  add(self, other, axis='columns', level=None, fill_value=None)
 |      Get Addition of dataframe and other, element-wise (binary operator `add`).
 |
 |      Equivalent to ``dataframe + other``, but with support to substitute a fill_value
 |      for missing data in one of the inputs. With reverse version, `radd`.
 |
 |      Among flexible wrappers (`add`, `sub`, `mul`, `div`, `mod`, `pow`) to
 |      arithmetic operators: `+`, `-`, `*`, `/`, `//`, `%`, `**`.
 |
 |      Parameters
 |      ----------
 |      other : scalar, sequence, Series, or DataFrame
 |          Any single or multiple element data structure, or list-like object.
 |      axis : {0 or 'index', 1 or 'columns'}
 |          Whether to compare by the index (0 or 'index') or columns
 |          (1 or 'columns'). For Series input, axis to match Series index on.
 |      level : int or label
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level.
 |      fill_value : float or None, default None
 |          Fill existing missing (NaN) values, and any new element needed for
 |          successful DataFrame alignment, with this value before computation.
 |          If data in both corresponding DataFrame locations is missing
 |          the result will be missing.
 |
 |      Returns
 |      -------
 |      DataFrame
 |          Result of the arithmetic operation.
 |
 |      See Also
 |      --------
 |      DataFrame.add : Add DataFrames.
 |      DataFrame.sub : Subtract DataFrames.
 |      DataFrame.mul : Multiply DataFrames.
 |      DataFrame.div : Divide DataFrames (float division).
 |      DataFrame.truediv : Divide DataFrames (float division).
 |      DataFrame.floordiv : Divide DataFrames (integer division).
 |      DataFrame.mod : Calculate modulo (remainder after division).
 |      DataFrame.pow : Calculate exponential power.
 |
 |      Notes
 |      -----
 |      Mismatched indices will be unioned together.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame({'angles': [0, 3, 4],
 |      ...                    'degrees': [360, 180, 360]},
 |      ...                   index=['circle', 'triangle', 'rectangle'])
 |      >>> df
 |                 angles  degrees
 |      circle          0      360
 |      triangle        3      180
 |      rectangle       4      360
 |
 |      Add a scalar with operator version which return the same
 |      results.
 |
 |      >>> df + 1
 |                 angles  degrees
 |      circle          1      361
 |      triangle        4      181
 |      rectangle       5      361
 |
 |      >>> df.add(1)
 |                 angles  degrees
 |      circle          1      361
 |      triangle        4      181
 |      rectangle       5      361
 |
 |      Divide by constant with reverse version.
 |
 |      >>> df.div(10)
 |                 angles  degrees
 |      circle        0.0     36.0
 |      triangle      0.3     18.0
 |      rectangle     0.4     36.0
 |
 |      >>> df.rdiv(10)
 |                   angles   degrees
 |      circle          inf  0.027778
 |      triangle   3.333333  0.055556
 |      rectangle  2.500000  0.027778
 |
 |      Subtract a list and Series by axis with operator version.
 |
 |      >>> df - [1, 2]
 |                 angles  degrees
 |      circle         -1      358
 |      triangle        2      178
 |      rectangle       3      358
 |
 |      >>> df.sub([1, 2], axis='columns')
 |                 angles  degrees
 |      circle         -1      358
 |      triangle        2      178
 |      rectangle       3      358
 |
 |      >>> df.sub(pd.Series([1, 1, 1], index=['circle', 'triangle', 'rectangle']),
 |      ...        axis='index')
 |                 angles  degrees
 |      circle         -1      359
 |      triangle        2      179
 |      rectangle       3      359
 |
 |      Multiply a DataFrame of different shape with operator version.
 |
 |      >>> other = pd.DataFrame({'angles': [0, 3, 4]},
 |      ...                      index=['circle', 'triangle', 'rectangle'])
 |      >>> other
 |                 angles
 |      circle          0
 |      triangle        3
 |      rectangle       4
 |
 |      >>> df * other
 |                 angles  degrees
 |      circle          0      NaN
 |      triangle        9      NaN
 |      rectangle      16      NaN
 |
 |      >>> df.mul(other, fill_value=0)
 |                 angles  degrees
 |      circle          0      0.0
 |      triangle        9      0.0
 |      rectangle      16      0.0
 |
 |      Divide by a MultiIndex by level.
 |
 |      >>> df_multindex = pd.DataFrame({'angles': [0, 3, 4, 4, 5, 6],
 |      ...                              'degrees': [360, 180, 360, 360, 540, 720]},
 |      ...                             index=[['A', 'A', 'A', 'B', 'B', 'B'],
 |      ...                                    ['circle', 'triangle', 'rectangle',
 |      ...                                     'square', 'pentagon', 'hexagon']])
 |      >>> df_multindex
 |                   angles  degrees
 |      A circle          0      360
 |        triangle        3      180
 |        rectangle       4      360
 |      B square          4      360
 |        pentagon        5      540
 |        hexagon         6      720
 |
 |      >>> df.div(df_multindex, level=1, fill_value=0)
 |                   angles  degrees
 |      A circle        NaN      1.0
 |        triangle      1.0      1.0
 |        rectangle     1.0      1.0
 |      B square        0.0      0.0
 |        pentagon      0.0      0.0
 |        hexagon       0.0      0.0
 |
 |  agg = aggregate(self, func=None, axis: 'Axis' = 0, *args, **kwargs)
 |
 |  aggregate(self, func=None, axis: 'Axis' = 0, *args, **kwargs)
 |      Aggregate using one or more operations over the specified axis.
 |
 |      Parameters
 |      ----------
 |      func : function, str, list or dict
 |          Function to use for aggregating the data. If a function, must either
 |          work when passed a DataFrame or when passed to DataFrame.apply.
 |
 |          Accepted combinations are:
 |
 |          - function
 |          - string function name
 |          - list of functions and/or function names, e.g. ``[np.sum, 'mean']``
 |          - dict of axis labels -> functions, function names or list of such.
 |      axis : {0 or 'index', 1 or 'columns'}, default 0
 |              If 0 or 'index': apply function to each column.
 |              If 1 or 'columns': apply function to each row.
 |      *args
 |          Positional arguments to pass to `func`.
 |      **kwargs
 |          Keyword arguments to pass to `func`.
 |
 |      Returns
 |      -------
 |      scalar, Series or DataFrame
 |
 |          The return can be:
 |
 |          * scalar : when Series.agg is called with single function
 |          * Series : when DataFrame.agg is called with a single function
 |          * DataFrame : when DataFrame.agg is called with several functions
 |
 |          Return scalar, Series or DataFrame.
 |
 |      The aggregation operations are always performed over an axis, either the
 |      index (default) or the column axis. This behavior is different from
 |      `numpy` aggregation functions (`mean`, `median`, `prod`, `sum`, `std`,
 |      `var`), where the default is to compute the aggregation of the flattened
 |      array, e.g., ``numpy.mean(arr_2d)`` as opposed to
 |      ``numpy.mean(arr_2d, axis=0)``.
 |
 |      `agg` is an alias for `aggregate`. Use the alias.
 |
 |      See Also
 |      --------
 |      DataFrame.apply : Perform any type of operations.
 |      DataFrame.transform : Perform transformation type operations.
 |      core.groupby.GroupBy : Perform operations over groups.
 |      core.resample.Resampler : Perform operations over resampled bins.
 |      core.window.Rolling : Perform operations over rolling window.
 |      core.window.Expanding : Perform operations over expanding window.
 |      core.window.ExponentialMovingWindow : Perform operation over exponential weighted
 |          window.
 |
 |      Notes
 |      -----
 |      `agg` is an alias for `aggregate`. Use the alias.
 |
 |      Functions that mutate the passed object can produce unexpected
 |      behavior or errors and are not supported. See :ref:`gotchas.udf-mutation`
 |      for more details.
 |
 |      A passed user-defined-function will be passed a Series for evaluation.
 |
 |      Examples
 |      --------
 |      >>> df = pd.DataFrame([[1, 2, 3],
 |      ...                    [4, 5, 6],
 |      ...                    [7, 8, 9],
 |      ...                    [np.nan, np.nan, np.nan]],
 |      ...                   columns=['A', 'B', 'C'])
 |
 |      Aggregate these functions over the rows.
 |
 |      >>> df.agg(['sum', 'min'])
 |              A     B     C
 |      sum  12.0  15.0  18.0
 |      min   1.0   2.0   3.0
 |
 |      Different aggregations per column.
 |
 |      >>> df.agg({'A' : ['sum', 'min'], 'B' : ['min', 'max']})
 |              A    B
 |      sum  12.0  NaN
 |      min   1.0  2.0
 |      max   NaN  8.0
 |
 |      Aggregate different functions over the columns and rename the index of the resulting
 |      DataFrame.
 |
 |      >>> df.agg(x=('A', max), y=('B', 'min'), z=('C', np.mean))
 |           A    B    C
 |      x  7.0  NaN  NaN
 |      y  NaN  2.0  NaN
 |      z  NaN  NaN  6.0
 |
 |      Aggregate over the columns.
 |
 |      >>> df.agg("mean", axis="columns")
 |      0    2.0
 |      1    5.0
 |      2    8.0
 |      3    NaN
 |      dtype: float64
 |
 |  align(self, other, join: 'str' = 'outer', axis: 'Axis | None' = None, level: 'Level | None' = None, copy: 'bool' = True, fill_value=None, method: 'str | None' = None, limit=None, fill_axis: 'Axis' = 0, broadcast_axis: 'Axis | None' = None) -> 'DataFrame'
 |      Align two objects on their axes with the specified join method.
 |
 |      Join method is specified for each axis Index.
 |
 |      Parameters
 |      ----------
 |      other : DataFrame or Series
 |      join : {'outer', 'inner', 'left', 'right'}, default 'outer'
 |      axis : allowed axis of the other object, default None
 |          Align on index (0), columns (1), or both (None).
 |      level : int or level name, default None
 |          Broadcast across a level, matching Index values on the
 |          passed MultiIndex level.
 |      copy : bool, default True
 |          Always returns new objects. If copy=False and no reindexing is
 |          required then original objects are returned.
 |      fill_value : scalar, default np.NaN
 |          Value to use for missing values. Defaults to NaN, but can be any
 |          "compatible" value.
 |      method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
 |          Method to use for filling holes in reindexed Series:
 |
 |          - pad / ffill: propagate last valid observation forward to next valid.
 |          - backfill / bfill: use NEXT valid observation to fill gap.
 |
 |      limit : int, default None
 |          If method is specified, this is the maximum number of consecutive
 |          NaN values to forward/backward fill. In other words, if there is
 |          a gap with more than this number of consecutive NaNs, it will only
 |          be partially filled. If method is not specified, this is the
 |          maximum number of entries along the entire axis where NaNs will be
 |          filled. Must be greater than 0 if not None.
 |      fill_axis : {0 or 'index', 1 or 'columns'}, default 0
 |          Filling axis, method and limit.
 |      broadcast_axis : {0 or 'index', 1 or 'columns'}, default None
 |          Broadcast values along this axis, if aligning two objects of
 |          different dimensions.
 |
 |      Returns
 |      -------
 |      (left, right) : (DataFrame, type of other)
 |          Aligned objects.
 |
 |  all(self, axis=0, bool_only=None, skipna=True, level=None, **kwargs)
 |      Return whether all elements are True, potentially over an axis.
 |
 |      Returns True unless there at least one element within a series or
 |      along a Dataframe axis that is False or equivalent (e.g. zero or
 |      empty).
 |
 |      Parameters
 |      ----------
 |      axis : {0 or 'index', 1 or 'columns', None}, default 0
 |          Indicate which axis or axes should be reduced.
 |
 |          * 0 / 'index' : reduce the index, return a Series whose index is the
 |            original column labels.
 |          * 1 / 'columns' : reduce the columns, return a Series whose index is the
 |            original index.
 |          * None : reduce all axes, return a scalar.
 |
 |      bool_only : bool, default None
 |          Include only boolean columns. If None, will attempt to use everything,
 |          then use only boolean data. Not implemented for Series.
 |      skipna : bool, default True
 |          Exclude NA/null values. If the entire row/column is NA and skipna is
 |          True, then the result will be True, as for an empty row/column.
 |          If skipna is False, then NA are treated as True, because these are not
 |          equal to zero.
 |      level : int or level name, default None
 |          If the axis is a MultiIndex (hierarchical), count along a
 |          particular level, collapsing into a Series.
 |      **kwargs : any, default None
 |          Additional keywords have no effect but might be accepted for
 |          compatibility with NumPy.
 |
 |      Returns
 |      -------
 |      Series or DataFrame
 |          If level is specified, then, DataFrame is returned; otherwise, Series
 |          is returned.
 |
 |      See Also
 |      --------
 |      Series.all : Return True if all elements are True.
 |      DataFrame.any : Return True if one (or more) elements are True.
 |
 |      Examples
 |      --------
 |      **Series**
 |
 |      >>> pd.Series([True, True]).all()
 |      True
 |      >>> pd.Series([True, False]).all()
 |      False
 |      >>> pd.Series([], dtype="float64").all()
 |      True
 |      >>> pd.Series([np.nan]).all()
 |      True
 |      >>> pd.Series([np.nan]).all(skipna=False)
 |      True
 |
 |      **DataFrames**
 |
 |      Create a dataframe from a dictionary.
 |
 |      >>> df = pd.DataFrame({'col1': [True, True], 'col2': [True, False]})
 |      >>> df
 |         col1   col2
 |      0  True   True
 |      1  True  False
 |
 |      Default behaviour checks if column-wise values all return True.
 |
 |      >>> df.all()
 |      col1     True
 |      col2    False
 |      dtype: bool
 |
 |      Specify ``axis='columns'`` to check if row-wise values all return True.
 |
 |      >>> df.all(axis='columns')
 |      0     True
 |      1    False
 |      dtype: bool
 |
 |      Or ``axis=None`` for whether every value is True.
 |
 |      >>> df.all(axis=None)
 |      False
 |
 |  any(self, axis=0, bool_only=None, skipna=True, level=None, **kwargs)
 |      Return whether any element is True, potentially over an axis.
 |
 |      Returns False unless there is at least one element within a series or
 |      along a Dataframe axis that is True or equivalent (e.g. non-zero or
 |      non-empty).
 |
 |      Parameters
 |      ----------
 |      axis : {0 or 'index', 1 or 'columns', None}, default 0
 |          Indicate which axis or axes should be reduced.
 |
 |          * 0 / 'index' : reduce the index, return a Series whose index is the

In [ ]:
x=lambda x: [i*x for i in range(1,11)]
x(3)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
x=lambda x: [i*x for i in range(1,11)]
print(x(3))

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [ ]:
x=lambda x: [i**2 for i in x if i%2==0]
print(x([11,22,33,44,55]))

[484, 1936]

In [ ]:
x=lambda x: [i for i in x if i%2!=0]
print(x((11,22,33,44,55)))

[11, 33, 55]

In [ ]:
def sum1(a,val): # lambda a:a*2
  return a(val)*2

x=lambda x: x*2
print(sum1(x,5))

20

In [ ]:
list(map(lambda x:x*2,[2,3,45,6]))

[4, 6, 90, 12]

**30-11-2022 : map filter, reduce**

In [ ]:
y=lambda x: x+1
print(y(1))

2

In [ ]:
def sum(x,y):
  return x+y

print(sum(1,2))

3

In [ ]:
password=0
while password!=12345:
  userid=input("Enter the user id  : ")
  password=input("Ente the password  : ")
  if userid == 'indresh516':
    if password==12345:
      print("Your are login Successfull....")
    else:
      print("Invalid password")
  else:
    print("Invalid User Id")

Enter the user id  : indresh516
Ente the password  : 12344
Invalid password
Enter the user id  : indresh516
Ente the password  : 12345
Your are login Successfull....

In [ ]:
# map(func,iterable)
lst=[2,3,4,6]
y=lambda x:[x*i for i in range(1,11)]
list(map(y,lst))

[[2, 4, 6, 8, 10, 12, 14, 16, 18, 20],
 [3, 6, 9, 12, 15, 18, 21, 24, 27, 30],
 [4, 8, 12, 16, 20, 24, 28, 32, 36, 40],
 [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]]

In [ ]:
lst=[2,3,4,6]
y=lambda x:x>3
list(map(y,lst))

[False, False, True, True]

In [ ]:
# filter function(HOF)

lst=['ankit','sumit','sumil']
y=lambda x:x[0]=='s'
list(filter(y,lst))

['sumit', 'sumil']

In [ ]:
lst=[2,3,4,6,25]
y=lambda x:x>10
list(filter(y,lst))

[25]

In [ ]:
# reduce
# functools

In [ ]:
import functools as ft

lst=[44,55,33,22,88,77]
y=lambda x,y:x if x>y else y
ft.reduce(y,[44,55,33,22,88,77])

88

In [ ]:
lst=[44,55,33,22,88,77]
y=lambda x,y:x*y
ft.reduce(y,[44,55,33,22,88,77])

11904889920

In [ ]:
# oops -> object oriented programming system

**02-12-2022 : OOPS-1**

In [ ]:
def sum(*k):
  s=0
  for i in k:
    for j in i:
      s=s+j
  return s

l=[8,2,0,3,7]
print(sum(l))

20

In [ ]:
c=d=0
def c_case(txt):
  global c,d
  for i in txt:
    if i.islower():
      c+=1
    elif i.isupper():
      d+=1
    else:
      pass
  return c,d


print(c,d)
ccase=c_case('This is first!') # ccase=(10,1)
print(type(ccase))
print(f'the lower case {ccase[0]} and upper case {ccase[1]}')
print(c,d)

0 0
<class 'tuple'>
the lower case 10 and upper case 1
10 1

In [ ]:
a=10
print('give me Rs'+str(10))

give me Rs10

In [ ]:
dict(foo=1,bar=2)

{'foo': 1, 'bar': 2}

In [ ]:
d={}
d['foo']=100
d['bar']=200
d['baz']=300
d

{'foo': 100, 'bar': 200, 'baz': 300}

In [ ]:
d={('foo',100),('bar',200),('baz',300)}
type(d)

set

In [ ]:
# class-blue print
# object- real entity

In [ ]:
del sum

In [ ]:
class CalAdd:
  def sum_a(x,y):
    return x+y

obj=CalAdd()
obj.sum_a(4,5)

TypeError: ignored

In [ ]:
class marks:
  def marksum(self,x,y):
    return x+y
  
obj=marks()
obj.marksum(77,88)

165

In [ ]:
class marks:
  name='isit'
  def marksum(self,x,y):
    self.x=x
    return x+y
  def div(self):
    print(self.x)

obj=marks()
obj.marksum(4,5)
obj.div()

4

**03-12-2022 : oops**

In [ ]:
# object oriented programming system
# class, object, self->this(java)
# constructor -> 

# inheritance -> 
# polymorphism ->
# incapsulation ->
# Data Abtraction ->

In [ ]:
class student:
  def __init__(self,x,y):# constructor
    self.x=x
    self.y=y
  def a_sum(self,z=0):
    self.z=z
    return self.x+self.y+self.z
  def display(self):
    return f'the value of z {self.z}'
 
amit=student(4,5) # create object
sumit=student(44,66)
print(sumit.a_sum(55))
print(amit.a_sum(10))
print(amit.display())

165
19
the value of z 10

**05-12-2022 : oops -2**

In [ ]:
# Class - bluprint
# Object - real entity
# Inheritance
# Polymorphism
# incapsulation
# data Abstraction

In [ ]:
# inheritance
  # one to one inheritance
  # many to one inheritance
  # many to many inheritance(harachy)

In [ ]:
# classes
class Car:
  def __init__(self,doors,engine_type,seats):
    self.doors=doors
    self.engine_type=engine_type
    self.seats=seats
  def test(self):
    print(f'this car has {self.doors} doors\n it has {self.engine_type} engine.\nthis car is {self.seats} seats\n it is {None} cc engine' )

class Audi(Car):
  def __init__(self,doors,engine_type,seats,eng_cc):
    super().__init__(doors,engine_type,seats)
    self.eng_cc=eng_cc
  def carspecification(self):
    print(self.engine_type)
  def engineSpec(self):
    print(self.engine_type)


class BMW(Car):
  def __init__(self,doors,engine_type,seats,max_speed):
    super().__init__(doors,engine_type,seats)
    self.max_speed=max_speed
  def speed(self):
    print(f"the speed is {self.max_speed}")

# Main function
engtype=input("enter the engine type : ")
audiq7=Audi(4,engtype,4,1250)

print(audiq7.engine_type)

diesel

In [ ]:
bmwi100=BMW(4,'diesel',5,220)

In [ ]:
bmwi100.speed()
audiq7.speed()

the speed is 220

AttributeError: ignored

In [ ]:
class Car:
  def __init__(self,doors,engine_type,seats):
    self.doors=doors
    self.engine_type=engine_type
    self.seats=seats
  def test(self):
    print(f'this car has {self.doors} doors\n it has {self.engine_type} engine.\nthis car is {self.seats} seats\n it is {None} cc engine' )

class Audi(Car):
  def __init__(self,doors,engine_type,seats,eng_cc):
    super().__init__(doors,engine_type,seats)
    self.eng_cc=eng_cc
  def carspecification(self):
      print(f'this car has {self.doors} doors\n it has {self.engine_type} engine.\nthis car is {self.seats} seats\n it is {self.eng_cc} cc engine' )

class BMW(Car,Audi):
  def __init__(self,doors,engine_type,seats,max_speed):
    super().__init__(doors,engine_type,seats)
    super().__init__(doors,engine_type,seats)
    self.max_speed=max_speed
  def speed(self):
    print(f"the speed is {self.max_speed}")



audiq7=Audi(4,'diesel',5,200)
#audiq7.carspecification()
BMW1=BMW(4,'diesel',5,200)
BMW1.carspecification()

TypeError: ignored

In [ ]:
# Multiple Inheritance: 
class Mother:
    mothername = ""
    def mother(self):
        print(self.mothername)
class Father:
    fathername = ""
    def father(self):
        print(self.fathername)
class Son(Mother, Father):
    def parents(self):
        print("Father :", self.fathername)
        print("Mother :", self.mothername)
s1 = Son()
s1.fathername = "RAM"
s1.mothername = "SITA"
s1.parents()

Father : RAM
Mother : SITA

In [ ]:
# Multilevel Inheritance :

class Grandfather:
    def __init__(self, grandfathername):
        self.grandfathername = grandfathername
class Father(Grandfather):
    def __init__(self, fathername, grandfathername):
        self.fathername = fathername
        Grandfather.__init__(self, grandfathername)
class Son(Father):
    def __init__(self, sonname, fathername, grandfathername):
        self.sonname = sonname
        Father.__init__(self, fathername, grandfathername)
    def print_name(self):
        print('Grandfather name :', self.grandfathername)
        print("Father name :", self.fathername)
        print("Son name :", self.sonname)
s1 = Son('Prince', 'Rampal', 'Lal mani')
print(s1.grandfathername)
s1.print_name()

Lal mani
Grandfather name : Lal mani
Father name : Rampal
Son name : Prince

In [ ]:
# Hierarchical Inheritance:
class Parent:
    def func1(self):
        print("This function is in parent class.")

class Child1(Parent):
    def func2(self):
        print("This function is in child 1.")

class Child2(Parent):
    def func3(self):
        print("This function is in child 2.")

object1 = Child1()
object2 = Child2()
object1.func1()
object1.func2()
object2.func1()
object2.func3()

This function is in parent class.
This function is in child 1.
This function is in parent class.
This function is in child 2.

In [ ]:
# Hybrid Inheritance:

class School:
    def func1(self):
        print("This function is in school.")
class Student1(School):
    def func2(self):
        print("This function is in student 1. ")
class Student2(School):
    def func3(self):
        print("This function is in student 2.")
class Student3(Student1, Student2):
    def func4(self):
        print("This function is in student 3.")

object = Student3()
object.func1()
object.func2()
object.func3()

This function is in school.
This function is in student 1.

AttributeError: ignored

In [ ]:
l=[1,2,3,4,5,6]
len(l)

6

In [ ]:
l=(1,2,3,4,5,6)
len(l)

6

In [ ]:
a='jsdklfjslkjfkdlsj'
len(a)

17

In [ ]:
print('hello')
print(l)
print(a)

hello
(1, 2, 3, 4, 5, 6)
jsdklfjslkjfkdlsj

07-12-2022 : oops-3

In [ ]:
# len() being used for a string
print(len("geeks"))
 
# len() being used for a list
print(len([10, 20, 30]))

In [ ]:
# A simple Python function to demonstrate
# Polymorphism
 
def add(x, y=0, z = 0,p=0):
    return x + y+z+p
 
# Driver code
print(add(2))
print(add(2, 3))
print(add(2, 3, 4))
print(add(2, 3, 4, 7))

2
5
9
16

In [ ]:
# Polymorphism with class methods: 
class India():
	def capital(self):
		print("New Delhi is the capital of India.")
	def language(self):
		print("Hindi is the most widely spoken language of India.")
	def type(self):
		print("India is a developing country.")
class USA(India):
	def capital(self):
		print("Washington, D.C. is the capital of USA.")
	def language(self):
		print("English is the primary language of USA.")
	def type(self):
		print("USA is a developed country.")
obj_ind = India()
obj_usa = USA()
#for country in (obj_ind, obj_usa):
#	country.capital()
#	country.language()
#	country.type()
obj_ind.capital()
obj_usa.capital()

New Delhi is the capital of India.
Washington, D.C. is the capital of USA.

In [ ]:
# Polymorphism with Inheritance: 
class Bird:
  def intro(self):
    print("There are many types of birds.")
    
  def flight(self):
    print("Most of the birds can fly but some cannot.")

class sparrow(Bird):
  def flight(self):
    print("Sparrows can fly.")
    
class ostrich(Bird):
  def flight(self):
    print("Ostriches cannot fly.")
	
obj_bird = Bird()
obj_spr = sparrow()
obj_ost = ostrich()

obj_bird.intro()
obj_bird.flight()

obj_spr.intro()
obj_spr.flight()

obj_ost.intro()
obj_ost.flight()

There are many types of birds.
Most of the birds can fly but some cannot.
There are many types of birds.
Sparrows can fly.
There are many types of birds.
Ostriches cannot fly.

In [ ]:
# Polymorphism with a Function and objects: 
def func(obj):
	obj.capital()
	obj.language()
	obj.type()

obj_ind = India()
obj_usa = USA()

func(obj_ind)
func(obj_usa)

New Delhi is the capital of India.
Hindi is the most widely spoken language of India.
India is a developing country.
Washington, D.C. is the capital of USA.
English is the primary language of USA.
USA is a developed country.

In [ ]:
# Polymorphism with a Function and objects: 
class India():
	def capital(self):
		print("New Delhi is the capital of India.")
	def language(self):
		print("Hindi is the most widely spoken language of India.")
	def type(self):
		print("India is a developing country.")
class USA():
	def capital(self):
		print("Washington, D.C. is the capital of USA.")
	def language(self):
		print("English is the primary language of USA.")
	def type(self):
		print("USA is a developed country.")
def func(obj):
	obj.capital()
	obj.language()
	obj.type()
 
obj_ind = India()
obj_usa = USA()
func(obj_ind)
func(obj_usa)

In [ ]:
# incapsulation 
# protacted mambers

# Python program to demonstrate protected members

# Creating a base class
class Base:
	def __init__(self):
		self._a = 2

class Derived(Base):
	def __init__(self):
		Base.__init__(self)
		print("Calling protected member of base class: ",self._a)
		self._a = 3
		print("Calling modified protected member outside class: ",self._a)

obj1 = Derived()
obj2 = Base()

# Calling protected member
# Can be accessed but should not be done due to convention
print("Accessing protected member of obj1: ", obj1._a)

# Accessing the protected variable outside
print("Accessing protected member of obj2: ", obj2._a)

Calling protected member of base class:  2
Calling modified protected member outside class:  3
Accessing protected member of obj1:  3
Accessing protected member of obj2:  2

In [ ]:
# Private mambers
# Python program to demonstrate private members

# Creating a Base class

class Base:
  def __init__(self):
    self.a = "GeeksforGeeks"
    self.__c = "GeeksforGeeks"
  def disp(self):
    print(self.__c)

# Creating a derived  class
class Derived(Base):
	def __init__(self):
		# Calling constructor of
		# Base class
		Base.__init__(self)
		print("Calling private member of base class: ")
		print(self.__c)


# Driver code
obj1 = Base()
print(obj1.a)
obj1.disp()

obj2=Derived()

# Uncommenting print(obj1.c) will
# raise an AttributeError

# Uncommenting obj2 = Derived() will
# also raise an AtrributeError as
# private member of base class
# is called inside derived class

GeeksforGeeks
GeeksforGeeks
Calling private member of base class:

AttributeError: ignored

08-12-2022 : exception handling

In [ ]:
# Python code to illustrate
# working of try()
def divide(x, y):
	try:
		# Floor Division : Gives only Fractional Part as Answer
		result = x // y
		print("Yeah ! Your answer is :", result)
	except ZeroDivisionError:
		print("Sorry ! You are dividing by zero ")

# Look at parameters and note the working of Program
divide(3, 0)

Sorry ! You are dividing by zero

In [ ]:
4/0

ZeroDivisionError: ignored

In [ ]:
ch=0
while ch!='Y':
  try:
    a=int(input("Enter a number : "))
    b=int(input("Enter a Number"))
    c=a/b
  except ZeroDivisionError:
    print("Sorry value can't divide by Zero")
  except ValueError:
    print("Value Error")
  else:
    print('the result =',c)
    ch=input("if you want to exit press Y otherwise N : ")

Enter a number : 5
Enter a Number0
Sorry value can't divide by Zero
Enter a number : 5
Enter a Number2
the result = 2.5
if you want to exit press Y otherwise N : Y

In [ ]:
a=int(input("Enter a number : "))
b=int(input("Enter a Number"))
print(a/b)

Enter a number : 25
Enter a Number0

ZeroDivisionError: ignored

In [ ]:
# Python code to illustrate
# working of try()
def divide(x, y):
	try:
		# Floor Division : Gives only Fractional Part as Answer
		result = x // y
		print("Yeah ! Your answer is :", result)
	except ZeroDivisionError:
		print("Sorry ! You are dividing by zero ")

# Look at parameters and note the working of Program
divide(3, 0)

Sorry ! You are dividing by zero

In [ ]:
# Else Clause
# Program to depict else clause with try-except

# Function which returns a/b
def AbyB(a , b):
	try:
		c = ((a+b) // (a-b))
	except ZeroDivisionError:
		print ("a/b result in 0")
	else:
		print (c)

# Driver program to test above function
AbyB(2.0, 3.0)
AbyB(3.0, 3.0)
AbyB(0, 3)

-5.0
a/b result in 0
-1

In [ ]:
# Finally Keyword in Python
# Python program to demonstrate finally
	
# No exception Exception raised in try block
try:
	k = 5//0 # raises divide by zero exception.
	print(k)
	
# handles zerodivision exception	
except ZeroDivisionError:
	print("Can't divide by zero")
		
finally:
	# this block is always executed
	# regardless of exception generation.
	print('This is always executed')

In [ ]:
try:
    x = input("Enter number: ")
    x = x + 1
    print(x)
except:
    print("Invalid input")

Enter number: 45
Invalid input

In [ ]:
# Python program to demonstrate finally
# No exception Exception raised in try block
try:
	k = 5//0 # raises divide by zero exception.	
# handles zerodivision exception	
except ZeroDivisionError:
	print("Can't divide by zero")
else:
  print(k)
finally:
	# this block is always executed
	# regardless of exception generation.
	print('This is always executed')

Can't divide by zero
This is always executed

09-12-2022 :

In [ ]:
try:
  a=int(input("Enter a number : "))
  b=int(input("Enter a Number"))
  c=a/b
except ZeroDivisionError:
  b=1
  c=a/b
except ValueError:
  a=int(input("Enter the first value Again and make sure it is not string : "))
  b=int(input("Enter the Second value Again and make sure it is not string : "))
  c=a/b
finally:
  print('the result =',c)

Enter a number : 0
Enter a Number5
the result = 0.0

**10-12-2022 : Json**

In [ ]:
# json 
# json Transfer the data into one application to another
# json is the universal format.
# json -> javascript object notation
# 
# True=true
# None=null
# False=false

In [ ]:
# Json as file handling
import json as js
f=open('/content/json_file.json','r')
data=js.load(f)
print(data)
print(type(data))

data['Married']=False

if data['Married']:
  print('this is married person')
else:
  print('this is non-arried person')
f.close()

{'Name': 'Rahul Singh', 'Father Name': 'Amit Singh', 'Married': True, 'Qualification': None}
<class 'dict'>
this is non-arried person

In [ ]:
f=open('/content/json_file.json','w')
js.dump(data,f)
f.close()

In [ ]:
stdata=[]
n=int(input("Enter the record range : "))
while ch!='n'and 'N':
  stdata_row={}
  stdata_row['studentId']=int(input("Enter student id : "))
  stdata_row['Name']=input("Enter student Name : ")
  stdata_row['Father Name']=input("Enter student Father Name : ")
  stdata_row['Class']=input("Enter student Class : ")
  stdata_row['Roll Number']=input("Enter student Roll Number : ")
  stdata.append(stdata_row)
  ch=input("Enter Another Record[Y/N]   :   ")

Enter the record range : 3
Enter student id : 1001
Enter student Name : Rahul singh
Enter student Father Name : Amit Singh
Enter student Class : X
Enter student Roll Number : 25
Enter student id : 1002
Enter student Name : Rishabh
Enter student Father Name : sumit
Enter student Class : X
Enter student Roll Number : 26
Enter student id : 1003
Enter student Name : Piyus
Enter student Father Name : mohan
Enter student Class : X
Enter student Roll Number : 27

In [ ]:
for i in stdata:
  print(i)

{'studentId': 1001, 'Name': 'Rahul singh', 'Father Name': 'Amit Singh', 'Class': 'X', 'Roll Number': '25'}
{'studentId': 1002, 'Name': 'Rishabh', 'Father Name': 'sumit', 'Class': 'X', 'Roll Number': '26'}
{'studentId': 1003, 'Name': 'Piyus', 'Father Name': 'mohan', 'Class': 'X', 'Roll Number': '27'}

In [ ]:
stdata=[]

In [ ]:
100**100

100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

In [ ]:
stdata

[]

In [ ]:
#SudentId      Name      father name     class     rollnumber
#1001         rahul       amit              X         25
#1002         rishabh     sumit             X         26
#1003         PIYUS       mohan             X         27
 
# stdata['StudentId'][i]==stid

# how to update a particular record create a module for it.
# delete a record by using student id
# create a dict=>store in json=>load into json as dict=>print the record


#[1.] Add 'N' New Records
#[2.] Modify a Record
#[3.] Delete a Record
#[4.] Search a Record by Student Id
#[5.] Display All Records
#[6.] Clear All Records
#[E.] Exit

In [ ]:
import tkinter as tk
r = tk.Tk()
r.title('Counting Seconds')
button = tk.Button(r, text='Stop', width=25, command=r.destroy)
button.pack()
r.mainloop()

TclError: ignored

In [ ]:
pip install tkinter

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
ERROR: Could not find a version that satisfies the requirement tkinter (from versions: none)
ERROR: No matching distribution found for tkinter

In [ ]:
# from sys import maxint
def maxSubArraySum(a, size):
    max_sum = 0
    local_sum = 0

    for i in range(0, size):
        local_sum = local_sum + a[i]
        if (max_sum < local_sum):
            max_sum = local_sum

        if local_sum < 0:
            local_sum = 0
    return max_sum
a = [-2, -3, 4, -1, -2, 1, 5, -3]
print("Maximum contiguous sum is", maxSubArraySum(a, len(a)))

Maximum contiguous sum is 7

In [ ]:
for i in range(1,8):
  for i in range(1,8-i):
    print(i,end = "")
  print()

123456
12345
1234
123
12
1

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
a = '''Artificial Intelligence (AI) is a field of computer science that deals with the development of intelligent machines that can perform tasks that would typically require human intelligence. These tasks can range from speech recognition, decision making, language translation, visual perception, and more.
AI technology relies on a combination of computer science, mathematics, and statistics to enable machines to learn and adapt from their experiences, making them more intelligent over time. Machine learning is one of the key areas of AI, which involves training algorithms to recognize patterns in large datasets.
AI has a wide range of applications across different industries, including healthcare, finance, transportation, and entertainment. For instance, AI can help doctors diagnose diseases more accurately, predict the stock market, and enable self-driving cars to navigate safely.
However, AI also poses significant ethical concerns, such as the potential loss of jobs to automation, the potential for AI to be used for malicious purposes, and the issue of bias in algorithms.
Overall, AI has the potential to revolutionize the way we live and work, but it is important to approach its development and use with caution to ensure that its benefits are realized while minimizing its potential risks.'''
len(a)

1311

In [ ]:
l = [-4,-1,0,3,10,11]
x = len(l)
index=0
while index<x:
  l[index]=l[index]*l[index]
  index=index+1
  l= l.sort()
print(l)

TypeError: ignored

In [ ]:
price = [8,10,8,8,8,8,10]
sumofprice = sum(price)
print(sumofprice)

60

TypeError: ignored

In [ ]:
l[0]

TypeError: ignored

In [ ]:
len(l)

TypeError: ignored

In [ ]:
arr1=[1,2,3,4,5]
arr2=arr1
arr2[0]=42
print(arr1[0])
type(arr2)

42

list

In [ ]:
id(arr1),id(arr2)

(140431543092032, 140431543092032)

In [ ]:
arr1 = [1,2,3,4]
arr2 = [5,6,7,8]
arr1=arr2
arr1[0] = 42
arr2[0]

42

In [ ]:
from pathlib import Path
import json as js
path = Path('Menu.json')
if path.is_file():
  f=open('Menu.json')
  fh=js.load(f)
  for i,j in fh.items():
    x=i
  print(x)
else:
  x = 100
  print(x)

100

In [ ]:
a = []
a.append(5)

In [ ]:
a.append(10)

In [ ]:
a.append(155)

In [ ]:
a = [[1,2,3,4],[5,6,7,8],[9,10,11,12]]
for i in a:
  print(i)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [ ]:
string = "edyoda"
index = -1
fnc = ""
for i in string:
    if string.count(i) == 1:
        fnc += i
        break
    else:
        index += 1
if index == 1:
    print("Either all characters are repeating or string is empty")
else:
    print("First non-repeating character is", fnc)

First non-repeating character is e

In [ ]:
# ticket id  name   movie name    show time      ticket price   booking time

In [ ]:
print(f'''
name                   father                   address            contact
{data['name']}         {data['fname']}''')

In [ ]:

ch=0
while ch!='n'and 'N':
  stdata_row={}
  stdata_row['studentId']=int(input("Enter student id : "))
  stdata_row['Name']=input("Enter student Name : ")
  stdata_row['Father Name']=input("Enter student Father Name : ")
  stdata_row['Class']=input("Enter student Class : ")
  stdata_row['Roll Number']=input("Enter student Roll Number : ")
  stdata.append(stdata_row)
  ch=input("Enter Another Record[Y/N]   :   ")

Enter student id : 1005
Enter student Name : bhupendra
Enter student Father Name : mohitlal
Enter student Class : X
Enter student Roll Number : 29
Enter Another Record[Y/N]   :   n

In [ ]:

f=open('/content/json_file.json','w')
js.dump(stdata,f)
f.close()

In [ ]:
for i in stdata:
  print(i)

{'studentId': 1003, 'Name': 'pramod', 'Father Name': 'pyare lal', 'Class': 'X', 'Roll Number': '27'}
{'studentId': 1004, 'Name': 'ramesh', 'Father Name': 'bhagwan das', 'Class': 'X', 'Roll Number': '28'}
{'studentId': 1005, 'Name': 'bhupendra', 'Father Name': 'mohitlal', 'Class': 'X', 'Roll Number': '29'}

In [ ]:
f=open('/content/json_file.json')
data=js.load(f)
for i in data:
  print(i)

FileNotFoundError: ignored

**12-12-2022 : json object and beautifulsoup**

In [ ]:
from bs4 import beautifulsoup

ImportError: ignored

In [ ]:
import json

json_obj="""{"name":"Rahul","Age":22,"Qualification":null,"Married":true}"""

#print(type(json_obj))
data=json.loads(json_obj)
print(data)

for i,j in data.items():
  print(i,j)

{'name': 'Rahul', 'Age': 22, 'Qualification': None, 'Married': True}
name Rahul
Age 22
Qualification None
Married True

In [ ]:
json_obj={"name":"Rahul","Age":22,"Qualification":None,"Married":True}

In [ ]:
# loads -> json object to dict convert
# dumps -> dict object to json obj convert


import json

json_obj="""{
  "name":"Rahul",
  "Age":22,
  "Qualification":null,
  "Married":true
}"""

data=json.loads(json_obj)
print(data)


f=open('isit.json','w')
file1=json.dumps(data)
print(file1)
f.write(file1)
f.close()

{'name': 'Rahul', 'Age': 22, 'Qualification': None, 'Married': True}
{"name": "Rahul", "Age": 22, "Qualification": null, "Married": true}

In [ ]:
json_obj={"name":"Rahul","Age":22,"Qualification":None,"Married":True}
converted=json.dumps(json_obj)
print(converted)

{"name": "Rahul", "Age": 22, "Qualification": null, "Married": true}

In [ ]:
pip install bs4

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: bs4 in /usr/local/lib/python3.8/dist-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.8/dist-packages (from bs4) (4.6.3)

In [ ]:
from bs4 import BeautifulSoup

In [ ]:

f=open('/content/student.xml')
soup=BeautifulSoup(f,"html.parser")


data=soup.find("name",{"id":"1"})
print(data.text)

data=soup.find("roll")
print(data)

data=soup.find_all("name",{"id":"1"})
print(data)

data=soup.find_all("roll")
print(data)


for i in data:
  print(i)

Rahul
<roll>1</roll>
[<name id="1">Rahul</name>]
[<roll>1</roll>, <roll>2</roll>, <roll>3</roll>, <roll>4</roll>, <roll>5</roll>]
<roll>1</roll>
<roll>2</roll>
<roll>3</roll>
<roll>4</roll>
<roll>5</roll>


**13-12-2022 : Collections(ChainMap,counter,orderDict,deque), Data and time**

In [ ]:
from collections import Counter as ctr

lst=["agra","agra","bhopal","agra","chennai","agra","chennai","bhopal","bhopal"]

#{'a':4,'b':3,'c':2}

#student = {"name":"rahul","father name": "Ramesh","Age":20}

counter_obj=ctr(lst)

print(counter_obj)

for k,v in counter_obj.items():
  print(k,v)

Counter({'agra': 4, 'bhopal': 3, 'chennai': 2})
agra 4
bhopal 3
chennai 2

In [ ]:
#counter_obj['d']=5
print(counter_obj)
counter_obj.items()
for i,j in counter_obj.items():
  print(i,j,end= " ")

In [ ]:
student = {"name":"rahul","father name": "Ramesh","Age":20}

In [ ]:
from collections import ChainMap

dict1={'a':1,'b':2}
dict2={'c':3,'d':4}
dict3={'e':5,'f':6}
dict4={'a':7,'h':8}

ChainMap_obj=ChainMap(dict1,dict2,dict3)
print(ChainMap_obj)

ChainMap({'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6})

In [ ]:
print(ChainMap_obj.items())
print(ChainMap_obj['d'])

ItemsView(ChainMap({'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6}))
4

In [ ]:
dict5 = {"z":26,"t":20}
ChainMap_obj=ChainMap_obj.new_child(ChainMap(dict4,dict5))
print(ChainMap_obj)
#print(ChainMap_obj['a'])
#print(ChainMap_obj['a'])
#for i,j in ChainMap_obj.items():
#    print(f'key :{i}, and Value :{j}')

ChainMap(ChainMap({'a': 7, 'h': 8}, {'z': 26, 't': 20}), {'a': 1, 'b': 2}, {'c': 3, 'd': 4}, {'e': 5, 'f': 6})

In [ ]:
help(ChainMap.new_child)

Help on function new_child in module collections:

new_child(self, m=None)
    New ChainMap with a new map followed by all previous maps.
    If no map is provided, an empty dict is used.

In [ ]:
from collections import OrderedDict


OrderedDict_obj=OrderedDict()

OrderedDict_obj['Name']='Rahul'
OrderedDict_obj['Father Name']='Ankit'
OrderedDict_obj['Age']=75
OrderedDict_obj['DOB']='15/07/1996'

print(OrderedDict_obj)





#emp={}

#emp['Name']='Amit'
#emp['Father Name']='Sumit'
#emp['Age']=45
#emp['Salary']=75000

OrderedDict([('Name', 'Rahul'), ('Father Name', 'Ankit'), ('Age', 75), ('DOB', '15/07/1996')])

In [ ]:

emp={}

emp['Name']='Amit'
emp['Father Name']='Sumit'
emp['Age']=45
emp['Salary']=75000
print(emp.items())

dict_items([('Name', 'Amit'), ('Father Name', 'Sumit'), ('Age', 45), ('Salary', 75000)])

In [ ]:
#deque
# queue -> FIFO

Link list
stack
queues
Time complisity
exceptions

Tree
graphs

In [ ]:
from collections import deque

deque_obj=deque([1,2,4,5,7,5,4,6])
print(deque_obj)

deque([1, 2, 4, 5, 7, 5, 4, 6])

In [ ]:

deque_obj.append(5)
print(deque_obj)

deque([1, 2, 4, 5, 7, 5, 4, 6, 5])

In [ ]:
deque_obj.pop()
print(deque_obj)

deque([1, 2, 4, 5, 7, 5, 4, 6])

In [ ]:
deque_obj.popleft()
print(deque_obj)

deque([2, 4, 5, 7, 5, 4, 6])

In [ ]:
deque_obj.appendleft(55)
print(deque_obj)

deque([55, 2, 4, 5, 7, 5, 4, 6])

In [ ]:
# Remaining topics

# Date and time-finished
# getter and setters
# dunders and magic, generators
# API - approx finished

In [ ]:
import datetime as dt
current = dt.datetime.now()
print(type(current))

<class 'datetime.datetime'>

In [ ]:
import datetime as dt
current = dt.datetime.now()
order = {}
order["order"]=["Pizza","Dosa","cold Drink"]
order['date'] = str(current.date())

print("Your Order : ",order)

Your Order :  {'order': ['Pizza', 'Dosa', 'cold Drink'], 'date': '2023-03-23'}

In [ ]:
import datetime as dt
current = dt.datetime.now()
order = {}
order["order"]=["Pizza","Dosa","cold Drink"]
order['date'] = str(current.today())

print("Your Order : ",order)

Your Order :  {'order': ['Pizza', 'Dosa', 'cold Drink'], 'date': '2023-03-23 12:59:08.119699'}

In [ ]:
dateOfTxn=str(current)
print(dateOfTxn)

2022-12-14 04:55:22.380124

In [ ]:
import requests
URL = "https://www.geeksforgeeks.org/data-structures/"
r = requests.get(URL)
print(r.content)

b'<!doctype html><html lang=en-us prefix="og: http://ogp.me/ns#"><meta charset=utf-8><meta name=keywords content="Data Structures,Algorithms,Python,Java,C,C++,JavaScript,Android Development,SQL,Data Science,Machine Learning,PHP,Web Development,System Design,Tutorial,Technical Blogs,Interview Experience,Interview Preparation,Programming,Competitive Programming,SDE Sheet,Job-a-thon,Coding Contests,GATE CSE,HTML,CSS,React,NodeJS,Placement,Aptitude,Quiz,Computer Science,Programming Examples,GeeksforGeeks Courses,Puzzles"><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1"><link rel="shortcut icon" href=https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_favicon.png type=image/x-icon><meta name=theme-color content="#308D46"><meta name=image property="og:image" content="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200x200-min.png"><meta property="og:image:type" content="image/png"><meta property="og:image:width" content="200"><meta property="og:image:height" content="200"><meta name=facebook-domain-verification content="xo7t4ve2wn3ywfkjdvwbrk01pvdond"><script defer src=https://apis.google.com/js/platform.js></script><script async src=//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js></script><title>Data Structures - GeeksforGeeks</title><link rel=profile href=http://gmpg.org/xfn/11><link rel=pingback href><script type=application/ld+json>{"@context":"http://schema.org","@type":"Organization","name":"GeeksforGeeks","url":"https://www.geeksforgeeks.org/","logo":"https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200817185016/gfg_complete_logo_2x-min.png","description":"A computer science portal for geeks. It contains well written, well thought and well explained computer science and programming articles, quizzes and practice/competitive programming/company interview Questions.","founder":[{"@type":"Person","name":"Sandeep Jain","url":"https://in.linkedin.com/in/sandeep-jain-b3940815"}],"sameAs":["https://www.facebook.com/geeksforgeeks.org/","https://twitter.com/geeksforgeeks","https://www.linkedin.com/company/1299009","https://www.youtube.com/geeksforgeeksvideos/"]}</script><script type=application/ld+json>{"@context":"https://schema.org","@type":"Article","mainEntityOfPage":{"@type":"WebPage","id":"https://www.geeksforgeeks.org/data-structures/"},"headline":"Data Structures","datePublished":"2014-02-01 08:16:50","dateModified":"2023-03-21 11:46:19","publisher":{"@type":"Organization","name":"GeeksforGeeks","logo":{"@type":"ImageObject","url":"https://media.geeksforgeeks.org/wp-content/cdn-uploads/logo-new-2.svg","width":"301","height":"40"}},"description":"Learn more about Data Structure in DSA Self Paced Course Practice Problems on all Data Structures Recent articles on Data Structures Some Quizzes on Data Structures What is Data Structure  A data structure is a storage that is used to store and organize data. It is a way of arranging"}</script><script>var arrPostCat=new Array,arrPostCatName="",tIds="",domain=1,arrPost=new Array,post_id="125686",post_type="page",post_slug=window.location.href,ip="35.86.3.250",post_title="Data Structures",post_status="publish",practiceAPIURL="https://practiceapi.geeksforgeeks.org/",practiceURL="https://practice.geeksforgeeks.org/",post_date="2014-02-01 20:16:50",commentSysUrl="https://discuss.geeksforgeeks.org/commentEmbedV2.js",link_on_code_run=\'\',link_search_modal_top=\'\',isAdminLoggedIn=0,postAdApiUrlString=\'\'</script><meta name=description content="Complete list of Data Structure, Practice Problems, Quizzes, Array, Linked List, Stack, Queue, Trees, Heap, Graph, Matrix, Advanced Data Structures"><link rel=canonical href=https://www.geeksforgeeks.org/data-structures/><meta property="og:locale" content="en_US"><meta property="og:type" content="article"><meta property="og:title" content="Data Structures - GeeksforGeeks"><meta property="og:description" content="Complete list of Data Structure, Practice Problems, Quizzes, Array, Linked List, Stack, Queue, Trees, Heap, Graph, Matrix, Advanced Data Structures"><meta property="og:url" content="https://www.geeksforgeeks.org/data-structures/"><meta property="og:site_name" content="GeeksforGeeks"><meta property="og:image" content="https://media.geeksforgeeks.org/wp-content/uploads/20220520182504/ClassificationofDataStructure-660x347.jpg"><meta property="og:image:secure_url" content="https://media.geeksforgeeks.org/wp-content/uploads/20220520182504/ClassificationofDataStructure-660x347.jpg"><meta property="og:image" content="https://media.geeksforgeeks.org/wp-content/uploads/array-2.png"><meta property="og:image:secure_url" content="https://media.geeksforgeeks.org/wp-content/uploads/array-2.png"><script type=application/ld+json>{"@context":"https:\\/\\/schema.org","@type":"Organization","url":"https:\\/\\/www.geeksforgeeks.org\\/","sameAs":[],"@id":"https:\\/\\/www.geeksforgeeks.org\\/#organization","name":"GeeksforGeeks","logo":"http:\\/\\/www.geeksforgeeks.org\\/wp-content\\/uploads\\/gfg_200X200-1.png"}</script><link rel=dns-prefetch href=//www.geeksforgeeks.org><link rel=dns-prefetch href=//s.w.org><link rel=alternate type=application/rss+xml title="GeeksforGeeks &#187; Feed" href=https://www.geeksforgeeks.org/feed/><link rel=alternate type=application/rss+xml title="GeeksforGeeks &#187; Comments Feed" href=https://www.geeksforgeeks.org/comments/feed/><link rel=alternate type=application/rss+xml title="GeeksforGeeks &#187; Data Structures Comments Feed" href=https://www.geeksforgeeks.org/data-structures/feed/><script>window._wpemojiSettings={baseUrl:"https://s.w.org/images/core/emoji/11/72x72/",ext:".png",svgUrl:"https://s.w.org/images/core/emoji/11/svg/",svgExt:".svg",source:{concatemoji:"https://www.geeksforgeeks.org/wp-includes/js/wp-emoji-release.min.js?ver=4.9.8"}},!function(k,f,a){function i(d,e){var a=String.fromCharCode,f,g;return c.clearRect(0,0,b.width,b.height),c.fillText(a.apply(this,d),0,0),f=b.toDataURL(),c.clearRect(0,0,b.width,b.height),c.fillText(a.apply(this,e),0,0),g=b.toDataURL(),f===g}function l(b){var a;if(!c||!c.fillText)return!1;switch(c.textBaseline="top",c.font="600 32px Arial",b){case"flag":return!(a=i([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(a=i([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!a);case"emoji":return a=i([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!a}return!1}function j(b){var a=f.createElement("script");a.src=b,a.defer=a.type="text/javascript",f.getElementsByTagName("head")[0].appendChild(a)}var e,h,d,g,b=f.createElement("canvas"),c=b.getContext&&b.getContext("2d");for(g=Array("flag","emoji"),a.supports={everything:!0,everythingExceptFlag:!0},d=0;d<g.length;d++)a.supports[g[d]]=l(g[d]),a.supports.everything=a.supports.everything&&a.supports[g[d]],"flag"!==g[d]&&(a.supports.everythingExceptFlag=a.supports.everythingExceptFlag&&a.supports[g[d]]);a.supports.everythingExceptFlag=a.supports.everythingExceptFlag&&!a.supports.flag,a.DOMReady=!1,a.readyCallback=function(){a.DOMReady=!0},a.supports.everything||(h=function(){a.readyCallback()},f.addEventListener?(f.addEventListener("DOMContentLoaded",h,!1),k.addEventListener("load",h,!1)):(k.attachEvent("onload",h),f.attachEvent("onreadystatechange",function(){"complete"===f.readyState&&a.readyCallback()})),e=a.source||{},e.concatemoji?j(e.concatemoji):e.wpemoji&&e.twemoji&&(j(e.twemoji),j(e.wpemoji)))}(window,document,window._wpemojiSettings)</script><style>img.wp-smiley,img.emoji{display:inline!important;border:none!important;box-shadow:none!important;height:1em!important;width:1em!important;margin:0 .07em!important;vertical-align:-.1em!important;background:0 0!important;padding:0!important}</style><link rel=stylesheet id=custom-style-css href="https://www.geeksforgeeks.org/wp-content/themes/iconic-one/css/gfg.min.css?ver=10.27" media=all><script src="https://code.jquery.com/jquery-3.6.3.min.js?ver=3.6.3"></script><script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js?ver=3.0.0"></script><script>var gfgObject={authUrl:"https://auth.geeksforgeeks.org/",writeApiUrl:"https://apiwrite.geeksforgeeks.org/",writeUrl:"https://write.geeksforgeeks.org/",utilUrl:"https://util.geeksforgeeks.org/",apiUrl:"https://api.geeksforgeeks.org/",cfApiUrl:"https://gfgapi.geeksforgeeks.org/",baseCompilerURL:"https://codejudge.geeksforgeeks.org/",idePageBaseUrl:"https://ide.geeksforgeeks.org/",gfgApiScriptUrl:"https://apiscript.geeksforgeeks.org/",gfgSiteUrl:"https://www.geeksforgeeks.org/",curatedListId:"1",curatedListTitle:"SDE Sheet Problems",utilDjangoCfUrl:"https://utilapi.geeksforgeeks.org/"}</script><script async src="https://www.geeksforgeeks.org/wp-content/themes/iconic-one/js/gfg.min.js?ver=11.67"></script><link rel=https://api.w.org/ href=https://www.geeksforgeeks.org/wp-json/><link rel=edituri type=application/rsd+xml title=RSD href=https://www.cdn.geeksforgeeks.org/xmlrpc.php?rsd><link rel=wlwmanifest type=application/wlwmanifest+xml href=https://www.cdn.geeksforgeeks.org/wp-includes/wlwmanifest.xml><meta name=generator content="WordPress 4.9.8"><link rel=shortlink href="https://www.geeksforgeeks.org/?p=125686"><link rel=alternate type=application/json+oembed href="https://www.geeksforgeeks.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.geeksforgeeks.org%2Fdata-structures%2F"><link rel=alternate type=text/xml+oembed href="https://www.geeksforgeeks.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.geeksforgeeks.org%2Fdata-structures%2F&format=xml"><style>#wpadminbar{background:red!important}</style><style id=custom-background-css>body.custom-background{background-color:#fff}</style><style id=syntaxhighlighteranchor></style><link rel=icon href=https://www.geeksforgeeks.org/wp-content/uploads/gfg_200X200-100x100.png sizes=32x32><link rel=icon href=https://www.geeksforgeeks.org/wp-content/uploads/gfg_200X200.png sizes=192x192><link rel=apple-touch-icon-precomposed href=https://www.geeksforgeeks.org/wp-content/uploads/gfg_200X200.png><meta name=msapplication-TileImage content="https://www.geeksforgeeks.org/wp-content/uploads/gfg_200X200.png"><script async src=https://www.googletagservices.com/tag/js/gpt.js></script><script async src="https://www.geeksforgeeks.org/wp-content/themes/iconic-one/js/prebid.js?ver=1.3"></script><script async src="https://cdnads.geeksforgeeks.org/gfg_ads.min.js?ver=0.1"></script><style>@media(max-width:1043px) and (min-width:992px){.hide-1043992{display:none!important}}</style><script>(function(b,d,e,a,g){b[a]=b[a]||[],b[a].push({\'gtm.start\':(new Date).getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(e)[0],c=d.createElement(e),h=a!=\'dataLayer\'?\'&l=\'+a:\'\';c.async=!0,c.src=\'https://www.googletagmanager.com/gtm.js?id=\'+g+h,f.parentNode.insertBefore(c,f)})(window,document,\'script\',\'dataLayer\',\'GTM-KDVRCT5\')</script><script async src="https://www.googletagmanager.com/gtag/js?id=G-DWCCJLKX3X"></script><script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag(\'js\',new Date),gtag(\'config\',\'AW-474915276\'),gtag(\'config\',\'G-DWCCJLKX3X\'),gtag(\'config\',\'AW-796001856\')</script><body class="page-template-default page page-id-125686 page-parent custom-background custom-background-white"><script>const gfgThemeList=Object.freeze({LIGHT:"gfgThemeLight",DARK:"gfgThemeDark"}),getThemeFromCookie=()=>{let a="",c=document.cookie,b=c.split(";");for(let c=0;c<b.length;c++){let d=b[c].split("=");d[0].trim()=="gfg_theme"&&(a=d[1].trim())}return a};var isDarkMode=getThemeFromCookie()==gfgThemeList.DARK;document.querySelector("body").setAttribute("data-dark-mode",isDarkMode)</script><div class=header-main__wrapper><a class=gfg-stc style=top:0 href=#main>Skip to content</a>\n<a href=https://www.geeksforgeeks.org/ aria-label=Logo class=header-main__logo><div class=_logo><img class=gfg_logo_img src=https://media.geeksforgeeks.org/gfg-gg-logo.svg alt=geeksforgeeks></div></a><div class=header-main__container><span class=hamburger-menu><span class=gfg-burger-1></span><span class=gfg-burger-2></span><span class=gfg-burger-3></span></span><ul class=header-main__list><li class=header-main__list-item data-parent=false aria-expanded=true data-expandable=true><span>Courses</span><i class="gfg-icon gfg-icon_arrow-down gfg-icon_header"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>For Working Professionals</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/geeks-classes-live?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Data Structure & Algorithm Classes (Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/system-design-live?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>System Design (Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/devops-live?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>DevOps(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/category/all?courseType=live&utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Explore More Live Courses</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>For Students</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/complete-interview-preparation?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Interview Preparation Course</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/data-science-live?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Data Science (Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/gate-live-course/?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>GATE CS & IT 2024</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/dsa-self-paced?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Data Structure & Algorithm-Self Paced(C++/JAVA)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/Data-Structures-With-Python?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Data Structures & Algorithms in Python</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/category/all?courseType=online&utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Explore More Self-Paced Courses</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>Programming Languages</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/cpp-stl?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>C++ Programming - Beginner to Advanced</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/Java-Foundation?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Java Programming - Beginner to Advanced</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/c-foundation?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>C Programming - Beginner to Advanced</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>Web Development</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/full-stack-node?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Full Stack Development with React & Node JS(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/Java-backend-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Java Backend Development(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/android-dev-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Android App Development with Kotlin(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/py-dev-django?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Python Backend Development with Django(Live)</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>Machine Learning and Data Science</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/data-science-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Complete Data Science Program(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/dpa-self-paced?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Mastering Data Analytics</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>New Courses</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/py-dev-django?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Python Backend Development with Django(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/android-dev-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Android App Development with Kotlin(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/devops-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses

In [ ]:
headers = {'User-Agent': "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/42.0.2311.135 Safari/537.36 Edge/12.246"}
# Here the user agent is for Edge browser on windows 10. You can find your browser user agent from the above given link.
r = requests.get(url=URL, headers=headers)
print(r.content)

b'<!doctype html><html lang=en-us prefix="og: http://ogp.me/ns#"><meta charset=utf-8><meta name=keywords content="Data Structures,Algorithms,Python,Java,C,C++,JavaScript,Android Development,SQL,Data Science,Machine Learning,PHP,Web Development,System Design,Tutorial,Technical Blogs,Interview Experience,Interview Preparation,Programming,Competitive Programming,SDE Sheet,Job-a-thon,Coding Contests,GATE CSE,HTML,CSS,React,NodeJS,Placement,Aptitude,Quiz,Computer Science,Programming Examples,GeeksforGeeks Courses,Puzzles"><meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1"><link rel="shortcut icon" href=https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_favicon.png type=image/x-icon><meta name=theme-color content="#308D46"><meta name=image property="og:image" content="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200x200-min.png"><meta property="og:image:type" content="image/png"><meta property="og:image:width" content="200"><meta property="og:image:height" content="200"><meta name=facebook-domain-verification content="xo7t4ve2wn3ywfkjdvwbrk01pvdond"><script defer src=https://apis.google.com/js/platform.js></script><script async src=//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.14/require.min.js></script><title>Data Structures - GeeksforGeeks</title><link rel=profile href=http://gmpg.org/xfn/11><link rel=pingback href><script type=application/ld+json>{"@context":"http://schema.org","@type":"Organization","name":"GeeksforGeeks","url":"https://www.geeksforgeeks.org/","logo":"https://media.geeksforgeeks.org/wp-content/cdn-uploads/20200817185016/gfg_complete_logo_2x-min.png","description":"A computer science portal for geeks. It contains well written, well thought and well explained computer science and programming articles, quizzes and practice/competitive programming/company interview Questions.","founder":[{"@type":"Person","name":"Sandeep Jain","url":"https://in.linkedin.com/in/sandeep-jain-b3940815"}],"sameAs":["https://www.facebook.com/geeksforgeeks.org/","https://twitter.com/geeksforgeeks","https://www.linkedin.com/company/1299009","https://www.youtube.com/geeksforgeeksvideos/"]}</script><script type=application/ld+json>{"@context":"https://schema.org","@type":"Article","mainEntityOfPage":{"@type":"WebPage","id":"https://www.geeksforgeeks.org/data-structures/"},"headline":"Data Structures","datePublished":"2014-02-01 08:16:50","dateModified":"2023-03-21 11:46:19","publisher":{"@type":"Organization","name":"GeeksforGeeks","logo":{"@type":"ImageObject","url":"https://media.geeksforgeeks.org/wp-content/cdn-uploads/logo-new-2.svg","width":"301","height":"40"}},"description":"Learn more about Data Structure in DSA Self Paced Course Practice Problems on all Data Structures Recent articles on Data Structures Some Quizzes on Data Structures What is Data Structure  A data structure is a storage that is used to store and organize data. It is a way of arranging"}</script><script>var arrPostCat=new Array,arrPostCatName="",tIds="",domain=1,arrPost=new Array,post_id="125686",post_type="page",post_slug=window.location.href,ip="35.86.3.250",post_title="Data Structures",post_status="publish",practiceAPIURL="https://practiceapi.geeksforgeeks.org/",practiceURL="https://practice.geeksforgeeks.org/",post_date="2014-02-01 20:16:50",commentSysUrl="https://discuss.geeksforgeeks.org/commentEmbedV2.js",link_on_code_run=\'\',link_search_modal_top=\'\',isAdminLoggedIn=0,postAdApiUrlString=\'\'</script><meta name=description content="Complete list of Data Structure, Practice Problems, Quizzes, Array, Linked List, Stack, Queue, Trees, Heap, Graph, Matrix, Advanced Data Structures"><link rel=canonical href=https://www.geeksforgeeks.org/data-structures/><meta property="og:locale" content="en_US"><meta property="og:type" content="article"><meta property="og:title" content="Data Structures - GeeksforGeeks"><meta property="og:description" content="Complete list of Data Structure, Practice Problems, Quizzes, Array, Linked List, Stack, Queue, Trees, Heap, Graph, Matrix, Advanced Data Structures"><meta property="og:url" content="https://www.geeksforgeeks.org/data-structures/"><meta property="og:site_name" content="GeeksforGeeks"><meta property="og:image" content="https://media.geeksforgeeks.org/wp-content/uploads/20220520182504/ClassificationofDataStructure-660x347.jpg"><meta property="og:image:secure_url" content="https://media.geeksforgeeks.org/wp-content/uploads/20220520182504/ClassificationofDataStructure-660x347.jpg"><meta property="og:image" content="https://media.geeksforgeeks.org/wp-content/uploads/array-2.png"><meta property="og:image:secure_url" content="https://media.geeksforgeeks.org/wp-content/uploads/array-2.png"><script type=application/ld+json>{"@context":"https:\\/\\/schema.org","@type":"Organization","url":"https:\\/\\/www.geeksforgeeks.org\\/","sameAs":[],"@id":"https:\\/\\/www.geeksforgeeks.org\\/#organization","name":"GeeksforGeeks","logo":"http:\\/\\/www.geeksforgeeks.org\\/wp-content\\/uploads\\/gfg_200X200-1.png"}</script><link rel=dns-prefetch href=//www.geeksforgeeks.org><link rel=dns-prefetch href=//s.w.org><link rel=alternate type=application/rss+xml title="GeeksforGeeks &#187; Feed" href=https://www.geeksforgeeks.org/feed/><link rel=alternate type=application/rss+xml title="GeeksforGeeks &#187; Comments Feed" href=https://www.geeksforgeeks.org/comments/feed/><link rel=alternate type=application/rss+xml title="GeeksforGeeks &#187; Data Structures Comments Feed" href=https://www.geeksforgeeks.org/data-structures/feed/><script>window._wpemojiSettings={baseUrl:"https://s.w.org/images/core/emoji/11/72x72/",ext:".png",svgUrl:"https://s.w.org/images/core/emoji/11/svg/",svgExt:".svg",source:{concatemoji:"https://www.geeksforgeeks.org/wp-includes/js/wp-emoji-release.min.js?ver=4.9.8"}},!function(k,f,a){function i(d,e){var a=String.fromCharCode,f,g;return c.clearRect(0,0,b.width,b.height),c.fillText(a.apply(this,d),0,0),f=b.toDataURL(),c.clearRect(0,0,b.width,b.height),c.fillText(a.apply(this,e),0,0),g=b.toDataURL(),f===g}function l(b){var a;if(!c||!c.fillText)return!1;switch(c.textBaseline="top",c.font="600 32px Arial",b){case"flag":return!(a=i([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(a=i([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!a);case"emoji":return a=i([55358,56760,9792,65039],[55358,56760,8203,9792,65039]),!a}return!1}function j(b){var a=f.createElement("script");a.src=b,a.defer=a.type="text/javascript",f.getElementsByTagName("head")[0].appendChild(a)}var e,h,d,g,b=f.createElement("canvas"),c=b.getContext&&b.getContext("2d");for(g=Array("flag","emoji"),a.supports={everything:!0,everythingExceptFlag:!0},d=0;d<g.length;d++)a.supports[g[d]]=l(g[d]),a.supports.everything=a.supports.everything&&a.supports[g[d]],"flag"!==g[d]&&(a.supports.everythingExceptFlag=a.supports.everythingExceptFlag&&a.supports[g[d]]);a.supports.everythingExceptFlag=a.supports.everythingExceptFlag&&!a.supports.flag,a.DOMReady=!1,a.readyCallback=function(){a.DOMReady=!0},a.supports.everything||(h=function(){a.readyCallback()},f.addEventListener?(f.addEventListener("DOMContentLoaded",h,!1),k.addEventListener("load",h,!1)):(k.attachEvent("onload",h),f.attachEvent("onreadystatechange",function(){"complete"===f.readyState&&a.readyCallback()})),e=a.source||{},e.concatemoji?j(e.concatemoji):e.wpemoji&&e.twemoji&&(j(e.twemoji),j(e.wpemoji)))}(window,document,window._wpemojiSettings)</script><style>img.wp-smiley,img.emoji{display:inline!important;border:none!important;box-shadow:none!important;height:1em!important;width:1em!important;margin:0 .07em!important;vertical-align:-.1em!important;background:0 0!important;padding:0!important}</style><link rel=stylesheet id=custom-style-css href="https://www.geeksforgeeks.org/wp-content/themes/iconic-one/css/gfg.min.css?ver=10.27" media=all><script src="https://code.jquery.com/jquery-3.6.3.min.js?ver=3.6.3"></script><script src="https://code.jquery.com/jquery-migrate-3.0.0.min.js?ver=3.0.0"></script><script>var gfgObject={authUrl:"https://auth.geeksforgeeks.org/",writeApiUrl:"https://apiwrite.geeksforgeeks.org/",writeUrl:"https://write.geeksforgeeks.org/",utilUrl:"https://util.geeksforgeeks.org/",apiUrl:"https://api.geeksforgeeks.org/",cfApiUrl:"https://gfgapi.geeksforgeeks.org/",baseCompilerURL:"https://codejudge.geeksforgeeks.org/",idePageBaseUrl:"https://ide.geeksforgeeks.org/",gfgApiScriptUrl:"https://apiscript.geeksforgeeks.org/",gfgSiteUrl:"https://www.geeksforgeeks.org/",curatedListId:"1",curatedListTitle:"SDE Sheet Problems",utilDjangoCfUrl:"https://utilapi.geeksforgeeks.org/"}</script><script async src="https://www.geeksforgeeks.org/wp-content/themes/iconic-one/js/gfg.min.js?ver=11.67"></script><link rel=https://api.w.org/ href=https://www.geeksforgeeks.org/wp-json/><link rel=edituri type=application/rsd+xml title=RSD href=https://www.cdn.geeksforgeeks.org/xmlrpc.php?rsd><link rel=wlwmanifest type=application/wlwmanifest+xml href=https://www.cdn.geeksforgeeks.org/wp-includes/wlwmanifest.xml><meta name=generator content="WordPress 4.9.8"><link rel=shortlink href="https://www.geeksforgeeks.org/?p=125686"><link rel=alternate type=application/json+oembed href="https://www.geeksforgeeks.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.geeksforgeeks.org%2Fdata-structures%2F"><link rel=alternate type=text/xml+oembed href="https://www.geeksforgeeks.org/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.geeksforgeeks.org%2Fdata-structures%2F&format=xml"><style>#wpadminbar{background:red!important}</style><style id=custom-background-css>body.custom-background{background-color:#fff}</style><style id=syntaxhighlighteranchor></style><link rel=icon href=https://www.geeksforgeeks.org/wp-content/uploads/gfg_200X200-100x100.png sizes=32x32><link rel=icon href=https://www.geeksforgeeks.org/wp-content/uploads/gfg_200X200.png sizes=192x192><link rel=apple-touch-icon-precomposed href=https://www.geeksforgeeks.org/wp-content/uploads/gfg_200X200.png><meta name=msapplication-TileImage content="https://www.geeksforgeeks.org/wp-content/uploads/gfg_200X200.png"><script async src=https://www.googletagservices.com/tag/js/gpt.js></script><script async src="https://www.geeksforgeeks.org/wp-content/themes/iconic-one/js/prebid.js?ver=1.3"></script><script async src="https://cdnads.geeksforgeeks.org/gfg_ads.min.js?ver=0.1"></script><style>@media(max-width:1043px) and (min-width:992px){.hide-1043992{display:none!important}}</style><script>(function(b,d,e,a,g){b[a]=b[a]||[],b[a].push({\'gtm.start\':(new Date).getTime(),event:\'gtm.js\'});var f=d.getElementsByTagName(e)[0],c=d.createElement(e),h=a!=\'dataLayer\'?\'&l=\'+a:\'\';c.async=!0,c.src=\'https://www.googletagmanager.com/gtm.js?id=\'+g+h,f.parentNode.insertBefore(c,f)})(window,document,\'script\',\'dataLayer\',\'GTM-KDVRCT5\')</script><script async src="https://www.googletagmanager.com/gtag/js?id=G-DWCCJLKX3X"></script><script>window.dataLayer=window.dataLayer||[];function gtag(){dataLayer.push(arguments)}gtag(\'js\',new Date),gtag(\'config\',\'AW-474915276\'),gtag(\'config\',\'G-DWCCJLKX3X\'),gtag(\'config\',\'AW-796001856\')</script><body class="page-template-default page page-id-125686 page-parent custom-background custom-background-white"><script>const gfgThemeList=Object.freeze({LIGHT:"gfgThemeLight",DARK:"gfgThemeDark"}),getThemeFromCookie=()=>{let a="",c=document.cookie,b=c.split(";");for(let c=0;c<b.length;c++){let d=b[c].split("=");d[0].trim()=="gfg_theme"&&(a=d[1].trim())}return a};var isDarkMode=getThemeFromCookie()==gfgThemeList.DARK;document.querySelector("body").setAttribute("data-dark-mode",isDarkMode)</script><div class=header-main__wrapper><a class=gfg-stc style=top:0 href=#main>Skip to content</a>\n<a href=https://www.geeksforgeeks.org/ aria-label=Logo class=header-main__logo><div class=_logo><img class=gfg_logo_img src=https://media.geeksforgeeks.org/gfg-gg-logo.svg alt=geeksforgeeks></div></a><div class=header-main__container><span class=hamburger-menu><span class=gfg-burger-1></span><span class=gfg-burger-2></span><span class=gfg-burger-3></span></span><ul class=header-main__list><li class=header-main__list-item data-parent=false aria-expanded=true data-expandable=true><span>Courses</span><i class="gfg-icon gfg-icon_arrow-down gfg-icon_header"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>For Working Professionals</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/geeks-classes-live?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Data Structure & Algorithm Classes (Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/system-design-live?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>System Design (Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/devops-live?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>DevOps(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/category/all?courseType=live&utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Explore More Live Courses</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>For Students</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/complete-interview-preparation?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Interview Preparation Course</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/data-science-live?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Data Science (Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/gate-live-course/?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>GATE CS & IT 2024</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/dsa-self-paced?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Data Structure & Algorithm-Self Paced(C++/JAVA)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/Data-Structures-With-Python?utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Data Structures & Algorithms in Python</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/category/all?courseType=online&utm_source=gfg&utm_medium=Submenu&utm_campaign=courses-submenu" target=_self>Explore More Self-Paced Courses</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>Programming Languages</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/cpp-stl?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>C++ Programming - Beginner to Advanced</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/Java-Foundation?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Java Programming - Beginner to Advanced</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/c-foundation?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>C Programming - Beginner to Advanced</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>Web Development</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/full-stack-node?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Full Stack Development with React & Node JS(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/Java-backend-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Java Backend Development(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/android-dev-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Android App Development with Kotlin(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/py-dev-django?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Python Backend Development with Django(Live)</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>Machine Learning and Data Science</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/data-science-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Complete Data Science Program(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/dpa-self-paced?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Mastering Data Analytics</a></li></ul></li><li class=mega-dropdown__list-item data-parent=true aria-expanded=true data-expandable=true><span>New Courses</span><i class="gfg-icon gfg-icon_arrow-right"></i><ul class=mega-dropdown><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/py-dev-django?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Python Backend Development with Django(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/android-dev-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses-submenu" target=_self>Android App Development with Kotlin(Live)</a></li><li class=mega-dropdown__list-item data-child=true aria-expanded=false data-expandable=false><a href="https://practice.geeksforgeeks.org/courses/devops-live?utm_source=geeksforgeeks&utm_medium=submenu_22&utm_campaign=courses

In [ ]:
import requests
from bs4 import BeautifulSoup
  
URL = "http://www.values.com/inspirational-quotes"
r = requests.get(URL)
  
soup = BeautifulSoup(r.content, 'html5lib') # If this line causes an error, run 'pip install html5lib' or install html5lib
print(soup.prettify())

<!DOCTYPE html>
<html class="no-js" dir="ltr" lang="en-US">
 <head>
  <meta charset="utf-8"/>
  <meta content="text/html; charset=utf-8" http-equiv="content-type"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width,initial-scale=1.0" name="viewport"/>
  <title>
   Inspirational Quotes - Motivational Quotes - | The Foundation for a Better Life
  </title>
  <meta content="Find the perfect quotation from our hand-picked collection of inspiring quotes by hundreds of authors." name="description"/>
  <meta content="pass, it, on, passiton, values, kindness" name="keywords"/>
  <meta content="The Foundation for a Better Life" name="twitter:site_name"/>
  <meta content="@passiton_values" name="twitter:site"/>
  <meta content="summary" name="twitter:card"/>
  <meta content="Thank you for visiting." name="twitter:description"/>
  <meta content="https://www.passiton.com/passiton_fbl.jpg" name="twitter:image"/>
  <meta content="https://www.passiton.com/inspirational-quotes" property="og:url"/>
  <meta content="The Foundation for a Better Life" property="og:site_name"/>
  <meta content="Welcome to PassItOn.com" property="og:title"/>
  <meta content="https://www.passiton.com/passiton_fbl.jpg" property="og:image"/>
  <meta content="Thank you for visiting." property="og:description"/>
  <meta content="website" property="og:type"/>
  <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/site.webmanifest" rel="manifest"/>
  <link color="#c8102e" href="/safari-pinned-tab.svg" rel="mask-icon"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="#ffffff" name="theme-color"/>
  <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet"/>
  <link data-turbo-track="reload" href="/assets/application-38427720f61b811fb76e2b47842105c506beb1b4ead60816a63acbc3010e5090.css" rel="stylesheet"/>
  <meta content="authenticity_token" name="csrf-param"/>
  <meta content="whdsxXbk9cI3LEX7aZkCsL26oEaAhpEGLo_gVSHY-fOKCZELqKSHrJvl3d8X4ndltjpssaBIkKSnTkdvpzdKEA" name="csrf-token"/>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-1179606-29">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-1179606-29');
  </script>
  <script>
   window.fbAsyncInit = function() {
      FB.init({
        appId            : '483774921971842',
        autoLogAppEvents : true,
        xfbml            : true,
        version          : 'v6.0'
      });
    };
  </script>
  <script async="" defer="" src="https://connect.facebook.net/en_US/sdk.js">
  </script>
  <meta content="483774921971842" property="fb:app_id"/>
  <link href="https://www.passiton.com/inspirational-quotes.atom" rel="alternate" title="RSS" type="application/rss+xml"/>
  <!-- Google Tag Manager -->
  <script>
   (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-WGXT9QJ');
  </script>
  <!-- End Google Tag Manager -->
 </head>
 <body class="no-transition quotes_index">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
   <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-WGXT9QJ" style="display:none;visibility:hidden" width="0">
   </iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header>
   <nav class="navbar navbar-default bootsnav background-transparent header-dark white-link navbar-fixed-top navbar-expand-lg nav-box-width">
    <div class="container-fluid nav-header-container">
     <div class="col-auto pl-0">
      <a class="logo" href="/" title="Pass It On®">
       <img alt="Pass It On" class="logo-dark" data-rjs="/assets/site/logo@2x-9d23e0957dd55796d7703439c50bc254ab2499f99c40f36603e12ede1b4171f0.png" src="/assets/site/logo-1be5a8827b761a60c300142c5126fc96abc085520555801120a17feb4fa49495.png"/>
       <img alt="Pass It On" class="logo-light default" data-rjs="/assets/site/logo-white@2x-52919a88e1cc19ef3bf0977d9618e8428645f46fac094c1925aa0898381647f3.png" src="/assets/site/logo-white-c2e757031d75c9b2cbfe36fb361278a725b48f39566e2c4032ac0f77e5c0b7ab.png"/>
      </a>
     </div>
     <div class="col accordion-menu pr-0 pr-md-3">
      <button class="navbar-toggler collapsed" data-target="#navbar-collapse-toggle-1" data-toggle="collapse" type="button">
       <span class="sr-only">
        toggle navigation
       </span>
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
       <span class="icon-bar">
       </span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbar-collapse-toggle-1">
       <ul class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut" id="accordion">
        <li>
         <a href="/inspirational-quotes">
          Quotes
         </a>
        </li>
        <li class="dropdown simple-dropdown">
         <a href="/inspirational-stories-tv-spots">
          Videos
          <i aria-hidden="true" class="fas fa-caret-down d-none d-lg-inline">
          </i>
         </a>
         <i aria-hidden="true" class="fas fa-caret-down dropdown-toggle" data-toggle="dropdown">
         </i>
         <ul class="dropdown-menu" role="menu">
          <li>
           <a href="/inspirational-stories-tv-spots">
            Official Pass It On® Videos
           </a>
          </li>
          <li>
           <a href="/artcenter-psas">
            ArtCenter College of Design PSAs
           </a>
          </li>
         </ul>
        </li>
        <li class="dropdown simple-dropdown">
         <a href="/inspirational-sayings-billboards">
          Billboards
          <i aria-hidden="true" class="fas fa-caret-down d-none d-lg-inline">
          </i>
         </a>
         <i aria-hidden="true" class="fas fa-caret-down dropdown-toggle" data-toggle="dropdown">
         </i>
         <ul class="dropdown-menu" role="menu">
          <li>
           <a href="/inspirational-sayings-billboards">
            Official Billboards
           </a>
          </li>
          <li>
           <a href="/is-in-you">
            Is In You® Billboards
           </a>
          </li>
          <li>
           <a href="/your-billboards">
            Create Your Own Billboard
           </a>
          </li>
         </ul>
        </li>
        <li>
         <a href="/positive-good-news-columns">
          Newspapers
         </a>
        </li>
        <li>
         <a href="/radio">
          Radio
         </a>
        </li>
        <li>
         <a href="/passiton-blog">
          Blog
         </a>
        </li>
        <li>
         <a href="/poster-requests/new">
          Schools
         </a>
        </li>
        <li class="dropdown simple-dropdown">
         <a href="#">
          <i aria-hidden="true" class="fas fa-globe d-none d-lg-inline text-normal">
          </i>
          <i aria-hidden="true" class="fas fa-caret-down d-none d-lg-inline">
          </i>
         </a>
         <i aria-hidden="true" class="fas fa-caret-down dropdown-toggle" data-toggle="dropdown">
         </i>
         <ul class="dropdown-menu" role="menu">
          <li>
           <a href="https://www.pasala.org/" target="_blank">
            Spanish | Español
           </a>
          </li>
          <li>
           <a href="https://www.umavidamelhor.org/" target="_blank">
            Portuguese | Português
           </a>
          </li>
          <li>
           <a href="https://www.values.cn.com/" target="_blank">
            Chinese | 中文
           </a>
          </li>
         </ul>
        </li>
       </ul>
      </div>
     </div>
     <div class="col-auto pr-0">
      <div class="header-searchbar">
       <a aria-label="search form" class="header-search-form" href="#search-header">
        <i class="fas fa-search search-button">
        </i>
       </a>
       <form action="/search" class="mfp-hide search-form-result" id="search-header" method="post" name="search-header">
        <div class="search-form position-relative">
         <button aria-label="Search" class="fas fa-search close-search search-button" type="submit">
         </button>
         <input autocomplete="off" class="search-input" name="q" placeholder="Search passiton.com..." type="text"/>
        </div>
       </form>
      </div>
     </div>
    </div>
   </nav>
  </header>
  <section class="parallax padding-six-all bg-black" data-stellar-background-ratio="0.2" style="background-image:url('/assets/backgrounds/flowers-7e362d59b798265063c210d16ea800b6fb4c3b13e462fbfe195df7c70c9811ce.jpg');">
   <div class="container">
    <div class="row justify-content-center">
     <div class="col-12 col-lg-10 text-center">
      <div class="shadow bg-extra-dark-gray padding-two-all border-radius-6 width-70 lg-width-80 sm-width-100 mx-auto lg-padding-30px-all sm-padding-15px-all sm-margin-40px-top">
       <h6 class="font-weight-300 text-white-2 margin-20px-bottom sm-margin-15px-bottom">
        Get our FREE daily quote emails!
       </h6>
       <p class="text-medium text-white-2 width-70 mx-auto margin-40px-bottom sm-width-100 sm-margin-15px-bottom">
        Get a daily inspirational quote in your inbox each weekday! Enter your email below to subscribe.
       </p>
       <form accept-charset="UTF-8" action="/users" class="simple_form search-box3 margin-10px-bottom" id="new_user" method="post" novalidate="novalidate">
        <input autocomplete="off" name="authenticity_token" type="hidden" value="J-uDy97gewQpdy8QeZQyAOCYrCFejtkGoBsrhsBqYbrc6_YR2pRE9xO9TKFrJ6wsIMbf2c__ffUuMwcZkkxVWA"/>
        <script src="https://www.recaptcha.net/recaptcha/api.js?render=6Ldta8EUAAAAACp3yt76yG8QWMdQkpDBkP1bcHi6">
        </script>
        <script>
         // Define function so that we can call it again later if we need to reset it
          // This executes reCAPTCHA and then calls our callback.
          function executeRecaptchaForSignup() {
            grecaptcha.ready(function() {
              grecaptcha.execute('6Ldta8EUAAAAACp3yt76yG8QWMdQkpDBkP1bcHi6', {action: 'signup'}).then(function(token) {
                setInputWithRecaptchaResponseTokenForSignup('g-recaptcha-response-data-signup', token)
              });
            });
          };
          // Invoke immediately
          executeRecaptchaForSignup()

          // Async variant so you can await this function from another async function (no need for
          // an explicit callback function then!)
          // Returns a Promise that resolves with the response token.
          async function executeRecaptchaForSignupAsync() {
            return new Promise((resolve, reject) => {
             grecaptcha.ready(async function() {
                resolve(await grecaptcha.execute('6Ldta8EUAAAAACp3yt76yG8QWMdQkpDBkP1bcHi6', {action: 'signup'}))
              });
            })
          };

                    var setInputWithRecaptchaResponseTokenForSignup = function(id, token) {
            var element = document.getElementById(id);
            element.value = token;
          }
        </script>
        <input class="g-recaptcha g-recaptcha-response" data-sitekey="6Ldta8EUAAAAACp3yt76yG8QWMdQkpDBkP1bcHi6" id="g-recaptcha-response-data-signup" name="g-recaptcha-response-data[signup]" type="hidden"/>
        <div class="input-group add-on width-75 mx-auto sm-width-100">
         <input class="string email optional form-control text-white" id="user_email" label="false" name="user[email]" placeholder="you@youremail.com" type="text" value=""/>
         <div class="input-group-append">
          <button aria-label="Submit" class="btn btn-default" type="submit">
           <i class="ti-arrow-right text-small m-0">
           </i>
          </button>
         </div>
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
  </section>
  <section class="half-section bg-extra-dark-gray half-section">
   <div class="container">
    <div class="row m-0">
     <div class="col-12 d-flex flex-column justify-content-center text-center wow fadeIn" data-wow-delay="0.2s">
      <h5 class="text-white alt-font font-weight-400 letter-spacing-1 margin-10px-bottom">
       INSPIRATIONAL QUOTES
      </h5>
      <span class="text-white-2 opacity8 alt-font mb-0 padding-20px-bottom">
       Find the perfect quote... and Pass It On®
      </span>
      <form action="/inspirational-quotes" class="search-box2 margin-30px-bottom" method="get">
       <div class="input-group add-on width-75 mx-auto sm-width-100">
        <input class="form-control text-white-2" name="q" placeholder="Search our inspiring quotes..." type="text" value=""/>
        <div class="input-group-append">
         <button aria-label="Search" class="btn btn-default" type="submit">
          <i class="ti-search text-small m-0">
          </i>
         </button>
        </div>
       </div>
      </form>
     </div>
    </div>
    <div class="row m-0">
     <div class="col-8 d-flex flex-column justify-content-top text-center">
      <div class="row" id="all_quotes">
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/6066-a-hero-is-an-ordinary-individual-who-finds-the">
         <img alt="A hero is an ordinary individual who finds the strength to persevere and endure in spite of overwhelming obstacles. #&lt;Author:0x00007ff3168e5da8&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/6066/medium/20230321_tuesday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/6066-a-hero-is-an-ordinary-individual-who-finds-the">
          STRENGTH
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/3882-whoever-you-are-whatever-your-dream-you-have">
         <img alt="Whoever you are, whatever your dream, you have to be strong in your head and strong in your heart. Be strong. There's no quitting in the person who wants it bad enough. #&lt;Author:0x00007ff3168cebf8&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/3882/medium/20230320_monday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/3882-whoever-you-are-whatever-your-dream-you-have">
          STRENGTH
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/8117-take-care-be-kind-be-considerate-of-other">
         <img alt="Take care, be kind, be considerate of other people and other species, and be loving. #&lt;Author:0x00007ff3169255c0&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/8117/medium/20230317_friday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/8117-take-care-be-kind-be-considerate-of-other">
          COURTESY
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/5364-all-doors-open-to-courtesy">
         <img alt="All doors open to courtesy.
 #&lt;Author:0x00007ff316905338&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/5364/medium/20230316_thursday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/5364-all-doors-open-to-courtesy">
          COURTESY
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/8116-real-strength-entails-being-considerate-and">
         <img alt="Real strength entails being considerate and supportive of people's feelings. #&lt;Author:0x00007ff3169754d0&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/8116/medium/20230315_wednesday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/8116-real-strength-entails-being-considerate-and">
          COURTESY
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/7795-a-tree-is-known-by-its-fruit-a-person-by-their">
         <img alt="A tree is known by its fruit; a person by their deeds. A good deed is never lost; whoever sows courtesy reaps friendship, and whoever plants kindness gathers love. #&lt;Author:0x00007ff31694f758&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/7795/medium/20230314_tuesday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/7795-a-tree-is-known-by-its-fruit-a-person-by-their">
          COURTESY
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/8119-life-is-short-but-there-is-always-time-enough">
         <img alt="Life is short but there is always time enough for courtesy. #&lt;Author:0x00007ff3169b5698&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/8119/medium/20230313_monday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/8119-life-is-short-but-there-is-always-time-enough">
          COURTESY
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/6886-believe-you-can-and-youre-halfway-there">
         <img alt="Believe you can and you're halfway there. #&lt;Author:0x00007ff31699e588&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/6886/medium/20230310_friday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/6886-believe-you-can-and-youre-halfway-there">
          BELIEVE
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/6817-sometimes-your-only-available-transportation-is">
         <img alt="Sometimes your only available transportation is a leap of faith. #&lt;Author:0x00007ff3169847c8&gt;" class="margin-10px-bottom shadow" height="310" src="https://assets.passiton.com/quotes/quote_artwork/6817/medium/20230308_wednesday_quote.jpg" width="310"/>
        </a>
        <h5 class="value_on_red">
         <a href="/inspirational-quotes/6817-sometimes-your-only-available-transportation-is">
          BELIEVE
         </a>
        </h5>
       </div>
       <div class="col-6 col-lg-4 text-center margin-30px-bottom sm-margin-30px-top">
        <a href="/inspirational-quotes/6986-accept-what-is-let-go-of-what-was-and-have">

In [ ]:
#Python program to scrape website
#and save quotes from website
import requests
from bs4 import BeautifulSoup
import csv

URL = "http://www.values.com/inspirational-quotes"
r = requests.get(URL)

soup = BeautifulSoup(r.content, 'html5lib')

quotes=[] # a list to store quotes

table = soup.find('div', attrs = {'id':'all_quotes'})

for row in table.findAll('div',
						attrs = {'class':'col-6 col-lg-3 text-center margin-30px-bottom sm-margin-30px-top'}):
	quote = {}
	quote['theme'] = row.h5.text
	quote['url'] = row.a['href']
	quote['img'] = row.img['src']
	quote['lines'] = row.img['alt'].split(" #")[0]
	quote['author'] = row.img['alt'].split(" #")[1]
	quotes.append(quote)

filename = 'inspirational_quotes.csv'
with open(filename, 'w', newline='') as f:
	w = csv.DictWriter(f,['theme','url','img','lines','author'])
	w.writeheader()
	for quote in quotes:
		w.writerow(quote)

In [ ]:
print(dateOfTxn)

2022-12-14 04:55:22.380124

In [ ]:
# create one  method by using lambda function which is return multiple value
# like date, time and all its parts
# any other logic can be used
# date ={'day':14,'month':12,'year':2022,'hr':10,'min':35,'sec':50,'msec':454644}
# date=(14,12,2022,10,35,50,454644)
# date['day']
def currentTime():
  current = dt.datetime.now()
  return str(current)
def currentDay():
  current=dt.datetime.now()
  curr_day=current.day
  return str(curr_day)


a=currentTime()
print(a)
b=currentDay()
print(b)

2022-12-14 05:07:21.663135
14

In [ ]:
12-05-2022
12-apr-2022
12/05/2022
12/5/2022
null
12/05-22
12-05/22
12/-05/-22

TypeError: ignored

In [ ]:
import numpy as np
x=np.random.rand(25)
print(x)

[0.70513879 0.89182619 0.45526545 0.86093634 0.50264321 0.40132749
 0.23253955 0.85233551 0.04955449 0.23370955 0.04051005 0.91410054
 0.68490649 0.58421087 0.68374591 0.81262793 0.21425697 0.94406718
 0.81391404 0.70458191 0.98547552 0.97407763 0.40931813 0.7250794
 0.38245224]

15-12-2022 : API's

In [ ]:
# Application programming interface
# it is a machnism to allow two or more software to communicate with each others

# Types of API
# Rest API - responses are in json format
# Soap API - responses are in xml format


# {cardNo:334434,AtmPin:3445, wdlamt:5000, pass: 45122, }

In [ ]:
#pip install requests

In [ ]:
# Return codes
# 200/201 - Success Responce
# 500     - Server Error
# 404     - Not Found
# 401     - Aurthentication Error

import requests

In [ ]:
import requests as rqst

url = "https://api.agify.io/?name=meelad"

response = rqst.request("GET", url=url).json()
#print(response)

#print(type(response))
print(response['name'],response['age'],response['count'])

meelad 33 21

In [ ]:
help(rqst.request)

Help on function request in module requests.api:

request(method, url, **kwargs)
    Constructs and sends a :class:`Request <Request>`.

    :param method: method for the new :class:`Request` object: ``GET``, ``OPTIONS``, ``HEAD``, ``POST``, ``PUT``, ``PATCH``, or ``DELETE``.
    :param url: URL for the new :class:`Request` object.
    :param params: (optional) Dictionary, list of tuples or bytes to send
        in the query string for the :class:`Request`.
    :param data: (optional) Dictionary, list of tuples, bytes, or file-like
        object to send in the body of the :class:`Request`.
    :param json: (optional) A JSON serializable Python object to send in the body of the :class:`Request`.
    :param headers: (optional) Dictionary of HTTP Headers to send with the :class:`Request`.
    :param cookies: (optional) Dict or CookieJar object to send with the :class:`Request`.
    :param files: (optional) Dictionary of ``'name': file-like-objects`` (or ``{'name': file-tuple}``) for multipart encoding upload.
        ``file-tuple`` can be a 2-tuple ``('filename', fileobj)``, 3-tuple ``('filename', fileobj, 'content_type')``
        or a 4-tuple ``('filename', fileobj, 'content_type', custom_headers)``, where ``'content-type'`` is a string
        defining the content type of the given file and ``custom_headers`` a dict-like object containing additional headers
        to add for the file.
    :param auth: (optional) Auth tuple to enable Basic/Digest/Custom HTTP Auth.
    :param timeout: (optional) How many seconds to wait for the server to send data
        before giving up, as a float, or a :ref:`(connect timeout, read
        timeout) <timeouts>` tuple.
    :type timeout: float or tuple
    :param allow_redirects: (optional) Boolean. Enable/disable GET/OPTIONS/POST/PUT/PATCH/DELETE/HEAD redirection. Defaults to ``True``.
    :type allow_redirects: bool
    :param proxies: (optional) Dictionary mapping protocol to the URL of the proxy.
    :param verify: (optional) Either a boolean, in which case it controls whether we verify
            the server's TLS certificate, or a string, in which case it must be a path
            to a CA bundle to use. Defaults to ``True``.
    :param stream: (optional) if ``False``, the response content will be immediately downloaded.
    :param cert: (optional) if String, path to ssl client cert file (.pem). If Tuple, ('cert', 'key') pair.
    :return: :class:`Response <Response>` object
    :rtype: requests.Response

    Usage::

      >>> import requests
      >>> req = requests.request('GET', 'https://httpbin.org/get')
      >>> req
      <Response [200]>

In [ ]:
a="https://www.amazon.in/Refrigerators/b?ie=UTF8&node=1380365031&ref=ATFQC_Ref&pf_rd_r=95A86SG549KDDX1QQ99R&pf_rd_p=f51fd786-0fed-4561-bf94-cf4bc85ad84d&pd_rd_r=77cbba43-e887-4de1-9110-a0435338a00f&pd_rd_w=lNwn8&pd_rd_wg=HFCZ7&ref_=pd_gw_unk"
len(a)

238

In [ ]:
import requests as rqst

url= "https://api.agify.io/?name=meelad"

response = rqst.get(url=url).json()
print(response)

#print(type(response))
#print(response[3]['name'])

{'age': 33, 'count': 21, 'name': 'meelad'}

In [ ]:
help(rqst.get)

Help on function get in module requests.api:

get(url, params=None, **kwargs)
    Sends a GET request.

    :param url: URL for the new :class:`Request` object.
    :param params: (optional) Dictionary, list of tuples or bytes to send
        in the query string for the :class:`Request`.
    :param \*\*kwargs: Optional arguments that ``request`` takes.
    :return: :class:`Response <Response>` object
    :rtype: requests.Response

In [ ]:
# get vs post

In [ ]:
# Post Method
import requests as rqst
url="https://jsonplaceholder.typicode.com/todos"

body={
    "rollnumber":1,
    "name":"Rahul"
}

print(type(body))

response = rqst.request("POST",url,json=body)
print(response.json)

#response = rqst.post(url,json=body)
#print(response.json())

<class 'dict'>
<bound method Response.json of <Response [201]>>

In [ ]:
from flask import Flask

app = Flask(__name__)
@app.route("/isit")

def fun():
  return "hello"
if __name__=="__main__":
  app.run()

 * Serving Flask app '__main__'
 * Debug mode: off

INFO:werkzeug:WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
INFO:werkzeug:Press CTRL+C to quit

In [ ]:
from flask import Flask
app = Flask(__name__)

@app.route("/isit")
def fun():
  return {"NAME":"RAHUL","CLASS":9,"ROLL NUMBER": 101}

if __name__=="__main__":
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

INFO:werkzeug: * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

In [ ]:
dir(Flask)

In [ ]:
# Generators
# genrrators are functions
# it is memory efficient
# do not allocate memory to all object at the same time
# it allocate the memory to the object when it is demanded

# two way to creating generators
# 1st way


def fun(no):
  return (no*2)
  
fun(10)

20

In [ ]:
def fun(no):
  yield (no*2)  # return generator object

for i in range(1,10):
  data=fun(i)

print(next(data))

18

In [ ]:
# 2nd way


gen = (i*2 for i in range(1,11))

print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

2
4
6
8
10
12
14
16
18
20

In [ ]:
gen1 = [i*2 for i in range(1,11)]

In [ ]:
gen1

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [ ]:

second=next(gen)
print(second)
second=next(gen)
print(second)

next(gen)

6

In [ ]:
second=next(gen)
print(second)

second=next(gen)
print(second)
second=next(gen)
print(second)

next(gen)

In [ ]:
gen = (i*2 for i in range(1,11))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))
print(next(gen))

2
4
6
8
12
14
16
18
20

StopIteration: ignored

**17-12-2022 Getter/setter and dunder or magic**

In [ ]:
class student:
  def __init__(self, name, fname, city):
    self.name=name
    self.fname=fname
    self.city=city
  def getname(self):
    return self.name
  def setname(self, name):
    self.name=name
    return self.name

obj_student=student('Ravi','Sumit','jhansi')
obj_student.getname()
obj_student.setname('amit') # Update the Data
obj_student.getname()
if obj_student.name==input("Enter the Name to be find : "):
  print("search successfull.............")
else:
  print("Another Value is found in object")

dir(student)

Enter the Name to be find : amit
search successfull.............

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'getname',
 'setname']

In [ ]:
# DSA

# data wranglings

# pandas
# numpy
# matplotlib
# seaborn
# maths

# body mass index
5'4 -> 55
5'5'->58

In [ ]:
if __name__ == '__main__':
    students = []
    for _ in range(int(input())):
        name = input()
        score = float(input())
        students.append([name, score])
    mn = min(students, key=lambda x: x[1])
    nonlowest = sorted([student for student in students if student[1] > mn[1]], key= lambda x: x[1])
    seconds = sorted([student[0] for student in nonlowest if student[1] == nonlowest[0][1]])
    for student in seconds:
        print(student)

3
rahul
41
ankit
22
vishal
47
rahul

In [ ]:
a=10
b=11
id(a),id(b)

(11531200, 11531232)

In [ ]:
lst=[1,5,3,4,5]
id(lst[0]),id(lst[1]),id(lst[2]),id(lst[3]),id(lst[4])

(11530912, 11531040, 11530976, 11531008, 11531040)

In [ ]:
id(lst)

139943691471552

In [ ]:
class node:
    def __init__(self,data,link = None):
        self.data = data # element
        self.link = link # memory location

class linkedlist:
    def __init__(self,head=None):
        self.head = head


obj = node(5)
head=obj

(139943849894624, 139943849894624)

In [ ]:
# while

# [1.] Add a Record -> use componenets in records link list/dict
# [2.] Insert a Record
# [3.] Search a Record
# [4.] Remove a Record
# [5.] Count Records
# [6.] Exit
#  Enter Your Choice[1-6] : 

 
#  if we are using dict 
#  dump into json,csv 
# extract data into csv file and json files

[array([4, 3, 1, 1, 3, 4, 1, 1, 4, 1])]

In [ ]:
a={
    "name": "Rahul",
    "father name": "Amit Singh",
    "Gender":"Male",
    "Mobile": "9889996633",
    "price": 10
}

In [ ]:
a

{'name': 'Rahul',
 'father name': 'Amit Singh',
 'Gender': 'Male',
 'Mobile': '9889996633',
 'price': 10}

In [ ]:
len(a)

5

In [ ]:
b={11:['rahul','19','male','98899966333',10],12:['rahul','19','male','98899966333',8],13:['rahul','19','male','98899966333',10]}

In [ ]:
b['14']=['amit','66','male','8855663322',10]

In [ ]:
b

{11: ['rahul', '19', 'male', '98899966333', 10],
 12: ['rahul', '19', 'male', '98899966333', 8],
 13: ['rahul', '19', 'male', '98899966333', 10],
 '14': ['amit', '66', 'male', '8855663322', 10]}

In [ ]:
b['14']=['vikas','21','male','8855663322',10]

In [ ]:
b

{11: ['rahul', '19', 'male', '98899966333', 10],
 12: ['rahul', '19', 'male', '98899966333', 8],
 13: ['rahul', '19', 'male', '98899966333', 10],
 '14': ['vikas', '21', 'male', '8855663322', 10]}

In [ ]:
for k,v in b.items():
  price.append(v[4])

In [ ]:
price

[10, 8, 10]

In [ ]:
sum(price)

28

In [ ]:
a=[5]

In [ ]:
if a:
  print('has value')

has value

In [ ]:
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| isit               |
| mydb               |
| mysql              |
| performance_schema |
| sakila             |
| sys                |
| world              |
+--------------------+
8 rows in set (0.00 sec)

mysql> use isit;
Database changed
mysql> show tables;
Empty set (0.00 sec)

mysql> create table stinfo(
    -> studentID int,
    -> stName varchar(25),
    -> stFname varchar(25),
    -> stAge int);
Query OK, 0 rows affected (0.04 sec)

mysql> show tables;
+----------------+
| Tables_in_isit |
+----------------+
| stinfo         |
+----------------+
1 row in set (0.00 sec)

mysql> create table
    -> stmarks ( stId int, stname varchar(25),h_marks int,E_marks int,m_marks int);
Query OK, 0 rows affected (0.04 sec)

mysql> show tables;
+----------------+
| Tables_in_isit |
+----------------+
| stinfo         |
| stmarks        |
+----------------+
2 rows in set (0.00 sec)

mysql> select * from stinfo;
Empty set (0.00 sec)

mysql> select * from st;
ERROR 1146 (42S02): Table 'isit.st' doesn't exist
mysql> select * from stinfo;
Empty set (0.00 sec)

mysql> insert into stinfo
    -> values (101,"Rahul singh", "Sumit singh", 21);
Query OK, 1 row affected (0.01 sec)

mysql> select * from stinfo;
+-----------+-------------+-------------+-------+
| studentID | stName      | stFname     | stAge |
+-----------+-------------+-------------+-------+
|       101 | Rahul singh | Sumit singh |    21 |
+-----------+-------------+-------------+-------+
1 row in set (0.00 sec)

mysql> select studentID,stName from stinfo;
+-----------+-------------+
| studentID | stName      |
+-----------+-------------+
|       101 | Rahul singh |
+-----------+-------------+
1 row in set (0.00 sec)

mysql> select studentID,stName,stAge from stinfo;
+-----------+-------------+-------+
| studentID | stName      | stAge |
+-----------+-------------+-------+
|       101 | Rahul singh |    21 |
+-----------+-------------+-------+
1 row in set (0.00 sec)

mysql> select stName,stAge from stinfo;
+-------------+-------+
| stName      | stAge |
+-------------+-------+
| Rahul singh |    21 |
+-------------+-------+
1 row in set (0.00 sec)

mysql> insert into stinfo
    -> values (102,^C
mysql> insert into stinfo
    -> values (102,"Amit kumar", "Mahesh kumar", 22),
    -> values (103,"Akash srivastava", "Sanjay kuamr", 21),
    -> values (104,"Rocky", "ghanshyam", 23),
    -> values (105,"vikash", "Arun kumar", 22),
    -> values (106,"Umashankar", "madhav kumar", 22);
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'values (103,"Akash srivastava", "Sanjay kuamr", 21),
values (104,"Rocky", "ghans' at line 3
mysql> insert into stinfo(
    -> values (102,"Amit kumar", "Mahesh kumar", 22),
    -> values (103,"Akash srivastava", "Sanjay kuamr", 21),
    -> values (104,"Rocky", "ghanshyam", 23),
    -> values (105,"vikash", "Arun kumar", 22),
    -> values (106,"Umashankar", "madhav kumar", 22));
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(102,"Amit kumar", "Mahesh kumar", 22),
values (103,"Akash srivastava", "Sanjay ' at line 2
mysql> insert into stinfo
    -> values
    -> (102,"Amit kumar", "Mahesh kumar", 22),
    -> (103,"Akash srivastava", "Sanjay kuamr", 21),
    -> (104,"Rocky", "ghanshyam", 23),
    -> (105,"vikash", "Arun kumar", 22),
    -> (106,"Umashankar", "madhav kumar", 22);
Query OK, 5 rows affected (0.01 sec)
Records: 5  Duplicates: 0  Warnings: 0

mysql> select * from stinfo;
+-----------+------------------+--------------+-------+
| studentID | stName           | stFname      | stAge |
+-----------+------------------+--------------+-------+
|       101 | Rahul singh      | Sumit singh  |    21 |
|       102 | Amit kumar       | Mahesh kumar |    22 |
|       103 | Akash srivastava | Sanjay kuamr |    21 |
|       104 | Rocky            | ghanshyam    |    23 |
|       105 | vikash           | Arun kumar   |    22 |
|       106 | Umashankar       | madhav kumar |    22 |
+-----------+------------------+--------------+-------+
6 rows in set (0.00 sec)

mysql> select stName,stAge from stinfo;
+------------------+-------+
| stName           | stAge |
+------------------+-------+
| Rahul singh      |    21 |
| Amit kumar       |    22 |
| Akash srivastava |    21 |
| Rocky            |    23 |
| vikash           |    22 |
| Umashankar       |    22 |
+------------------+-------+
6 rows in set (0.00 sec)

mysql> select * from stinfo
    -> where age=22;
ERROR 1054 (42S22): Unknown column 'age' in 'where clause'
mysql> where stAge=22;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where stAge=22' at line 1
mysql> select * from stinfo
    -> where stAge is 22;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '22' at line 2
mysql> select * from stinfo
    -> where stAge>21;
+-----------+------------+--------------+-------+
| studentID | stName     | stFname      | stAge |
+-----------+------------+--------------+-------+
|       102 | Amit kumar | Mahesh kumar |    22 |
|       104 | Rocky      | ghanshyam    |    23 |
|       105 | vikash     | Arun kumar   |    22 |
|       106 | Umashankar | madhav kumar |    22 |
+-----------+------------+--------------+-------+
4 rows in set (0.00 sec)

mysql> select * from stinfo
    -> where studentID=102;
+-----------+------------+--------------+-------+
| studentID | stName     | stFname      | stAge |
+-----------+------------+--------------+-------+
|       102 | Amit kumar | Mahesh kumar |    22 |
+-----------+------------+--------------+-------+
1 row in set (0.00 sec)

## 18-01-2023 : Basic operation of MySQL

In [ ]:

mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| isit               |
| mydb               |
| mysql              |
| performance_schema |
| sakila             |
| sys                |
| world              |
+--------------------+
8 rows in set (0.02 sec)

mysql> create database student;
Query OK, 1 row affected (0.01 sec)

mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| isit               |
| mydb               |
| mysql              |
| performance_schema |
| sakila             |
| student            |
| sys                |
| world              |
+--------------------+
9 rows in set (0.00 sec)

mysql> use student;
Database changed
mysql> show tables
    -> ;
Empty set (0.01 sec)

mysql> create table st_info(
    -> StudentId int,
    -> StudentName varchar(25),
    -> FatherName varchar(25),
    -> RollNo int,
    -> StudentAge int,
    -> Session int);
Query OK, 0 rows affected (0.03 sec)

mysql> show tables;
+-------------------+
| Tables_in_student |
+-------------------+
| st_info           |
+-------------------+
1 row in set (0.00 sec)

mysql> insert into st_info
    -> values
    -> (101,"Akash kumar","Amit singh",65,18,2023);
Query OK, 1 row affected (0.01 sec)

mysql> select * from st_info;
+-----------+-------------+------------+--------+------------+---------+
| StudentId | StudentName | FatherName | RollNo | StudentAge | Session |
+-----------+-------------+------------+--------+------------+---------+
|       101 | Akash kumar | Amit singh |     65 |         18 |    2023 |
+-----------+-------------+------------+--------+------------+---------+
1 row in set (0.00 sec)

mysql> insert into st_info
    -> values
    -> (102,"Mahendra singh","Amit Singh",66,19,2023),
    -> (103,"Vivek singh","vikash singh",67,18,2023),
    -> (104,"pankaj shakya","kamal shakya",68,20,2023),
    -> (105"vikash jha","Amit jha",69,18,2023),
    -> (106,"Manish kumar","arun singh",70,21,2023),
    -> (107,"Ravi sharma","vishal sharma",71,20,2023),
    -> (108,"Akash rajpoot","Amit rajpoot",72,21,2023);
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '"vikash jha","Amit jha",69,18,2023),
(106,"Manish kumar","arun singh",70,21,2023' at line 6
mysql> insert into st_info
    -> values
    -> (102,"Mahendra singh","Amit Singh",66,19,2023),
    -> (103,"Vivek singh","vikash singh",67,18,2023),
    -> (104,"pankaj shakya","kamal shakya",68,20,2023),
    -> (105"vikash jha","Amit jha",69,18,2023),
    -> (106,"Manish kumar","arun singh",70,21,2023),
    -> (107,"Ravi sharma","vishal sharma",71,20,2023),
    -> (108,"Akash rajpoot","Amit rajpoot",72,21,2023);^C
mysql> insert into st_info
    -> values
    -> (102,"Mahendra singh","Amit Singh",66,19,2023),
    -> (103,"Vivek singh","vikash singh",67,18,2023),
    -> (104,"pankaj shakya","kamal shakya",68,20,2023),
    -> (105,"vikash jha","Amit jha",69,18,2023),
    -> (106,"Manish kumar","arun singh",70,21,2023),
    -> (107,"Ravi sharma","vishal sharma",71,20,2023),
    -> (108,"Akash rajpoot","Amit rajpoot",72,21,2023);
Query OK, 7 rows affected (0.01 sec)
Records: 7  Duplicates: 0  Warnings: 0

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
+-----------+----------------+---------------+--------+------------+---------+
8 rows in set (0.00 sec)

mysql> select StudentName,age from st_infor;
ERROR 1146 (42S02): Table 'student.st_infor' doesn't exist
mysql> select StudentName,studentage from st_infor;
ERROR 1146 (42S02): Table 'student.st_infor' doesn't exist
mysql> select StudentName,studentAge from st_infor;
ERROR 1146 (42S02): Table 'student.st_infor' doesn't exist
mysql> select StudentName,StudentAge from st_infor;
ERROR 1146 (42S02): Table 'student.st_infor' doesn't exist
mysql> select StudentName,StudentAge from st_info;
+----------------+------------+
| StudentName    | StudentAge |
+----------------+------------+
| Akash kumar    |         18 |
| Mahendra singh |         19 |
| Vivek singh    |         18 |
| pankaj shakya  |         20 |
| vikash jha     |         18 |
| Manish kumar   |         21 |
| Ravi sharma    |         20 |
| Akash rajpoot  |         21 |
+----------------+------------+
8 rows in set (0.00 sec)

mysql> select sum(*) as CountStudent form St_info;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '*) as CountStudent form St_info' at line 1
mysql> select sum(*) as CountStudent form st_info;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '*) as CountStudent form st_info' at line 1
mysql> select sum(*) as CountStudent from st_info;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '*) as CountStudent from st_info' at line 1
mysql> select count(*) as CountStudent from st_info;
+--------------+
| CountStudent |
+--------------+
|            8 |
+--------------+
1 row in set (0.01 sec)

mysql> select count(*) from st_info;
+----------+
| count(*) |
+----------+
|        8 |
+----------+
1 row in set (0.00 sec)

mysql> select count(*) as CountStudent from st_info;
+--------------+
| CountStudent |
+--------------+
|            8 |
+--------------+
1 row in set (0.00 sec)

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
+-----------+----------------+---------------+--------+------------+---------+
8 rows in set (0.00 sec)

mysql> select sum(StudentAge) as totalAgeOfStudent from st_info;
+-------------------+
| totalAgeOfStudent |
+-------------------+
|               155 |
+-------------------+
1 row in set (0.00 sec)

mysql> select average(StudentAge) as AvgAgeOfStudent from st_info;
ERROR 1305 (42000): FUNCTION student.average does not exist
mysql> select avg(StudentAge) as AvgAgeOfStudent from st_info;
+-----------------+
| AvgAgeOfStudent |
+-----------------+
|         19.3750 |
+-----------------+
1 row in set (0.00 sec)

mysql> insert into st_info
    -> values
    -> (102,"Mahendra kumar","Amit kumar",73,20,2022),
    -> (103,"Vivek pratap","vikash pratap",74,21,2022),
    -> (104,"pankaj goswami","kamal goswami",75,20,2022),
    -> (105,"vikash Agrawal","Amit Agrawal",76,19,2022),
    -> (106,"Manish singh","arun singh",77,20,2022),
    -> (107,"Ravi shakya","vishal shakya",78,22,2022),
    -> (108,"Akash agrawal","Amit agrawal",79,21,2022);
Query OK, 7 rows affected (0.01 sec)
Records: 7  Duplicates: 0  Warnings: 0

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
15 rows in set (0.00 sec)

mysql> select avg(StudentAge) as AvgAge from st_info;
+---------+
| AvgAge  |
+---------+
| 19.8667 |
+---------+
1 row in set (0.00 sec)

mysql> select * from st_info
    -> where Session=2022;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
7 rows in set (0.00 sec)

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
15 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo>70;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
9 rows in set (0.00 sec)

mysql> select * from st_info
    -> where  StudentId=105;
+-----------+----------------+--------------+--------+------------+---------+
| StudentId | StudentName    | FatherName   | RollNo | StudentAge | Session |
+-----------+----------------+--------------+--------+------------+---------+
|       105 | vikash jha     | Amit jha     |     69 |         18 |    2023 |
|       105 | vikash Agrawal | Amit Agrawal |     76 |         19 |    2022 |
+-----------+----------------+--------------+--------+------------+---------+
2 rows in set (0.00 sec)

mysql> select * from st_info
    -> where StudentAge between 20 and 21;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
9 rows in set (0.00 sec)

mysql> where StudentAge between 19 and 20;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where StudentAge between 19 and 20' at line 1
mysql> select * from st_info
    -> where StudentAge between 19 and 20;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
7 rows in set (0.00 sec)

mysql> select * from st_info
    -> where StudentAge between 19 and 20
    -> where Session=2022;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where Session=2022' at line 3
mysql> select * from st_info
    -> where StudentAge between 19 and 20
    -> ;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
7 rows in set (0.00 sec)

mysql> select * from st_info
    -> where StudentAge between 19 and 20, Session=2023;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ', Session=2023' at line 2
mysql> select * from st_info
    -> where (StudentAge between 19 and 20), (Session=2023);
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ', (Session=2023)' at line 2
mysql> select * from st_info
    -> where (StudentAge between 19 and 20) and (Session=2023);
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
+-----------+----------------+---------------+--------+------------+---------+
3 rows in set (0.00 sec)

mysql> Select StudentName asc,* from st_info
    -> ;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'asc,* from st_info' at line 1
mysql> Select * asc from st_info
    -> ;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'asc from st_info' at line 1
mysql> Select * from st_info
    -> wehre stduentName asc;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'stduentName asc' at line 2
mysql> Select * from st_info
    -> ;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
15 rows in set (0.00 sec)

mysql> select * from st_info
    -> where (StudentAge between 19 and 20) and (Session=2023);
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
+-----------+----------------+---------------+--------+------------+---------+
3 rows in set (0.00 sec)

mysql> select * from st_info
    -> where (StudentAge between 19 and 20) and (Session=2022);
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
4 rows in set (0.00 sec)

mysql> select StudentName,Session from st_info
    -> where (StudentAge between 19 and 20) and (Session=2022);
+----------------+---------+
| StudentName    | Session |
+----------------+---------+
| Mahendra kumar |    2022 |
| pankaj goswami |    2022 |
| vikash Agrawal |    2022 |
| Manish singh   |    2022 |
+----------------+---------+
4 rows in set (0.00 sec)

mysql> select * from st_info
    -> where (StudentAge between 19 and 20) and (RollNo between 75 and 76);
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
2 rows in set (0.00 sec)

## 19-01-2023 : SQL Basics

In [ ]:

mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| isit               |
| mydb               |
| mysql              |
| performance_schema |
| sakila             |
| student            |
| sys                |
| world              |
+--------------------+
9 rows in set (0.01 sec)

mysql> use student;
Database changed
mysql> show tables;
+-------------------+
| Tables_in_student |
+-------------------+
| st_info           |
+-------------------+
1 row in set (0.01 sec)

mysql> select * form st_info;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'form st_info' at line 1
mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select DISTINCT StudentAge from st_info;
+------------+
| StudentAge |
+------------+
|         18 |
|         19 |
|         20 |
|         21 |
|         22 |
|         25 |
+------------+
6 rows in set (0.00 sec)

mysql> select DISTINCT StudentName, StudentAge from st_info;
+----------------+------------+
| StudentName    | StudentAge |
+----------------+------------+
| Akash kumar    |         18 |
| Mahendra singh |         19 |
| Vivek singh    |         18 |
| pankaj shakya  |         20 |
| vikash jha     |         18 |
| Manish kumar   |         21 |
| Ravi sharma    |         20 |
| Akash rajpoot  |         21 |
| Mahendra kumar |         20 |
| Vivek pratap   |         21 |
| pankaj goswami |         20 |
| vikash Agrawal |         19 |
| Manish singh   |         20 |
| Ravi shakya    |         22 |
| Akash agrawal  |         21 |
|                |         25 |
| NULL           |         25 |
+----------------+------------+
17 rows in set (0.00 sec)

mysql> select DISTINCT StudentAge,StudentName from st_info;
+------------+----------------+
| StudentAge | StudentName    |
+------------+----------------+
|         18 | Akash kumar    |
|         19 | Mahendra singh |
|         18 | Vivek singh    |
|         20 | pankaj shakya  |
|         18 | vikash jha     |
|         21 | Manish kumar   |
|         20 | Ravi sharma    |
|         21 | Akash rajpoot  |
|         20 | Mahendra kumar |
|         21 | Vivek pratap   |
|         20 | pankaj goswami |
|         19 | vikash Agrawal |
|         20 | Manish singh   |
|         22 | Ravi shakya    |
|         21 | Akash agrawal  |
|         25 |                |
|         25 | NULL           |
+------------+----------------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> where StudentId<>1001;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
16 rows in set (0.00 sec)

mysql> select * from st_info
    -> where StudentId>200;
+-----------+-------------+--------------+--------+------------+---------+
| StudentId | StudentName | FatherName   | RollNo | StudentAge | Session |
+-----------+-------------+--------------+--------+------------+---------+
|      1001 |             | amit rajpoot |     79 |         25 |    2020 |
|       201 | NULL        | amit rajpoot |     79 |         25 |    2020 |
+-----------+-------------+--------------+--------+------------+---------+
2 rows in set (0.00 sec)

mysql> where StudentId<=105;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where StudentId<=105' at line 1
mysql> select * from st_info
    -> where StudentId<=105;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
9 rows in set (0.00 sec)

mysql> select * from st_info
    -> where StudentId between 105 and 110;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
8 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo=72;
+-----------+---------------+--------------+--------+------------+---------+
| StudentId | StudentName   | FatherName   | RollNo | StudentAge | Session |
+-----------+---------------+--------------+--------+------------+---------+
|       108 | Akash rajpoot | Amit rajpoot |     72 |         21 |    2023 |
+-----------+---------------+--------------+--------+------------+---------+
1 row in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo in (69,72,70);
+-----------+---------------+--------------+--------+------------+---------+
| StudentId | StudentName   | FatherName   | RollNo | StudentAge | Session |
+-----------+---------------+--------------+--------+------------+---------+
|       105 | vikash jha    | Amit jha     |     69 |         18 |    2023 |
|       106 | Manish kumar  | arun singh   |     70 |         21 |    2023 |
|       108 | Akash rajpoot | Amit rajpoot |     72 |         21 |    2023 |
+-----------+---------------+--------------+--------+------------+---------+
3 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo=69 or rollNo=72;
+-----------+---------------+--------------+--------+------------+---------+
| StudentId | StudentName   | FatherName   | RollNo | StudentAge | Session |
+-----------+---------------+--------------+--------+------------+---------+
|       105 | vikash jha    | Amit jha     |     69 |         18 |    2023 |
|       108 | Akash rajpoot | Amit rajpoot |     72 |         21 |    2023 |
+-----------+---------------+--------------+--------+------------+---------+
2 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo=69 and rollNo=72;
Empty set (0.00 sec)

mysql> select * from st_info
    -> where Session=2023 and StudentAge>20;
+-----------+---------------+--------------+--------+------------+---------+
| StudentId | StudentName   | FatherName   | RollNo | StudentAge | Session |
+-----------+---------------+--------------+--------+------------+---------+
|       106 | Manish kumar  | arun singh   |     70 |         21 |    2023 |
|       108 | Akash rajpoot | Amit rajpoot |     72 |         21 |    2023 |
+-----------+---------------+--------------+--------+------------+---------+
2 rows in set (0.05 sec)

mysql> select * from st_info
    -> where Session=2023 and StudentAge>=20;
+-----------+---------------+---------------+--------+------------+---------+
| StudentId | StudentName   | FatherName    | RollNo | StudentAge | Session |
+-----------+---------------+---------------+--------+------------+---------+
|       104 | pankaj shakya | kamal shakya  |     68 |         20 |    2023 |
|       106 | Manish kumar  | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma   | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot | Amit rajpoot  |     72 |         21 |    2023 |
+-----------+---------------+---------------+--------+------------+---------+
4 rows in set (0.00 sec)

mysql> select * from st_info
    -> where Session=2023 or StudentAge>=20;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
16 rows in set (0.00 sec)

mysql> select * from st_info
    -> where not Session = 2023;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
9 rows in set (0.00 sec)

mysql> select * from st_info
    -> where not Session in (2023,2020);
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
+-----------+----------------+---------------+--------+------------+---------+
7 rows in set (0.00 sec)

mysql> select * from st_info
    -> where Session in (2023,2020);
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
10 rows in set (0.00 sec)

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> order by StudentName;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.01 sec)

mysql> select * from st_info
    -> order by StudentAge;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> order by Session;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> order by Session desc;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> order by Session, StudentAge;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> order by StudentAge, Session;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> order by StudentName, FatherName;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> where StudentName is null;
+-----------+-------------+--------------+--------+------------+---------+
| StudentId | StudentName | FatherName   | RollNo | StudentAge | Session |
+-----------+-------------+--------------+--------+------------+---------+
|       201 | NULL        | amit rajpoot |     79 |         25 |    2020 |
+-----------+-------------+--------------+--------+------------+---------+
1 row in set (0.00 sec)

mysql> select * from st_info
    -> where StudentName is not null;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
16 rows in set (0.00 sec)

mysql> insert into st_info
    -> values (202,"vikash shrivastava","Ramprakash",null,23,2020);
Query OK, 1 row affected (0.03 sec)

mysql> select * from st_info;
+-----------+--------------------+---------------+--------+------------+---------+
| StudentId | StudentName        | FatherName    | RollNo | StudentAge | Session |
+-----------+--------------------+---------------+--------+------------+---------+
|       101 | Akash kumar        | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh     | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh        | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya      | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha         | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar       | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma        | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot      | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar     | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap       | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami     | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal     | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh       | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya        | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal      | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                    | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL               | amit rajpoot  |     79 |         25 |    2020 |
|       202 | vikash shrivastava | Ramprakash    |   NULL |         23 |    2020 |
+-----------+--------------------+---------------+--------+------------+---------+
18 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo is null;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'select * from st_info
where RollNo is null' at line 2
mysql> select * from st_info
    -> where RollNo is null;
+-----------+--------------------+------------+--------+------------+---------+
| StudentId | StudentName        | FatherName | RollNo | StudentAge | Session |
+-----------+--------------------+------------+--------+------------+---------+
|       202 | vikash shrivastava | Ramprakash |   NULL |         23 |    2020 |
+-----------+--------------------+------------+--------+------------+---------+
1 row in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo is not null;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL           | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo, StudentName is not null;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ', StudentName is not null' at line 2
mysql> select * from st_info
    -> where RollNo,StudentName is not null;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ',StudentName is not null' at line 2
mysql> select * from st_info
    -> where (RollNo,StudentName) is not null;
ERROR 1241 (21000): Operand should contain 1 column(s)
mysql> select * from st_info
    -> where RollNo is not null
    -> where StudentName is not null;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'where StudentName is not null' at line 3
mysql> select * from st_info
    -> where RollNo is not null and StudentName is not null;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
16 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo is null and StudentName is null;
Empty set (0.00 sec)

mysql> select * from st_info
    -> where RollNo is null or StudentName is null;
+-----------+--------------------+--------------+--------+------------+---------+
| StudentId | StudentName        | FatherName   | RollNo | StudentAge | Session |
+-----------+--------------------+--------------+--------+------------+---------+
|       201 | NULL               | amit rajpoot |     79 |         25 |    2020 |
|       202 | vikash shrivastava | Ramprakash   |   NULL |         23 |    2020 |
+-----------+--------------------+--------------+--------+------------+---------+
2 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo is not null or StudentName is not null;
+-----------+--------------------+---------------+--------+------------+---------+
| StudentId | StudentName        | FatherName    | RollNo | StudentAge | Session |
+-----------+--------------------+---------------+--------+------------+---------+
|       101 | Akash kumar        | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh     | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh        | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya      | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha         | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar       | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma        | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot      | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar     | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap       | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami     | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal     | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh       | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya        | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal      | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                    | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL               | amit rajpoot  |     79 |         25 |    2020 |
|       202 | vikash shrivastava | Ramprakash    |   NULL |         23 |    2020 |
+-----------+--------------------+---------------+--------+------------+---------+
18 rows in set (0.00 sec)

mysql> select * from st_info
    -> where RollNo is not null and StudentName is not null;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 |                | amit rajpoot  |     79 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
16 rows in set (0.00 sec)

mysql> select * from st_info
    -> set StudentName="RajSingh"
    -> where StudentId=1001;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'set StudentName="RajSingh"
where StudentId=1001' at line 2
mysql> select * from st_info
    -> SET StudentName="RajSingh"
    -> where StudentId=1001;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'SET StudentName="RajSingh"
where StudentId=1001' at line 2
mysql> updata st_info
    -> SET StudentName="RajSingh"^C
mysql> update st_info
    -> SET StudentName="RajSingh"
    -> where StudentId=1001;
Query OK, 1 row affected (0.01 sec)
Rows matched: 1  Changed: 1  Warnings: 0

mysql> select * from st_info;
+-----------+--------------------+---------------+--------+------------+---------+
| StudentId | StudentName        | FatherName    | RollNo | StudentAge | Session |
+-----------+--------------------+---------------+--------+------------+---------+
|       101 | Akash kumar        | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh     | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh        | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya      | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha         | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar       | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma        | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot      | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar     | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap       | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami     | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal     | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh       | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya        | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal      | Amit agrawal  |     79 |         21 |    2022 |
|      1001 | RajSingh           | amit rajpoot  |     79 |         25 |    2020 |
|       201 | NULL               | amit rajpoot  |     79 |         25 |    2020 |
|       202 | vikash shrivastava | Ramprakash    |   NULL |         23 |    2020 |
+-----------+--------------------+---------------+--------+------------+---------+
18 rows in set (0.00 sec)

mysql> update st_info
    -> SET StudentName="Anirudh singh"
    -> where StudentId=201;
Query OK, 1 row affected (0.01 sec)
Rows matched: 1  Changed: 1  Warnings: 0

mysql> select * from st_info;
+-----------+--------------------+---------------+--------+------------+---------+
| StudentId | StudentName        | FatherName    | RollNo | StudentAge | Session |
+-----------+--------------------+---------------+--------+------------+---------+
|       101 | Akash kumar        | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh     | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh        | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya      | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha         | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar       | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma        | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot      | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar     | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap       | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami     | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal     | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh       | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya        | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal      | Amit agrawal  |     79 |         21 |    2022 |
|      1001 | RajSingh           | amit rajpoot  |     79 |         25 |    2020 |
|       201 | Anirudh singh      | amit rajpoot  |     79 |         25 |    2020 |
|       202 | vikash shrivastava | Ramprakash    |   NULL |         23 |    2020 |
+-----------+--------------------+---------------+--------+------------+---------+
18 rows in set (0.00 sec)

mysql> update st_info
    -> SET RollNo=80
    -> where StudentId=202;^C
mysql> update st_info
    -> SET RollNo=80, StudentName="vikash"
    -> where StudentId=201;
Query OK, 1 row affected (0.01 sec)
Rows matched: 1  Changed: 1  Warnings: 0

mysql> select * from st_info;
+-----------+--------------------+---------------+--------+------------+---------+
| StudentId | StudentName        | FatherName    | RollNo | StudentAge | Session |
+-----------+--------------------+---------------+--------+------------+---------+
|       101 | Akash kumar        | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh     | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh        | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya      | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha         | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar       | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma        | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot      | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar     | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap       | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami     | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal     | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh       | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya        | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal      | Amit agrawal  |     79 |         21 |    2022 |
|      1001 | RajSingh           | amit rajpoot  |     79 |         25 |    2020 |
|       201 | vikash             | amit rajpoot  |     80 |         25 |    2020 |
|       202 | vikash shrivastava | Ramprakash    |   NULL |         23 |    2020 |
+-----------+--------------------+---------------+--------+------------+---------+
18 rows in set (0.00 sec)

mysql> update st_info
    -> SET RollNo=80, StudentName="vikash"
    -> where StudentId=202;
Query OK, 1 row affected (0.01 sec)
Rows matched: 1  Changed: 1  Warnings: 0

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 | RajSingh       | amit rajpoot  |     79 |         25 |    2020 |
|       201 | vikash         | amit rajpoot  |     80 |         25 |    2020 |
|       202 | vikash         | Ramprakash    |     80 |         23 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
18 rows in set (0.00 sec)

mysql> delete from st_info
    -> where StudentId=202;
Query OK, 1 row affected (0.01 sec)

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       106 | Manish kumar   | arun singh    |     70 |         21 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       106 | Manish singh   | arun singh    |     77 |         20 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|      1001 | RajSingh       | amit rajpoot  |     79 |         25 |    2020 |
|       201 | vikash         | amit rajpoot  |     80 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
17 rows in set (0.00 sec)

mysql> delete from st_info
    -> where StudentId in (1001,106);
Query OK, 3 rows affected (0.01 sec)

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       201 | vikash         | amit rajpoot  |     80 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
14 rows in set (0.00 sec)

mysql> select * from st_info
    -> limit 3;
+-----------+----------------+--------------+--------+------------+---------+
| StudentId | StudentName    | FatherName   | RollNo | StudentAge | Session |
+-----------+----------------+--------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh   |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh   |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh |     67 |         18 |    2023 |
+-----------+----------------+--------------+--------+------------+---------+
3 rows in set (0.00 sec)

mysql> select * from st_info
    -> limit 5;
+-----------+----------------+--------------+--------+------------+---------+
| StudentId | StudentName    | FatherName   | RollNo | StudentAge | Session |
+-----------+----------------+--------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh   |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh   |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha     |     69 |         18 |    2023 |
+-----------+----------------+--------------+--------+------------+---------+
5 rows in set (0.00 sec)

mysql> select top 3 * from st_info;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '3 * from st_info' at line 1
mysql> select * from st_info
    -> limit 5;
+-----------+----------------+--------------+--------+------------+---------+
| StudentId | StudentName    | FatherName   | RollNo | StudentAge | Session |
+-----------+----------------+--------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh   |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh   |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha     |     69 |         18 |    2023 |
+-----------+----------------+--------------+--------+------------+---------+
5 rows in set (0.00 sec)

mysql> select * from st_info;
+-----------+----------------+---------------+--------+------------+---------+
| StudentId | StudentName    | FatherName    | RollNo | StudentAge | Session |
+-----------+----------------+---------------+--------+------------+---------+
|       101 | Akash kumar    | Amit singh    |     65 |         18 |    2023 |
|       102 | Mahendra singh | Amit Singh    |     66 |         19 |    2023 |
|       103 | Vivek singh    | vikash singh  |     67 |         18 |    2023 |
|       104 | pankaj shakya  | kamal shakya  |     68 |         20 |    2023 |
|       105 | vikash jha     | Amit jha      |     69 |         18 |    2023 |
|       107 | Ravi sharma    | vishal sharma |     71 |         20 |    2023 |
|       108 | Akash rajpoot  | Amit rajpoot  |     72 |         21 |    2023 |
|       102 | Mahendra kumar | Amit kumar    |     73 |         20 |    2022 |
|       103 | Vivek pratap   | vikash pratap |     74 |         21 |    2022 |
|       104 | pankaj goswami | kamal goswami |     75 |         20 |    2022 |
|       105 | vikash Agrawal | Amit Agrawal  |     76 |         19 |    2022 |
|       107 | Ravi shakya    | vishal shakya |     78 |         22 |    2022 |
|       108 | Akash agrawal  | Amit agrawal  |     79 |         21 |    2022 |
|       201 | vikash         | amit rajpoot  |     80 |         25 |    2020 |
+-----------+----------------+---------------+--------+------------+---------+
14 rows in set (0.00 sec)

mysql> select * from st_info
    -> where StudentAge ^C
mysql> select max(StudentAge) as OldestStudent from st_info;
+---------------+
| OldestStudent |
+---------------+
|            25 |
+---------------+
1 row in set (0.00 sec)

mysql> select min(StudentAge) as MinStudent from st_info;
+------------+
| MinStudent |
+------------+
|         18 |
+------------+
1 row in set (0.00 sec)

mysql> select count(StudentName) as totalStudents from st_info;
+---------------+
| totalStudents |
+---------------+
|            14 |
+---------------+
1 row in set (0.00 sec)

mysql> select avg(StudentAge) as AverageAge from st_info;
+------------+
| AverageAge |
+------------+
|    20.1429 |
+------------+
1 row in set (0.00 sec)

mysql> select sum(StudentAge) as SumofAge from st_info;
+----------+
| SumofAge |
+----------+
|      282 |
+----------+
1 row in set (0.00 sec)

## 24-01-2023 : sql basics

In [ ]:
mysql> use student;
Database changed
mysql> show tables;
+-------------------+
| Tables_in_student |
+-------------------+
| customers         |
| feerecord         |
| orders            |
| person            |
| st_info           |
+-------------------+
5 rows in set (0.01 sec)

mysql> describe student.person
    -> ;
+----------+-------------+------+-----+---------+-------+
| Field    | Type        | Null | Key | Default | Extra |
+----------+-------------+------+-----+---------+-------+
| personid | int         | NO   | PRI | NULL    |       |
| name     | varchar(25) | YES  |     | NULL    |       |
| age      | int         | YES  |     | NULL    |       |
| salary   | int         | YES  |     | NULL    |       |
+----------+-------------+------+-----+---------+-------+
4 rows in set (0.01 sec)

mysql> create table payment(
    -> paymentid int primary key not null,
    -> amount int,
    -> personid int,
    -> foreign key personid references person(personid));
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'references person(personid))' at line 5
mysql> create table payment(
    -> paymentid int not null primary key,
    -> amount int,
    -> personid int,
    -> foreign key (personid) references person(personid));
Query OK, 0 rows affected (0.05 sec)

mysql> describe student.payment
    -> ;
+-----------+------+------+-----+---------+-------+
| Field     | Type | Null | Key | Default | Extra |
+-----------+------+------+-----+---------+-------+
| paymentid | int  | NO   | PRI | NULL    |       |
| amount    | int  | YES  |     | NULL    |       |
| personid  | int  | YES  | MUL | NULL    |       |
+-----------+------+------+-----+---------+-------+
3 rows in set (0.00 sec)

mysql> show tables;
+-------------------+
| Tables_in_student |
+-------------------+
| customers         |
| feerecord         |
| orders            |
| payment           |
| person            |
| st_info           |
+-------------------+
6 rows in set (0.00 sec)

mysql> select * from customers;
+------------+--------------+-------------+-------------+-------------+------------+---------+
| CustomerID | CustomerName | ContactName | Address     | city        | postalcode | Country |
+------------+--------------+-------------+-------------+-------------+------------+---------+
|          1 | Amit singh   | Amit        | khati baba  | jhansi      |     284003 | india   |
|          2 | Suman Sharma | suman       | sipri bazar | jhansi      |     284003 | india   |
|          3 | James Alax   | James       | Mataderos   | Mexico D.F. |       5023 | Mexico  |
+------------+--------------+-------------+-------------+-------------+------------+---------+
3 rows in set (0.00 sec)

mysql> select * from orders;
+---------+------------+------------+-----------+
| orderid | employeeid | OrderDate  | ShipperID |
+---------+------------+------------+-----------+
|   10308 |          2 | 1996-09-18 |         3 |
|   10309 |         37 | 1996-09-19 |         1 |
|   10310 |         77 | 1996-09-20 |         2 |
+---------+------------+------------+-----------+
3 rows in set (0.00 sec)

mysql> select orders.orderid,customers.CustomerName from orders;
ERROR 1054 (42S22): Unknown column 'customers.CustomerName' in 'field list'
mysql> select orders.orderid,customers.CustomerName from customers;
ERROR 1054 (42S22): Unknown column 'orders.orderid' in 'field list'
mysql> select orders.orderid,customers.CustomerName from customers,customers;
ERROR 1066 (42000): Not unique table/alias: 'customers'
mysql> select orders.orderid,customers.CustomerName from customers,orders;
+---------+--------------+
| orderid | CustomerName |
+---------+--------------+
|   10308 | James Alax   |
|   10308 | Suman Sharma |
|   10308 | Amit singh   |
|   10309 | James Alax   |
|   10309 | Suman Sharma |
|   10309 | Amit singh   |
|   10310 | James Alax   |
|   10310 | Suman Sharma |
|   10310 | Amit singh   |
+---------+--------------+
9 rows in set (0.00 sec)

In [ ]:
mysql> show tables;
ERROR 1046 (3D000): No database selected
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| isit               |
| mydb               |
| mysql              |
| performance_schema |
| sakila             |
| student            |
| sys                |
| world              |
+--------------------+
9 rows in set (0.02 sec)

mysql> use student;
Database changed
mysql> show tables;
+-------------------+
| Tables_in_student |
+-------------------+
| customers         |
| feerecord         |
| hospital          |
| orders            |
| payment           |
| person            |
| st_info           |
| student1          |
+-------------------+
8 rows in set (0.01 sec)

mysql> desc customers
    -> ;
+--------+--------------+------+-----+---------+----------------+
| Field  | Type         | Null | Key | Default | Extra          |
+--------+--------------+------+-----+---------+----------------+
| cid    | int          | NO   | PRI | NULL    | auto_increment |
| cname  | varchar(255) | YES  |     | NULL    |                |
| cemail | varchar(255) | YES  |     | NULL    |                |
+--------+--------------+------+-----+---------+----------------+
3 rows in set (0.01 sec)

mysql> desc orders;
+-----------+------+------+-----+---------+----------------+
| Field     | Type | Null | Key | Default | Extra          |
+-----------+------+------+-----+---------+----------------+
| oid       | int  | NO   | PRI | NULL    | auto_increment |
| orderdate | date | YES  |     | NULL    |                |
| oamount   | int  | YES  |     | NULL    |                |
| cid       | int  | YES  | MUL | NULL    |                |
+-----------+------+------+-----+---------+----------------+
4 rows in set (0.00 sec)

mysql> select * from customers;
+-----+---------+-------------------+
| cid | cname   | cemail            |
+-----+---------+-------------------+
|   1 | vinod   | vinod@gmail.com   |
|   2 | bahadur | bahadur@gmail.com |
|   3 | thapa   | thapa@gmail.com   |
+-----+---------+-------------------+
3 rows in set (0.01 sec)

mysql> select * from orders;
+-----+------------+---------+------+
| oid | orderdate  | oamount | cid  |
+-----+------------+---------+------+
|   1 | 2019-05-05 |      55 |    1 |
|   2 | 2019-08-06 |      85 |    2 |
|   3 | 2019-08-05 |     155 |    1 |
|   4 | 2019-05-12 |      95 |    3 |
+-----+------------+---------+------+
4 rows in set (0.00 sec)

mysql> select * from orders, customers;
+-----+------------+---------+------+-----+---------+-------------------+
| oid | orderdate  | oamount | cid  | cid | cname   | cemail            |
+-----+------------+---------+------+-----+---------+-------------------+
|   1 | 2019-05-05 |      55 |    1 |   3 | thapa   | thapa@gmail.com   |
|   1 | 2019-05-05 |      55 |    1 |   2 | bahadur | bahadur@gmail.com |
|   1 | 2019-05-05 |      55 |    1 |   1 | vinod   | vinod@gmail.com   |
|   2 | 2019-08-06 |      85 |    2 |   3 | thapa   | thapa@gmail.com   |
|   2 | 2019-08-06 |      85 |    2 |   2 | bahadur | bahadur@gmail.com |
|   2 | 2019-08-06 |      85 |    2 |   1 | vinod   | vinod@gmail.com   |
|   3 | 2019-08-05 |     155 |    1 |   3 | thapa   | thapa@gmail.com   |
|   3 | 2019-08-05 |     155 |    1 |   2 | bahadur | bahadur@gmail.com |
|   3 | 2019-08-05 |     155 |    1 |   1 | vinod   | vinod@gmail.com   |
|   4 | 2019-05-12 |      95 |    3 |   3 | thapa   | thapa@gmail.com   |
|   4 | 2019-05-12 |      95 |    3 |   2 | bahadur | bahadur@gmail.com |
|   4 | 2019-05-12 |      95 |    3 |   1 | vinod   | vinod@gmail.com   |
+-----+------------+---------+------+-----+---------+-------------------+
12 rows in set (0.00 sec)

mysql> select * from orders, customers where cid=1;
ERROR 1052 (23000): Column 'cid' in where clause is ambiguous
mysql> select * from orders, customers where order.cid=1;
ERROR 1054 (42S22): Unknown column 'order.cid' in 'where clause'
mysql>
mysql> select curdate();
+------------+
| curdate()  |
+------------+
| 2023-01-25 |
+------------+
1 row in set (0.00 sec)

mysql> select curdate();
+------------+
| curdate()  |
+------------+
| 2023-01-25 |
+------------+
1 row in set (0.00 sec)

mysql> select curtime();
+-----------+
| curtime() |
+-----------+
| 09:32:24  |
+-----------+
1 row in set (0.00 sec)

mysql> select now();
+---------------------+
| now()               |
+---------------------+
| 2023-01-25 09:32:35 |
+---------------------+
1 row in set (0.00 sec)

mysql> select curdate() as dateofbirth;
+-------------+
| dateofbirth |
+-------------+
| 2023-01-25  |
+-------------+
1 row in set (0.00 sec)

mysql> select curdate() as dateofborn;
+------------+
| dateofborn |
+------------+
| 2023-01-25 |
+------------+
1 row in set (0.00 sec)

mysql> select curtime() as orderplaced;
+-------------+
| orderplaced |
+-------------+
| 09:33:24    |
+-------------+
1 row in set (0.00 sec)

mysql> select * from orders;
+-----+------------+---------+------+
| oid | orderdate  | oamount | cid  |
+-----+------------+---------+------+
|   1 | 2019-05-05 |      55 |    1 |
|   2 | 2019-08-06 |      85 |    2 |
|   3 | 2019-08-05 |     155 |    1 |
|   4 | 2019-05-12 |      95 |    3 |
+-----+------------+---------+------+
4 rows in set (0.00 sec)

mysql> insert into orders (orderdate,oamount,cid)
    -> values (curdate(),125,5);
ERROR 1452 (23000): Cannot add or update a child row: a foreign key constraint fails (`student`.`orders`, CONSTRAINT `orders_ibfk_1` FOREIGN KEY (`cid`) REFERENCES `customers` (`cid`))
mysql> insert into orders (orderdate,oamount,cid)
    -> values (curdate(),125,2);
Query OK, 1 row affected (0.01 sec)

mysql> select * from orders;
+-----+------------+---------+------+
| oid | orderdate  | oamount | cid  |
+-----+------------+---------+------+
|   1 | 2019-05-05 |      55 |    1 |
|   2 | 2019-08-06 |      85 |    2 |
|   3 | 2019-08-05 |     155 |    1 |
|   4 | 2019-05-12 |      95 |    3 |
|   6 | 2023-01-25 |     125 |    2 |
+-----+------------+---------+------+
5 rows in set (0.00 sec)

In [ ]:
mysql> show databases;
+--------------------+
| Database           |
+--------------------+
| information_schema |
| isit               |
| manoj              |
| mydb               |
| mysql              |
| performance_schema |
| primarykeydb       |
| sakila             |
| student            |
| sys                |
| world              |
+--------------------+
11 rows in set (0.02 sec)

mysql> use manoj
Database changed
mysql> show tables;
+-----------------+
| Tables_in_manoj |
+-----------------+
| customers       |
| orders          |
| stock           |
+-----------------+
3 rows in set (0.01 sec)

mysql> desc customers;
+--------+--------------+------+-----+---------+-------+
| Field  | Type         | Null | Key | Default | Extra |
+--------+--------------+------+-----+---------+-------+
| cid    | int          | NO   | PRI | NULL    |       |
| cname  | varchar(25)  | YES  |     | NULL    |       |
| cemail | varchar(255) | YES  |     | NULL    |       |
+--------+--------------+------+-----+---------+-------+
3 rows in set (0.03 sec)

mysql> desc orders;
+---------+-------+------+-----+---------+-------+
| Field   | Type  | Null | Key | Default | Extra |
+---------+-------+------+-----+---------+-------+
| oid     | int   | NO   | PRI | NULL    |       |
| odate   | date  | YES  |     | NULL    |       |
| oamount | float | YES  |     | NULL    |       |
| cid     | int   | YES  | MUL | NULL    |       |
+---------+-------+------+-----+---------+-------+
4 rows in set (0.00 sec)

mysql> select * from customers;
+-----+-------+-----------------+
| cid | cname | cemail          |
+-----+-------+-----------------+
|   1 | Rahul | rahul@gmail.com |
|   2 | Amit  | Amit@gmail.com  |
|   3 | Sumit | Sumit@gmail.com |
|   4 | Vikas | Vikas@gmail.com |
|   5 | akash | akash@gmail.com |
|   6 | Umesh | Umesh@gmail.com |
+-----+-------+-----------------+
6 rows in set (0.01 sec)

mysql> select * from orders;
+-----+------------+---------+------+
| oid | odate      | oamount | cid  |
+-----+------------+---------+------+
|   1 | 2023-01-05 |     155 |    3 |
|   2 | 2023-01-05 |     255 |    2 |
|   3 | 2023-01-05 |     180 |    5 |
|   4 | 2023-01-06 |     250 |    1 |
|   5 | 2023-01-06 |     170 |    3 |
|   6 | 2023-01-06 |     650 |    4 |
|   7 | 2023-01-07 |    1500 |    2 |
|   8 | 2023-01-07 |     500 |    4 |
|   9 | 2023-01-07 |     600 |    5 |
|  10 | 2023-01-08 |     700 |    3 |
+-----+------------+---------+------+
10 rows in set (0.00 sec)

mysql> select * from orders,customer;
ERROR 1146 (42S02): Table 'manoj.customer' doesn't exist
mysql> select * from orders,customers;
+-----+------------+---------+------+-----+-------+-----------------+
| oid | odate      | oamount | cid  | cid | cname | cemail          |
+-----+------------+---------+------+-----+-------+-----------------+
|   1 | 2023-01-05 |     155 |    3 |   6 | Umesh | Umesh@gmail.com |
|   1 | 2023-01-05 |     155 |    3 |   5 | akash | akash@gmail.com |
|   1 | 2023-01-05 |     155 |    3 |   4 | Vikas | Vikas@gmail.com |
|   1 | 2023-01-05 |     155 |    3 |   3 | Sumit | Sumit@gmail.com |
|   1 | 2023-01-05 |     155 |    3 |   2 | Amit  | Amit@gmail.com  |
|   1 | 2023-01-05 |     155 |    3 |   1 | Rahul | rahul@gmail.com |
|   2 | 2023-01-05 |     255 |    2 |   6 | Umesh | Umesh@gmail.com |
|   2 | 2023-01-05 |     255 |    2 |   5 | akash | akash@gmail.com |
|   2 | 2023-01-05 |     255 |    2 |   4 | Vikas | Vikas@gmail.com |
|   2 | 2023-01-05 |     255 |    2 |   3 | Sumit | Sumit@gmail.com |
|   2 | 2023-01-05 |     255 |    2 |   2 | Amit  | Amit@gmail.com  |
|   2 | 2023-01-05 |     255 |    2 |   1 | Rahul | rahul@gmail.com |
|   3 | 2023-01-05 |     180 |    5 |   6 | Umesh | Umesh@gmail.com |
|   3 | 2023-01-05 |     180 |    5 |   5 | akash | akash@gmail.com |
|   3 | 2023-01-05 |     180 |    5 |   4 | Vikas | Vikas@gmail.com |
|   3 | 2023-01-05 |     180 |    5 |   3 | Sumit | Sumit@gmail.com |
|   3 | 2023-01-05 |     180 |    5 |   2 | Amit  | Amit@gmail.com  |
|   3 | 2023-01-05 |     180 |    5 |   1 | Rahul | rahul@gmail.com |
|   4 | 2023-01-06 |     250 |    1 |   6 | Umesh | Umesh@gmail.com |
|   4 | 2023-01-06 |     250 |    1 |   5 | akash | akash@gmail.com |
|   4 | 2023-01-06 |     250 |    1 |   4 | Vikas | Vikas@gmail.com |
|   4 | 2023-01-06 |     250 |    1 |   3 | Sumit | Sumit@gmail.com |
|   4 | 2023-01-06 |     250 |    1 |   2 | Amit  | Amit@gmail.com  |
|   4 | 2023-01-06 |     250 |    1 |   1 | Rahul | rahul@gmail.com |
|   5 | 2023-01-06 |     170 |    3 |   6 | Umesh | Umesh@gmail.com |
|   5 | 2023-01-06 |     170 |    3 |   5 | akash | akash@gmail.com |
|   5 | 2023-01-06 |     170 |    3 |   4 | Vikas | Vikas@gmail.com |
|   5 | 2023-01-06 |     170 |    3 |   3 | Sumit | Sumit@gmail.com |
|   5 | 2023-01-06 |     170 |    3 |   2 | Amit  | Amit@gmail.com  |
|   5 | 2023-01-06 |     170 |    3 |   1 | Rahul | rahul@gmail.com |
|   6 | 2023-01-06 |     650 |    4 |   6 | Umesh | Umesh@gmail.com |
|   6 | 2023-01-06 |     650 |    4 |   5 | akash | akash@gmail.com |
|   6 | 2023-01-06 |     650 |    4 |   4 | Vikas | Vikas@gmail.com |
|   6 | 2023-01-06 |     650 |    4 |   3 | Sumit | Sumit@gmail.com |
|   6 | 2023-01-06 |     650 |    4 |   2 | Amit  | Amit@gmail.com  |
|   6 | 2023-01-06 |     650 |    4 |   1 | Rahul | rahul@gmail.com |
|   7 | 2023-01-07 |    1500 |    2 |   6 | Umesh | Umesh@gmail.com |
|   7 | 2023-01-07 |    1500 |    2 |   5 | akash | akash@gmail.com |
|   7 | 2023-01-07 |    1500 |    2 |   4 | Vikas | Vikas@gmail.com |
|   7 | 2023-01-07 |    1500 |    2 |   3 | Sumit | Sumit@gmail.com |
|   7 | 2023-01-07 |    1500 |    2 |   2 | Amit  | Amit@gmail.com  |
|   7 | 2023-01-07 |    1500 |    2 |   1 | Rahul | rahul@gmail.com |
|   8 | 2023-01-07 |     500 |    4 |   6 | Umesh | Umesh@gmail.com |
|   8 | 2023-01-07 |     500 |    4 |   5 | akash | akash@gmail.com |
|   8 | 2023-01-07 |     500 |    4 |   4 | Vikas | Vikas@gmail.com |
|   8 | 2023-01-07 |     500 |    4 |   3 | Sumit | Sumit@gmail.com |
|   8 | 2023-01-07 |     500 |    4 |   2 | Amit  | Amit@gmail.com  |
|   8 | 2023-01-07 |     500 |    4 |   1 | Rahul | rahul@gmail.com |
|   9 | 2023-01-07 |     600 |    5 |   6 | Umesh | Umesh@gmail.com |
|   9 | 2023-01-07 |     600 |    5 |   5 | akash | akash@gmail.com |
|   9 | 2023-01-07 |     600 |    5 |   4 | Vikas | Vikas@gmail.com |
|   9 | 2023-01-07 |     600 |    5 |   3 | Sumit | Sumit@gmail.com |
|   9 | 2023-01-07 |     600 |    5 |   2 | Amit  | Amit@gmail.com  |
|   9 | 2023-01-07 |     600 |    5 |   1 | Rahul | rahul@gmail.com |
|  10 | 2023-01-08 |     700 |    3 |   6 | Umesh | Umesh@gmail.com |
|  10 | 2023-01-08 |     700 |    3 |   5 | akash | akash@gmail.com |
|  10 | 2023-01-08 |     700 |    3 |   4 | Vikas | Vikas@gmail.com |
|  10 | 2023-01-08 |     700 |    3 |   3 | Sumit | Sumit@gmail.com |
|  10 | 2023-01-08 |     700 |    3 |   2 | Amit  | Amit@gmail.com  |
|  10 | 2023-01-08 |     700 |    3 |   1 | Rahul | rahul@gmail.com |
+-----+------------+---------+------+-----+-------+-----------------+
60 rows in set (0.00 sec)

mysql> select * from orders,customers
    -> where orders.cid=customers.cid;
+-----+------------+---------+------+-----+-------+-----------------+
| oid | odate      | oamount | cid  | cid | cname | cemail          |
+-----+------------+---------+------+-----+-------+-----------------+
|   1 | 2023-01-05 |     155 |    3 |   3 | Sumit | Sumit@gmail.com |
|   2 | 2023-01-05 |     255 |    2 |   2 | Amit  | Amit@gmail.com  |
|   3 | 2023-01-05 |     180 |    5 |   5 | akash | akash@gmail.com |
|   4 | 2023-01-06 |     250 |    1 |   1 | Rahul | rahul@gmail.com |
|   5 | 2023-01-06 |     170 |    3 |   3 | Sumit | Sumit@gmail.com |
|   6 | 2023-01-06 |     650 |    4 |   4 | Vikas | Vikas@gmail.com |
|   7 | 2023-01-07 |    1500 |    2 |   2 | Amit  | Amit@gmail.com  |
|   8 | 2023-01-07 |     500 |    4 |   4 | Vikas | Vikas@gmail.com |
|   9 | 2023-01-07 |     600 |    5 |   5 | akash | akash@gmail.com |
|  10 | 2023-01-08 |     700 |    3 |   3 | Sumit | Sumit@gmail.com |
+-----+------------+---------+------+-----+-------+-----------------+
10 rows in set (0.00 sec)

mysql> select cid,cemail,oamount,odate from orders,customers
    -> where orders.cid=customers.cid;
ERROR 1052 (23000): Column 'cid' in field list is ambiguous
mysql> select customers.cid,cname,cemail,oamount,odate from orders,customers
    -> where orders.cid=customers.cid;
+-----+-------+-----------------+---------+------------+
| cid | cname | cemail          | oamount | odate      |
+-----+-------+-----------------+---------+------------+
|   3 | Sumit | Sumit@gmail.com |     155 | 2023-01-05 |
|   2 | Amit  | Amit@gmail.com  |     255 | 2023-01-05 |
|   5 | akash | akash@gmail.com |     180 | 2023-01-05 |
|   1 | Rahul | rahul@gmail.com |     250 | 2023-01-06 |
|   3 | Sumit | Sumit@gmail.com |     170 | 2023-01-06 |
|   4 | Vikas | Vikas@gmail.com |     650 | 2023-01-06 |
|   2 | Amit  | Amit@gmail.com  |    1500 | 2023-01-07 |
|   4 | Vikas | Vikas@gmail.com |     500 | 2023-01-07 |
|   5 | akash | akash@gmail.com |     600 | 2023-01-07 |
|   3 | Sumit | Sumit@gmail.com |     700 | 2023-01-08 |
+-----+-------+-----------------+---------+------------+
10 rows in set (0.00 sec)

mysql> select cid,cemail,oamount,odate from orders,customers
    -> where orders.cid=customers.cid
    -> order by cname;
ERROR 1052 (23000): Column 'cid' in field list is ambiguous
mysql> select cid,cemail,oamount,odate from orders,customers
    -> where orders.cid=customers.cid;
ERROR 1052 (23000): Column 'cid' in field list is ambiguous
mysql> select customers.cid,cname,cemail,oamount,odate from orders,customers
    -> where orders.cid=customers.cid
    -> order by cname;
+-----+-------+-----------------+---------+------------+
| cid | cname | cemail          | oamount | odate      |
+-----+-------+-----------------+---------+------------+
|   5 | akash | akash@gmail.com |     180 | 2023-01-05 |
|   5 | akash | akash@gmail.com |     600 | 2023-01-07 |
|   2 | Amit  | Amit@gmail.com  |     255 | 2023-01-05 |
|   2 | Amit  | Amit@gmail.com  |    1500 | 2023-01-07 |
|   1 | Rahul | rahul@gmail.com |     250 | 2023-01-06 |
|   3 | Sumit | Sumit@gmail.com |     155 | 2023-01-05 |
|   3 | Sumit | Sumit@gmail.com |     170 | 2023-01-06 |
|   3 | Sumit | Sumit@gmail.com |     700 | 2023-01-08 |
|   4 | Vikas | Vikas@gmail.com |     650 | 2023-01-06 |
|   4 | Vikas | Vikas@gmail.com |     500 | 2023-01-07 |
+-----+-------+-----------------+---------+------------+
10 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,oamount,odate from orders,customers
    -> where orders.cid=customers.cid;
+-----+-------+-----------------+---------+------------+
| cid | cname | cemail          | oamount | odate      |
+-----+-------+-----------------+---------+------------+
|   3 | Sumit | Sumit@gmail.com |     155 | 2023-01-05 |
|   2 | Amit  | Amit@gmail.com  |     255 | 2023-01-05 |
|   5 | akash | akash@gmail.com |     180 | 2023-01-05 |
|   1 | Rahul | rahul@gmail.com |     250 | 2023-01-06 |
|   3 | Sumit | Sumit@gmail.com |     170 | 2023-01-06 |
|   4 | Vikas | Vikas@gmail.com |     650 | 2023-01-06 |
|   2 | Amit  | Amit@gmail.com  |    1500 | 2023-01-07 |
|   4 | Vikas | Vikas@gmail.com |     500 | 2023-01-07 |
|   5 | akash | akash@gmail.com |     600 | 2023-01-07 |
|   3 | Sumit | Sumit@gmail.com |     700 | 2023-01-08 |
+-----+-------+-----------------+---------+------------+
10 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,oamount,odate from orders,customers
    -> where orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+---------+------------+
| cid | cname | cemail          | oamount | odate      |
+-----+-------+-----------------+---------+------------+
|   3 | Sumit | Sumit@gmail.com |     155 | 2023-01-05 |
|   2 | Amit  | Amit@gmail.com  |     255 | 2023-01-05 |
|   5 | akash | akash@gmail.com |     180 | 2023-01-05 |
|   1 | Rahul | rahul@gmail.com |     250 | 2023-01-06 |
|   4 | Vikas | Vikas@gmail.com |     650 | 2023-01-06 |
+-----+-------+-----------------+---------+------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount),odate from orders,customers
    -> where orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+--------------+------------+
| cid | cname | cemail          | sum(oamount) | odate      |
+-----+-------+-----------------+--------------+------------+
|   3 | Sumit | Sumit@gmail.com |         1025 | 2023-01-05 |
|   2 | Amit  | Amit@gmail.com  |         1755 | 2023-01-05 |
|   5 | akash | akash@gmail.com |          780 | 2023-01-05 |
|   1 | Rahul | rahul@gmail.com |          250 | 2023-01-06 |
|   4 | Vikas | Vikas@gmail.com |         1150 | 2023-01-06 |
+-----+-------+-----------------+--------------+------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) as total_payment,odate from orders,customers
    -> where orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+---------------+------------+
| cid | cname | cemail          | total_payment | odate      |
+-----+-------+-----------------+---------------+------------+
|   3 | Sumit | Sumit@gmail.com |          1025 | 2023-01-05 |
|   2 | Amit  | Amit@gmail.com  |          1755 | 2023-01-05 |
|   5 | akash | akash@gmail.com |           780 | 2023-01-05 |
|   1 | Rahul | rahul@gmail.com |           250 | 2023-01-06 |
|   4 | Vikas | Vikas@gmail.com |          1150 | 2023-01-06 |
+-----+-------+-----------------+---------------+------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) from orders,customers
    -> where orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+--------------+
| cid | cname | cemail          | sum(oamount) |
+-----+-------+-----------------+--------------+
|   3 | Sumit | Sumit@gmail.com |         1025 |
|   2 | Amit  | Amit@gmail.com  |         1755 |
|   5 | akash | akash@gmail.com |          780 |
|   1 | Rahul | rahul@gmail.com |          250 |
|   4 | Vikas | Vikas@gmail.com |         1150 |
+-----+-------+-----------------+--------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) as total_payment from orders,customers
    -> where orders.cid=customers.cid
    -> ;
+------+-------+-----------------+---------------+
| cid  | cname | cemail          | total_payment |
+------+-------+-----------------+---------------+
|    3 | Sumit | Sumit@gmail.com |          4960 |
+------+-------+-----------------+---------------+
1 row in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) as total_payment from orders,customers
    -> where orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+---------------+
| cid | cname | cemail          | total_payment |
+-----+-------+-----------------+---------------+
|   3 | Sumit | Sumit@gmail.com |          1025 |
|   2 | Amit  | Amit@gmail.com  |          1755 |
|   5 | akash | akash@gmail.com |           780 |
|   1 | Rahul | rahul@gmail.com |           250 |
|   4 | Vikas | Vikas@gmail.com |          1150 |
+-----+-------+-----------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) as total_payment from orders
    -> inner join customers
    -> on orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+---------------+
| cid | cname | cemail          | total_payment |
+-----+-------+-----------------+---------------+
|   3 | Sumit | Sumit@gmail.com |          1025 |
|   2 | Amit  | Amit@gmail.com  |          1755 |
|   5 | akash | akash@gmail.com |           780 |
|   1 | Rahul | rahul@gmail.com |           250 |
|   4 | Vikas | Vikas@gmail.com |          1150 |
+-----+-------+-----------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) as total_payment from customers
    -> inner join orders
    -> on orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+---------------+
| cid | cname | cemail          | total_payment |
+-----+-------+-----------------+---------------+
|   3 | Sumit | Sumit@gmail.com |          1025 |
|   2 | Amit  | Amit@gmail.com  |          1755 |
|   5 | akash | akash@gmail.com |           780 |
|   1 | Rahul | rahul@gmail.com |           250 |
|   4 | Vikas | Vikas@gmail.com |          1150 |
+-----+-------+-----------------+---------------+
5 rows in set (0.00 sec)

mysql> select * from customers;
+-----+-------+-----------------+
| cid | cname | cemail          |
+-----+-------+-----------------+
|   1 | Rahul | rahul@gmail.com |
|   2 | Amit  | Amit@gmail.com  |
|   3 | Sumit | Sumit@gmail.com |
|   4 | Vikas | Vikas@gmail.com |
|   5 | akash | akash@gmail.com |
|   6 | Umesh | Umesh@gmail.com |
+-----+-------+-----------------+
6 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) as total_payment from customers
    -> left join orders
    -> on orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+---------------+
| cid | cname | cemail          | total_payment |
+-----+-------+-----------------+---------------+
|   1 | Rahul | rahul@gmail.com |           250 |
|   2 | Amit  | Amit@gmail.com  |          1755 |
|   3 | Sumit | Sumit@gmail.com |          1025 |
|   4 | Vikas | Vikas@gmail.com |          1150 |
|   5 | akash | akash@gmail.com |           780 |
|   6 | Umesh | Umesh@gmail.com |          NULL |
+-----+-------+-----------------+---------------+
6 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) as total_payment from orders
    -> left join customers
    -> on orders.cid=customers.cid
    -> group by cname;
+------+-------+-----------------+---------------+
| cid  | cname | cemail          | total_payment |
+------+-------+-----------------+---------------+
|    3 | Sumit | Sumit@gmail.com |          1025 |
|    2 | Amit  | Amit@gmail.com  |          1755 |
|    5 | akash | akash@gmail.com |           780 |
|    1 | Rahul | rahul@gmail.com |           250 |
|    4 | Vikas | Vikas@gmail.com |          1150 |
+------+-------+-----------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,sum(oamount) as total_payment from orders
    -> right join customers
    -> on orders.cid=customers.cid
    -> group by cname;
+-----+-------+-----------------+---------------+
| cid | cname | cemail          | total_payment |
+-----+-------+-----------------+---------------+
|   1 | Rahul | rahul@gmail.com |           250 |
|   2 | Amit  | Amit@gmail.com  |          1755 |
|   3 | Sumit | Sumit@gmail.com |          1025 |
|   4 | Vikas | Vikas@gmail.com |          1150 |
|   5 | akash | akash@gmail.com |           780 |
|   6 | Umesh | Umesh@gmail.com |          NULL |
+-----+-------+-----------------+---------------+
6 rows in set (0.00 sec)

mysql> select customers.cid,count(cname),cemail,sum(oamount) as total_payment from orders
    -> right join customers
    -> on orders.cid=customers.cid
    -> group by cname;
+-----+--------------+-----------------+---------------+
| cid | count(cname) | cemail          | total_payment |
+-----+--------------+-----------------+---------------+
|   1 |            1 | rahul@gmail.com |           250 |
|   2 |            2 | Amit@gmail.com  |          1755 |
|   3 |            3 | Sumit@gmail.com |          1025 |
|   4 |            2 | Vikas@gmail.com |          1150 |
|   5 |            2 | akash@gmail.com |           780 |
|   6 |            1 | Umesh@gmail.com |          NULL |
+-----+--------------+-----------------+---------------+
6 rows in set (0.00 sec)

mysql> select customers.cid,cname,count(cemail),sum(oamount) as total_payment from orders
    -> left join customers
    -> on orders.cid=customers.cid
    -> group by cname;
+------+-------+---------------+---------------+
| cid  | cname | count(cemail) | total_payment |
+------+-------+---------------+---------------+
|    3 | Sumit |             3 |          1025 |
|    2 | Amit  |             2 |          1755 |
|    5 | akash |             2 |           780 |
|    1 | Rahul |             1 |           250 |
|    4 | Vikas |             2 |          1150 |
+------+-------+---------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> left join customers
    -> on orders.cid=customers.cid
    -> group by cname;
+------+-------+------------+---------------+
| cid  | cname | NosOfSales | total_payment |
+------+-------+------------+---------------+
|    3 | Sumit |          3 |          1025 |
|    2 | Amit  |          2 |          1755 |
|    5 | akash |          2 |           780 |
|    1 | Rahul |          1 |           250 |
|    4 | Vikas |          2 |          1150 |
+------+-------+------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> left join customers
    -> on orders.cid=customers.cid
    -> group by cname
    -> order by cid;
+------+-------+------------+---------------+
| cid  | cname | NosOfSales | total_payment |
+------+-------+------------+---------------+
|    1 | Rahul |          1 |           250 |
|    2 | Amit  |          2 |          1755 |
|    3 | Sumit |          3 |          1025 |
|    4 | Vikas |          2 |          1150 |
|    5 | akash |          2 |           780 |
+------+-------+------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> left join customers
    -> on orders.cid=customers.cid
    -> group by cname
    -> order by oamount;
+------+-------+------------+---------------+
| cid  | cname | NosOfSales | total_payment |
+------+-------+------------+---------------+
|    3 | Sumit |          3 |          1025 |
|    5 | akash |          2 |           780 |
|    1 | Rahul |          1 |           250 |
|    2 | Amit  |          2 |          1755 |
|    4 | Vikas |          2 |          1150 |
+------+-------+------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> left join customers
    -> on orders.cid=customers.cid
    -> group by cname
    -> order by total_payment;
+------+-------+------------+---------------+
| cid  | cname | NosOfSales | total_payment |
+------+-------+------------+---------------+
|    1 | Rahul |          1 |           250 |
|    5 | akash |          2 |           780 |
|    3 | Sumit |          3 |          1025 |
|    4 | Vikas |          2 |          1150 |
|    2 | Amit  |          2 |          1755 |
+------+-------+------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> left join customers
    -> on orders.cid=customers.cid
    -> group by cname
    -> order by total_payment desc;
+------+-------+------------+---------------+
| cid  | cname | NosOfSales | total_payment |
+------+-------+------------+---------------+
|    2 | Amit  |          2 |          1755 |
|    4 | Vikas |          2 |          1150 |
|    3 | Sumit |          3 |          1025 |
|    5 | akash |          2 |           780 |
|    1 | Rahul |          1 |           250 |
+------+-------+------------+---------------+
5 rows in set (0.00 sec)

mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> left join customers
    -> on orders.cid=customers.cid
    -> ^C
mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> full join customers
    -> on orders.cid=customers.cid
    -> group by cname
    -> order by total_payment desc;
ERROR 1054 (42S22): Unknown column 'orders.cid' in 'on clause'
mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> left join customers
    -> group by cname
    -> order by oamount;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'group by cname
order by oamount' at line 3
mysql> select customers.cid,cname,count(cemail) as NosOfSales,sum(oamount) as total_payment from orders
    -> full join customers
    -> group by cname
    -> order by oamount;
+-----+-------+------------+---------------+
| cid | cname | NosOfSales | total_payment |
+-----+-------+------------+---------------+
|   6 | Umesh |         10 |          4960 |
|   5 | akash |         10 |          4960 |
|   4 | Vikas |         10 |          4960 |
|   3 | Sumit |         10 |          4960 |
|   2 | Amit  |         10 |          4960 |
|   1 | Rahul |         10 |          4960 |
+-----+-------+------------+---------------+
6 rows in set (0.01 sec)

mysql> select customers.cid,cname,cemail,oamount from orders
    -> full join customers
    -> group by cname
    -> order by oamount;
+-----+-------+-----------------+---------+
| cid | cname | cemail          | oamount |
+-----+-------+-----------------+---------+
|   6 | Umesh | Umesh@gmail.com |     155 |
|   5 | akash | akash@gmail.com |     155 |
|   4 | Vikas | Vikas@gmail.com |     155 |
|   3 | Sumit | Sumit@gmail.com |     155 |
|   2 | Amit  | Amit@gmail.com  |     155 |
|   1 | Rahul | rahul@gmail.com |     155 |
+-----+-------+-----------------+---------+
6 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,oamount from orders
    -> full join customers
    -> order by oamount;
+-----+-------+-----------------+---------+
| cid | cname | cemail          | oamount |
+-----+-------+-----------------+---------+
|   6 | Umesh | Umesh@gmail.com |     155 |
|   5 | akash | akash@gmail.com |     155 |
|   4 | Vikas | Vikas@gmail.com |     155 |
|   3 | Sumit | Sumit@gmail.com |     155 |
|   2 | Amit  | Amit@gmail.com  |     155 |
|   1 | Rahul | rahul@gmail.com |     155 |
|   1 | Rahul | rahul@gmail.com |     170 |
|   2 | Amit  | Amit@gmail.com  |     170 |
|   3 | Sumit | Sumit@gmail.com |     170 |
|   4 | Vikas | Vikas@gmail.com |     170 |
|   5 | akash | akash@gmail.com |     170 |
|   6 | Umesh | Umesh@gmail.com |     170 |
|   4 | Vikas | Vikas@gmail.com |     180 |
|   6 | Umesh | Umesh@gmail.com |     180 |
|   5 | akash | akash@gmail.com |     180 |
|   3 | Sumit | Sumit@gmail.com |     180 |
|   2 | Amit  | Amit@gmail.com  |     180 |
|   1 | Rahul | rahul@gmail.com |     180 |
|   6 | Umesh | Umesh@gmail.com |     250 |
|   5 | akash | akash@gmail.com |     250 |
|   4 | Vikas | Vikas@gmail.com |     250 |
|   3 | Sumit | Sumit@gmail.com |     250 |
|   2 | Amit  | Amit@gmail.com  |     250 |
|   1 | Rahul | rahul@gmail.com |     250 |
|   5 | akash | akash@gmail.com |     255 |
|   1 | Rahul | rahul@gmail.com |     255 |
|   2 | Amit  | Amit@gmail.com  |     255 |
|   3 | Sumit | Sumit@gmail.com |     255 |
|   4 | Vikas | Vikas@gmail.com |     255 |
|   6 | Umesh | Umesh@gmail.com |     255 |
|   6 | Umesh | Umesh@gmail.com |     500 |
|   5 | akash | akash@gmail.com |     500 |
|   4 | Vikas | Vikas@gmail.com |     500 |
|   3 | Sumit | Sumit@gmail.com |     500 |
|   2 | Amit  | Amit@gmail.com  |     500 |
|   1 | Rahul | rahul@gmail.com |     500 |
|   2 | Amit  | Amit@gmail.com  |     600 |
|   6 | Umesh | Umesh@gmail.com |     600 |
|   5 | akash | akash@gmail.com |     600 |
|   4 | Vikas | Vikas@gmail.com |     600 |
|   3 | Sumit | Sumit@gmail.com |     600 |
|   1 | Rahul | rahul@gmail.com |     600 |
|   5 | akash | akash@gmail.com |     650 |
|   4 | Vikas | Vikas@gmail.com |     650 |
|   3 | Sumit | Sumit@gmail.com |     650 |
|   2 | Amit  | Amit@gmail.com  |     650 |
|   1 | Rahul | rahul@gmail.com |     650 |
|   6 | Umesh | Umesh@gmail.com |     650 |
|   6 | Umesh | Umesh@gmail.com |     700 |
|   5 | akash | akash@gmail.com |     700 |
|   4 | Vikas | Vikas@gmail.com |     700 |
|   3 | Sumit | Sumit@gmail.com |     700 |
|   2 | Amit  | Amit@gmail.com  |     700 |
|   1 | Rahul | rahul@gmail.com |     700 |
|   6 | Umesh | Umesh@gmail.com |    1500 |
|   5 | akash | akash@gmail.com |    1500 |
|   4 | Vikas | Vikas@gmail.com |    1500 |
|   3 | Sumit | Sumit@gmail.com |    1500 |
|   2 | Amit  | Amit@gmail.com  |    1500 |
|   1 | Rahul | rahul@gmail.com |    1500 |
+-----+-------+-----------------+---------+
60 rows in set (0.00 sec)

mysql> select customers.cid,cname,cemail,oamount from orders
    -> full join customers
    -> on orders.cid=customers.cid
    -> order by cid;
ERROR 1054 (42S22): Unknown column 'orders.cid' in 'on clause'
mysql> select customers.cid,cname,cemail,oamount from orders
    -> full join customers
    -> on cid=customers.cid
    -> order by cid;
ERROR 1052 (23000): Column 'cid' in on clause is ambiguous
mysql> select customers.cid,cname,cemail,oamount from orders
    -> full join customers
    -> on orders.cid=customers.cid
    -> order by customers.cid;
ERROR 1054 (42S22): Unknown column 'orders.cid' in 'on clause'
mysql> select customers.cid,cname,cemail,oamount from orders
    -> full join customers
    -> on orders.cid=customers.cid
    -> ^C
mysql> select customers.cid,cname,cemail,oamount from orders
    -> full join customers
    -> on cid=customers.cid
    -> order by customers.cid;
ERROR 1052 (23000): Column 'cid' in on clause is ambiguous
mysql> select customers.cid,cname,cemail,oamount from orders
    -> full outer join customers
    -> on orders.cid=customers.cid
    -> order by cid;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'outer join customers
on orders.cid=customers.cid
order by cid' at line 2
mysql> select customers.cid,cname,cemail,oamount from orders
    -> full outer join customers
    -> on orders.cid=customers.cid
    -> group by cname
    -> order by cid;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'outer join customers
on orders.cid=customers.cid
group by cname
order by cid' at line 2
mysql> select customers.cid,cname,cemail,oamount from orders
    -> outer join customers
    -> on orders.cid=customers.cid
    -> group by cname
    -> order by cid;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'outer join customers
on orders.cid=customers.cid
group by cname
order by cid' at line 2
mysql>

## 30:01:2023 : sub query

In [ ]:
mysql> create database school;
Query OK, 1 row affected (0.02 sec)

mysql> use school
Database changed
mysql> create table student(
    -> rollno int,
    -> student_name varchar(25),
    -> city varchar(25));
Query OK, 0 rows affected (0.04 sec)

mysql> desc student;
+--------------+-------------+------+-----+---------+-------+
| Field        | Type        | Null | Key | Default | Extra |
+--------------+-------------+------+-----+---------+-------+
| rollno       | int         | YES  |     | NULL    |       |
| student_name | varchar(25) | YES  |     | NULL    |       |
| city         | varchar(25) | YES  |     | NULL    |       |
+--------------+-------------+------+-----+---------+-------+
3 rows in set (0.01 sec)

mysql> insert into student values (1,"Anil","delhi");
Query OK, 1 row affected (0.01 sec)

mysql> insert into student values (2,"Sunil","delhi");
Query OK, 1 row affected (0.00 sec)

mysql> insert into student values (3,"Ajay","NCR");
Query OK, 1 row affected (0.00 sec)

mysql> insert into student values (4,"Vijay","Pune");
Query OK, 1 row affected (0.00 sec)

mysql> insert into student student values (5,"Manoj","Faridabad");
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'student values (5,"Manoj","Faridabad")' at line 1
mysql> insert into student values (6,"Geeta","Noida");
Query OK, 1 row affected (0.01 sec)

mysql> insert into student values (7,"Sita","Noida");
Query OK, 1 row affected (0.00 sec)

mysql> insert into student values (8,"Reeta","New Delhi");
Query OK, 1 row affected (0.00 sec)

mysql> insert into student values (9,"Arvind","Faridabad");
Query OK, 1 row affected (0.00 sec)

mysql> insert into student values (10,"Kumar","delhi");
Query OK, 1 row affected (0.01 sec)

mysql> select * from student;
+--------+--------------+-----------+
| rollno | student_name | city      |
+--------+--------------+-----------+
|      1 | Anil         | delhi     |
|      2 | Sunil        | delhi     |
|      3 | Ajay         | NCR       |
|      4 | Vijay        | Pune      |
|      6 | Geeta        | Noida     |
|      7 | Sita         | Noida     |
|      8 | Reeta        | New Delhi |
|      9 | Arvind       | Faridabad |
|     10 | Kumar        | delhi     |
+--------+--------------+-----------+
9 rows in set (0.00 sec)

mysql> insert into student values (5,"Manoj","Faridabad");
Query OK, 1 row affected (0.01 sec)

mysql> select * from student;
+--------+--------------+-----------+
| rollno | student_name | city      |
+--------+--------------+-----------+
|      1 | Anil         | delhi     |
|      2 | Sunil        | delhi     |
|      3 | Ajay         | NCR       |
|      4 | Vijay        | Pune      |
|      6 | Geeta        | Noida     |
|      7 | Sita         | Noida     |
|      8 | Reeta        | New Delhi |
|      9 | Arvind       | Faridabad |
|     10 | Kumar        | delhi     |
|      5 | Manoj        | Faridabad |
+--------+--------------+-----------+
10 rows in set (0.00 sec)

mysql> show tables;
+------------------+
| Tables_in_school |
+------------------+
| student          |
+------------------+
1 row in set (0.00 sec)

mysql> create table st_marks(
    -> rollno int,
    -> science int,
    -> maths int,
    -> eng int);
Query OK, 0 rows affected (0.02 sec)

mysql> show tables;
+------------------+
| Tables_in_school |
+------------------+
| st_marks         |
| student          |
+------------------+
2 rows in set (0.00 sec)

mysql> insert into st_marks values (1,34,78,54);
Query OK, 1 row affected (0.01 sec)

mysql> insert into st_marks values (2,78,43,87);
Query OK, 1 row affected (0.00 sec)

mysql> insert into st_marks values (3,45,32,78);
Query OK, 1 row affected (0.00 sec)

mysql> insert into st_marks values (4,36,78,32);
Query OK, 1 row affected (0.01 sec)

mysql> insert into st_marks values (5,12,22,67);
Query OK, 1 row affected (0.00 sec)

mysql> insert into st_marks values (6,21,65,43);
Query OK, 1 row affected (0.00 sec)

mysql> insert into st_marks values (7,34,78,54);
Query OK, 1 row affected (0.00 sec)

mysql> insert into st_marks values (8,89,78,54);
Query OK, 1 row affected (0.00 sec)

mysql> insert into st_marks values (9,76,78,54);
Query OK, 1 row affected (0.00 sec)

mysql> insert into st_marks values (10,22,56,54);
Query OK, 1 row affected (0.01 sec)

mysql> select * from st_marks
    -> ;
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
|      2 |      78 |    43 |   87 |
|      3 |      45 |    32 |   78 |
|      4 |      36 |    78 |   32 |
|      5 |      12 |    22 |   67 |
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
|      8 |      89 |    78 |   54 |
|      9 |      76 |    78 |   54 |
|     10 |      22 |    56 |   54 |
+--------+---------+-------+------+
10 rows in set (0.00 sec)

mysql> desc st_marks;
+---------+------+------+-----+---------+-------+
| Field   | Type | Null | Key | Default | Extra |
+---------+------+------+-----+---------+-------+
| rollno  | int  | YES  |     | NULL    |       |
| science | int  | YES  |     | NULL    |       |
| maths   | int  | YES  |     | NULL    |       |
| eng     | int  | YES  |     | NULL    |       |
+---------+------+------+-----+---------+-------+
4 rows in set (0.00 sec)

mysql> select * from st_marks where rollno=
    -> (select rollno from student where student_name="Anil" and city="delhi");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
+--------+---------+-------+------+
1 row in set (0.00 sec)

mysql> select * from st_marks where rollno=
    -> (select rollno from student where city="delhi");
ERROR 1242 (21000): Subquery returns more than 1 row
mysql> select * from st_marks where rollno=
    -> (select rollno from student where student_name="^Cil" and city="delhi");
mysql> select * from st_marks where rollno in
    -> (select rollno from student where student_name="Anil" and city="delhi");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
+--------+---------+-------+------+
1 row in set (0.00 sec)

mysql> select * from st_marks where rollno in
    -> (select rollno from student where and city="delhi");
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and city="delhi")' at line 2
mysql> select * from st_marks where rollno in
    -> (select rollno from student where city="delhi");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
|      2 |      78 |    43 |   87 |
|     10 |      22 |    56 |   54 |
+--------+---------+-------+------+
3 rows in set (0.00 sec)

mysql> select * from student;
+--------+--------------+-----------+
| rollno | student_name | city      |
+--------+--------------+-----------+
|      1 | Anil         | delhi     |
|      2 | Sunil        | delhi     |
|      3 | Ajay         | NCR       |
|      4 | Vijay        | Pune      |
|      6 | Geeta        | Noida     |
|      7 | Sita         | Noida     |
|      8 | Reeta        | New Delhi |
|      9 | Arvind       | Faridabad |
|     10 | Kumar        | delhi     |
|      5 | Manoj        | Faridabad |
+--------+--------------+-----------+
10 rows in set (0.00 sec)

mysql> select * from st_marks where rollno not in
    -> (select rollno from student where city="delhi");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      3 |      45 |    32 |   78 |
|      4 |      36 |    78 |   32 |
|      5 |      12 |    22 |   67 |
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
|      8 |      89 |    78 |   54 |
|      9 |      76 |    78 |   54 |
+--------+---------+-------+------+
7 rows in set (0.00 sec)

mysql> select * from st_marks where rollno in
    -> (select rollno from student where and city="%delhi%");
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and city="%delhi%")' at line 2
mysql> select * from st_marks where rollno in
    -> (select rollno from student where city like "%delhi%");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
|      2 |      78 |    43 |   87 |
|      8 |      89 |    78 |   54 |
|     10 |      22 |    56 |   54 |
+--------+---------+-------+------+
4 rows in set (0.00 sec)

mysql> select * from st_marks where rollno in
    -> (select rollno from student where and city="Noida");
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'and city="Noida")' at line 2
mysql> select * from st_marks where rollno in
    -> (select rollno from student where city="Noida");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
+--------+---------+-------+------+
2 rows in set (0.00 sec)

mysql> (select rollno from student where city="Noida"
    -> );
+--------+
| rollno |
+--------+
|      6 |
|      7 |
+--------+
2 rows in set (0.00 sec)

mysql> select * from st_marks where rollno in (6,7);
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
+--------+---------+-------+------+
2 rows in set (0.00 sec)

mysql> select * from st_marks where rollno = (6,7);
ERROR 1241 (21000): Operand should contain 1 column(s)
mysql> select * from st_marks where rollno = 6;
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      6 |      21 |    65 |   43 |
+--------+---------+-------+------+
1 row in set (0.00 sec)

mysql> select * from st_marks where rollno =any
    -> (select rollno from student where city="Noida");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
+--------+---------+-------+------+
2 rows in set (0.00 sec)

mysql> select * from st_marks where rollno >any
    -> (select rollno from student where city="Noida");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      7 |      34 |    78 |   54 |
|      8 |      89 |    78 |   54 |
|      9 |      76 |    78 |   54 |
|     10 |      22 |    56 |   54 |
+--------+---------+-------+------+
4 rows in set (0.00 sec)

mysql> select * from st_marks where rollno <any
    -> (select rollno from student where city="Noida");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
|      2 |      78 |    43 |   87 |
|      3 |      45 |    32 |   78 |
|      4 |      36 |    78 |   32 |
|      5 |      12 |    22 |   67 |
|      6 |      21 |    65 |   43 |
+--------+---------+-------+------+
6 rows in set (0.00 sec)

mysql> select * from st_marks where rollno >=any
    -> (select rollno from student where city="Noida");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
|      8 |      89 |    78 |   54 |
|      9 |      76 |    78 |   54 |
|     10 |      22 |    56 |   54 |
+--------+---------+-------+------+
5 rows in set (0.00 sec)

mysql> select * from st_marks where rollno <=any
    -> (select rollno from student where city="Noida");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
|      2 |      78 |    43 |   87 |
|      3 |      45 |    32 |   78 |
|      4 |      36 |    78 |   32 |
|      5 |      12 |    22 |   67 |
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
+--------+---------+-------+------+
7 rows in set (0.00 sec)

mysql> select * from st_marks where rollno not any
    -> (select rollno from student where city="Noida");
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'any
(select rollno from student where city="Noida")' at line 1
mysql> select * from st_marks where rollno !=any
    -> (select rollno from student where city="Noida");
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
|      2 |      78 |    43 |   87 |
|      3 |      45 |    32 |   78 |
|      4 |      36 |    78 |   32 |
|      5 |      12 |    22 |   67 |
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
|      8 |      89 |    78 |   54 |
|      9 |      76 |    78 |   54 |
|     10 |      22 |    56 |   54 |
+--------+---------+-------+------+
10 rows in set (0.00 sec)

mysql> select * from st_marks
    -> ;
+--------+---------+-------+------+
| rollno | science | maths | eng  |
+--------+---------+-------+------+
|      1 |      34 |    78 |   54 |
|      2 |      78 |    43 |   87 |
|      3 |      45 |    32 |   78 |
|      4 |      36 |    78 |   32 |
|      5 |      12 |    22 |   67 |
|      6 |      21 |    65 |   43 |
|      7 |      34 |    78 |   54 |
|      8 |      89 |    78 |   54 |
|      9 |      76 |    78 |   54 |
|     10 |      22 |    56 |   54 |
+--------+---------+-------+------+
10 rows in set (0.00 sec)

mysql> create table student_bak(
    -> rollno int,
    -> student_name varchar(25),
    -> city varchar(25));
Query OK, 0 rows affected (0.02 sec)

mysql> select * from student;
+--------+--------------+-----------+
| rollno | student_name | city      |
+--------+--------------+-----------+
|      1 | Anil         | delhi     |
|      2 | Sunil        | delhi     |
|      3 | Ajay         | NCR       |
|      4 | Vijay        | Pune      |
|      6 | Geeta        | Noida     |
|      7 | Sita         | Noida     |
|      8 | Reeta        | New Delhi |
|      9 | Arvind       | Faridabad |
|     10 | Kumar        | delhi     |
|      5 | Manoj        | Faridabad |
+--------+--------------+-----------+
10 rows in set (0.00 sec)

mysql> delete table student_bak;3
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'table student_bak' at line 1
    -> ^C
mysql> drop table student_bak;
Query OK, 0 rows affected (0.01 sec)

mysql> create table st_marks(
    -> rollno int,
    -> science int,
    -> maths int,
    -> eng int
    -> total int);
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'total int)' at line 6
mysql> create table student_bak(
    -> rollno int,
    -> science int,
    -> maths int,
    -> eng int
    -> total int);
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'total int)' at line 6
mysql> create table student_bak(
    -> rollno int,
    -> science int,
    -> maths int,
    -> eng int,
    -> total int);
Query OK, 0 rows affected (0.02 sec)

mysql> insert into student_bak(rollno,science,maths,eng)
    -> select rollno,science,maths,eng from st_marks;
Query OK, 10 rows affected (0.01 sec)
Records: 10  Duplicates: 0  Warnings: 0

mysql> select * from student_bak;
+--------+---------+-------+------+-------+
| rollno | science | maths | eng  | total |
+--------+---------+-------+------+-------+
|      1 |      34 |    78 |   54 |  NULL |
|      2 |      78 |    43 |   87 |  NULL |
|      3 |      45 |    32 |   78 |  NULL |
|      4 |      36 |    78 |   32 |  NULL |
|      5 |      12 |    22 |   67 |  NULL |
|      6 |      21 |    65 |   43 |  NULL |
|      7 |      34 |    78 |   54 |  NULL |
|      8 |      89 |    78 |   54 |  NULL |
|      9 |      76 |    78 |   54 |  NULL |
|     10 |      22 |    56 |   54 |  NULL |
+--------+---------+-------+------+-------+
10 rows in set (0.00 sec)

mysql> insert into student_bak(rollno,science,maths,eng)
    -> select rollno,science,maths,eng from st_marks;^C
mysql> insert into student_bak(rollno,science,maths,eng,total)
    -> select rollno,science,maths,eng,science+maths+eng from st_marks;
Query OK, 10 rows affected (0.01 sec)
Records: 10  Duplicates: 0  Warnings: 0

mysql> select * from student_bak;
+--------+---------+-------+------+-------+
| rollno | science | maths | eng  | total |
+--------+---------+-------+------+-------+
|      1 |      34 |    78 |   54 |  NULL |
|      2 |      78 |    43 |   87 |  NULL |
|      3 |      45 |    32 |   78 |  NULL |
|      4 |      36 |    78 |   32 |  NULL |
|      5 |      12 |    22 |   67 |  NULL |
|      6 |      21 |    65 |   43 |  NULL |
|      7 |      34 |    78 |   54 |  NULL |
|      8 |      89 |    78 |   54 |  NULL |
|      9 |      76 |    78 |   54 |  NULL |
|     10 |      22 |    56 |   54 |  NULL |
|      1 |      34 |    78 |   54 |   166 |
|      2 |      78 |    43 |   87 |   208 |
|      3 |      45 |    32 |   78 |   155 |
|      4 |      36 |    78 |   32 |   146 |
|      5 |      12 |    22 |   67 |   101 |
|      6 |      21 |    65 |   43 |   129 |
|      7 |      34 |    78 |   54 |   166 |
|      8 |      89 |    78 |   54 |   221 |
|      9 |      76 |    78 |   54 |   208 |
|     10 |      22 |    56 |   54 |   132 |
+--------+---------+-------+------+-------+
20 rows in set (0.00 sec)

mysql> delete from student_bak where rollno in
    -> select rollno from st_marks where (eng+maths+science)<150;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'select rollno from st_marks where (eng+maths+science)<150' at line 2
mysql> delete from student_bak where rollno in
    -> (select rollno from st_marks where (eng+maths+science)<150);
Query OK, 8 rows affected (0.01 sec)

mysql> select * from student_bak;
+--------+---------+-------+------+-------+
| rollno | science | maths | eng  | total |
+--------+---------+-------+------+-------+
|      1 |      34 |    78 |   54 |  NULL |
|      2 |      78 |    43 |   87 |  NULL |
|      3 |      45 |    32 |   78 |  NULL |
|      7 |      34 |    78 |   54 |  NULL |
|      8 |      89 |    78 |   54 |  NULL |
|      9 |      76 |    78 |   54 |  NULL |
|      1 |      34 |    78 |   54 |   166 |
|      2 |      78 |    43 |   87 |   208 |
|      3 |      45 |    32 |   78 |   155 |
|      7 |      34 |    78 |   54 |   166 |
|      8 |      89 |    78 |   54 |   221 |
|      9 |      76 |    78 |   54 |   208 |
+--------+---------+-------+------+-------+
12 rows in set (0.00 sec)

mysql> delete from student_bak where total=NULL;
Query OK, 0 rows affected (0.00 sec)

mysql> select * from student_bak;
+--------+---------+-------+------+-------+
| rollno | science | maths | eng  | total |
+--------+---------+-------+------+-------+
|      1 |      34 |    78 |   54 |  NULL |
|      2 |      78 |    43 |   87 |  NULL |
|      3 |      45 |    32 |   78 |  NULL |
|      7 |      34 |    78 |   54 |  NULL |
|      8 |      89 |    78 |   54 |  NULL |
|      9 |      76 |    78 |   54 |  NULL |
|      1 |      34 |    78 |   54 |   166 |
|      2 |      78 |    43 |   87 |   208 |
|      3 |      45 |    32 |   78 |   155 |
|      7 |      34 |    78 |   54 |   166 |
|      8 |      89 |    78 |   54 |   221 |
|      9 |      76 |    78 |   54 |   208 |
+--------+---------+-------+------+-------+
12 rows in set (0.00 sec)

mysql> delete from student_bak where rollno in
    -> (select rollno from st_marks where total in null);
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'null)' at line 2
mysql> delete from student_bak where rollno in
    -> (select rollno from st_marks where total = null);
Query OK, 0 rows affected (0.00 sec)

mysql> (select rollno from st_marks where total = null);
ERROR 1054 (42S22): Unknown column 'total' in 'where clause'
mysql> delete from student_bak where rollno in
    -> (select rollno from student_bak where total in null);
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'null)' at line 2
mysql> delete from student_bak where rollno in
    -> (select rollno from student_bak where total="null");
ERROR 1093 (HY000): You can't specify target table 'student_bak' for update in FROM clause
mysql> delete from student_bak where rollno in
    -> (select rollno from student_bak where total=null);
ERROR 1093 (HY000): You can't specify target table 'student_bak' for update in FROM clause
mysql> delete from student_bak where rollno in
    -> ^C
mysql> delete from student_bak where total="null";
ERROR 1292 (22007): Truncated incorrect DOUBLE value: 'null'
mysql> delete from student_bak where total=null;
Query OK, 0 rows affected (0.00 sec)

mysql> create table employee(
    -> emp_id int primary key auto_increment,
    -> salary int);
Query OK, 0 rows affected (0.02 sec)

mysql> insert into employee(salary) values(3000);
Query OK, 1 row affected (0.01 sec)

mysql> insert into employee(salary) values(2345);
Query OK, 1 row affected (0.00 sec)

mysql> insert into employee(salary) values(7666);
Query OK, 1 row affected (0.00 sec)

mysql> insert into employee(salary) values(3000);
Query OK, 1 row affected (0.00 sec)

mysql> insert into employee(salary) values(7666);
Query OK, 1 row affected (0.00 sec)

mysql> insert into employee(salary) values(5000);
Query OK, 1 row affected (0.00 sec)

mysql> insert into employee(salary) values(6000);
Query OK, 1 row affected (0.01 sec)

mysql> select * from employee;
+--------+--------+
| emp_id | salary |
+--------+--------+
|      1 |   3000 |
|      2 |   2345 |
|      3 |   7666 |
|      4 |   3000 |
|      5 |   7666 |
|      6 |   5000 |
|      7 |   6000 |
+--------+--------+
7 rows in set (0.00 sec)

mysql> select salary from employee pq where 2=
    -> select count(distinct salary)
    -> from employee cq where pq.salary<=cq.salary;
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'select count(distinct salary)
from employee cq where pq.salary<=cq.salary' at line 2
mysql> select salary from employee pq where 2=
    -> (select count(distinct salary)
    -> from employee cq where pq.salary<=cq.salary);
+--------+
| salary |
+--------+
|   6000 |
+--------+
1 row in set (0.00 sec)

mysql> select salary from employee pq where 1=
    -> (select count(distinct salary)
    -> from employee cq where pq.salary<=cq.salary);
+--------+
| salary |
+--------+
|   7666 |
|   7666 |
+--------+
2 rows in set (0.00 sec)

mysql> select count(distinct salary) from employee;
+------------------------+
| count(distinct salary) |
+------------------------+
|                      5 |
+------------------------+
1 row in set (0.00 sec)

mysql> select distinct salary from employee;
+--------+
| salary |
+--------+
|   3000 |
|   2345 |
|   7666 |
|   5000 |
|   6000 |
+--------+
5 rows in set (0.00 sec)

In [ ]:
create procedure InsertData (id int,name varchar(25),email varchar(100),age int)
begin
insert into student
values
(id,name,email, age);
select * from student;
end

In [ ]:
mysql> show databases;3
+--------------------+
| Database           |
+--------------------+
| information_schema |
| isit               |
| manoj              |
| mydb               |
| mysql              |
| performance_schema |
| primarykeydb       |
| sakila             |
| school             |
| squery             |
| student            |
| sys                |
| world              |
+--------------------+
13 rows in set (0.03 sec)

    -> ^C
mysql> create database storep;
Query OK, 1 row affected (0.02 sec)

mysql> use storep
Database changed
mysql> create table student(
    -> studentid int not null primary key,
    -> stname varchar(25),
    -> stemail varchar(100),
    -> stAge int);
Query OK, 0 rows affected (0.05 sec)

mysql> select * from student;
Empty set (0.01 sec)

mysql> delimiter //
mysql> select * from student;
    -> //
Empty set (0.00 sec)

mysql> create procedure InsertData
    -> (
    ->  id int,
    ->  name varchar(25),
    ->  email varchar(100),
    ->  age int
    -> )
    -> begin
    ->  insert into student values (id,name,email, age);
    ->  select * from student;
    -> end//
Query OK, 0 rows affected (0.01 sec)

mysql> call insertdata(1,"rahul","rahul@gmail.com",25)//
+-----------+--------+-----------------+-------+
| studentid | stname | stemail         | stAge |
+-----------+--------+-----------------+-------+
|         1 | rahul  | rahul@gmail.com |    25 |
+-----------+--------+-----------------+-------+
1 row in set (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> call insertdata (2,"Amit","Amit@gmail.com",20)//
+-----------+--------+-----------------+-------+
| studentid | stname | stemail         | stAge |
+-----------+--------+-----------------+-------+
|         1 | rahul  | rahul@gmail.com |    25 |
|         2 | Amit   | Amit@gmail.com  |    20 |
+-----------+--------+-----------------+-------+
2 rows in set (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> call insertdata (2,"Amit","Amit@gmail.com",20)//
ERROR 1062 (23000): Duplicate entry '2' for key 'student.PRIMARY'
mysql> call insertdata (3,"sumit","sumit@gmail.com",28)//
+-----------+--------+-----------------+-------+
| studentid | stname | stemail         | stAge |
+-----------+--------+-----------------+-------+
|         1 | rahul  | rahul@gmail.com |    25 |
|         2 | Amit   | Amit@gmail.com  |    20 |
|         3 | sumit  | sumit@gmail.com |    28 |
+-----------+--------+-----------------+-------+
3 rows in set (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> create procedure InsertData2
    -> (
    ->  id int,
    ->  name varchar(25),
    ->  email varchar(100),
    ->  age int
    -> )
    -> begin
    ->  insert into student values (id,name,email, age);
    ->  select * from student where studentid=id;
    -> end//
Query OK, 0 rows affected (0.01 sec)

mysql> call insertdata2(4,"Mahadev Verma",mahadev@gmail.com
    -> ^C
mysql> call insertdata2(4,"Mahadev Verma","mahadev@gmail.com",26)//
+-----------+---------------+-------------------+-------+
| studentid | stname        | stemail           | stAge |
+-----------+---------------+-------------------+-------+
|         4 | Mahadev Verma | mahadev@gmail.com |    26 |
+-----------+---------------+-------------------+-------+
1 row in set (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> call insertdata(5,"Arvind Verma","arvind@gmail.com",31)//
+-----------+---------------+-------------------+-------+
| studentid | stname        | stemail           | stAge |
+-----------+---------------+-------------------+-------+
|         1 | rahul         | rahul@gmail.com   |    25 |
|         2 | Amit          | Amit@gmail.com    |    20 |
|         3 | sumit         | sumit@gmail.com   |    28 |
|         4 | Mahadev Verma | mahadev@gmail.com |    26 |
|         5 | Arvind Verma  | arvind@gmail.com  |    31 |
+-----------+---------------+-------------------+-------+
5 rows in set (0.00 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> delimiter ;
mysql> select * from student;
+-----------+---------------+-------------------+-------+
| studentid | stname        | stemail           | stAge |
+-----------+---------------+-------------------+-------+
|         1 | rahul         | rahul@gmail.com   |    25 |
|         2 | Amit          | Amit@gmail.com    |    20 |
|         3 | sumit         | sumit@gmail.com   |    28 |
|         4 | Mahadev Verma | mahadev@gmail.com |    26 |
|         5 | Arvind Verma  | arvind@gmail.com  |    31 |
+-----------+---------------+-------------------+-------+
5 rows in set (0.00 sec)

mysql> delimiter @@
mysql> select * from student@@
+-----------+---------------+-------------------+-------+
| studentid | stname        | stemail           | stAge |
+-----------+---------------+-------------------+-------+
|         1 | rahul         | rahul@gmail.com   |    25 |
|         2 | Amit          | Amit@gmail.com    |    20 |
|         3 | sumit         | sumit@gmail.com   |    28 |
|         4 | Mahadev Verma | mahadev@gmail.com |    26 |
|         5 | Arvind Verma  | arvind@gmail.com  |    31 |
+-----------+---------------+-------------------+-------+
5 rows in set (0.00 sec)

mysql> delimiter #
mysql> select * from student#
+-----------+---------------+-------------------+-------+
| studentid | stname        | stemail           | stAge |
+-----------+---------------+-------------------+-------+
|         1 | rahul         | rahul@gmail.com   |    25 |
|         2 | Amit          | Amit@gmail.com    |    20 |
|         3 | sumit         | sumit@gmail.com   |    28 |
|         4 | Mahadev Verma | mahadev@gmail.com |    26 |
|         5 | Arvind Verma  | arvind@gmail.com  |    31 |
+-----------+---------------+-------------------+-------+
5 rows in set (0.00 sec)

mysql> delimiter ;
mysql> create procedure InsertData4
    -> (
    ->  id int,
    ->  name varchar(25),
    ->  email varchar(100),
    ->  age int
    -> )
    -> begin
    ->  insert into student values (id,name,email, age);
ERROR 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '' at line 9
mysql>  select * from student;
+-----------+---------------+-------------------+-------+
| studentid | stname        | stemail           | stAge |
+-----------+---------------+-------------------+-------+
|         1 | rahul         | rahul@gmail.com   |    25 |
|         2 | Amit          | Amit@gmail.com    |    20 |
|         3 | sumit         | sumit@gmail.com   |    28 |
|         4 | Mahadev Verma | mahadev@gmail.com |    26 |
|         5 | Arvind Verma  | arvind@gmail.com  |    31 |
+-----------+---------------+-------------------+-------+
5 rows in set (0.00 sec)

mysql> delimiter isit
mysql> select * from studentisit
+-----------+---------------+-------------------+-------+
| studentid | stname        | stemail           | stAge |
+-----------+---------------+-------------------+-------+
|         1 | rahul         | rahul@gmail.com   |    25 |
|         2 | Amit          | Amit@gmail.com    |    20 |
|         3 | sumit         | sumit@gmail.com   |    28 |
|         4 | Mahadev Verma | mahadev@gmail.com |    26 |
|         5 | Arvind Verma  | arvind@gmail.com  |    31 |
+-----------+---------------+-------------------+-------+
5 rows in set (0.00 sec)

mysql> delimiter ;
mysql> delimiter //
mysql> create procedure updateData
    -> (
    ->  id int,
    ->  name varchar(25),
    ->  email varchar(100),
    ->  age int
    -> )
    -> begin
    ->  update student set stname=name,stemail=email,stage=age where studentid=id;
    ->  select * from student;
    -> end//
Query OK, 0 rows affected (0.01 sec)

mysql> call updatedata(1,"Girdhar","Girdhar@gmail.com",50)//
+-----------+---------------+-------------------+-------+
| studentid | stname        | stemail           | stAge |
+-----------+---------------+-------------------+-------+
|         1 | Girdhar       | Girdhar@gmail.com |    50 |
|         2 | Amit          | Amit@gmail.com    |    20 |
|         3 | sumit         | sumit@gmail.com   |    28 |
|         4 | Mahadev Verma | mahadev@gmail.com |    26 |
|         5 | Arvind Verma  | arvind@gmail.com  |    31 |
+-----------+---------------+-------------------+-------+
5 rows in set (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> create procedure deleteData
    -> (
    ->  id int
    -> )
    -> begin
    ->  delete from student where studentid=id;
    ->  select * from student;
    -> end//
Query OK, 0 rows affected (0.01 sec)

mysql> call deletedata(4)//
+-----------+--------------+-------------------+-------+
| studentid | stname       | stemail           | stAge |
+-----------+--------------+-------------------+-------+
|         1 | Girdhar      | Girdhar@gmail.com |    50 |
|         2 | Amit         | Amit@gmail.com    |    20 |
|         3 | sumit        | sumit@gmail.com   |    28 |
|         5 | Arvind Verma | arvind@gmail.com  |    31 |
+-----------+--------------+-------------------+-------+
4 rows in set (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> call deletedata(5)//
+-----------+---------+-------------------+-------+
| studentid | stname  | stemail           | stAge |
+-----------+---------+-------------------+-------+
|         1 | Girdhar | Girdhar@gmail.com |    50 |
|         2 | Amit    | Amit@gmail.com    |    20 |
|         3 | sumit   | sumit@gmail.com   |    28 |
+-----------+---------+-------------------+-------+
3 rows in set (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

mysql> call insertdata (4,"rahul","rahul@gmail.com",41)//
+-----------+---------+-------------------+-------+
| studentid | stname  | stemail           | stAge |
+-----------+---------+-------------------+-------+
|         1 | Girdhar | Girdhar@gmail.com |    50 |
|         2 | Amit    | Amit@gmail.com    |    20 |
|         3 | sumit   | sumit@gmail.com   |    28 |
|         4 | rahul   | rahul@gmail.com   |    41 |
+-----------+---------+-------------------+-------+
4 rows in set (0.01 sec)

Query OK, 0 rows affected (0.01 sec)

In [ ]:
Number=(1,2,3,4,5,6,7,8,9)

Count_odd=0

Count_even=0

for x in numbers:

If not x %2:

Count _even+=1

else:

Count_odd+=1

Print("number of even numbers:",count _even)

Print("Number of odd numbers:",count_odd)

In [ ]:
pip install pytest

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pytest in /usr/local/lib/python3.9/dist-packages (3.6.4)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.9/dist-packages (from pytest) (1.15.0)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.9/dist-packages (from pytest) (22.2.0)
Requirement already satisfied: more-itertools>=4.0.0 in /usr/local/lib/python3.9/dist-packages (from pytest) (9.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from pytest) (63.4.3)
Requirement already satisfied: py>=1.5.0 in /usr/local/lib/python3.9/dist-packages (from pytest) (1.11.0)
Requirement already satisfied: pluggy<0.8,>=0.5 in /usr/local/lib/python3.9/dist-packages (from pytest) (0.7.1)
Requirement already satisfied: atomicwrites>=1.0 in /usr/local/lib/python3.9/dist-packages (from pytest) (1.4.1)

In [ ]:
def add(no1,no2):
  return no1+no2

add(5,2)

7

In [ ]:
import pytest

In [ ]:
pytest.pytest1.py

AttributeError: ignored

In [ ]:
import cv2
import numpy as np
import pandas as pd

# Read the image
image = cv2.imread('/content/IMG-20230202-WA0005.jpg')

# Convert the image from BGR to RGB
image = cv2.cvtColor(image, cv2.COLOR_BGR2RGB)

# Flatten the image into a 2D array of pixels
pixels = np.reshape(image, (-1, 3))

# Create a dataframe to hold the pixel data
df = pd.DataFrame(pixels, columns=['Red', 'Green', 'Blue'])

# Compute the average color values for the image
avg_color = df.mean()

# Print the average color values
print('Average color values:')
print('Red:', avg_color['Red'])
print('Green:', avg_color['Green'])
print('Blue:', avg_color['Blue'])

Average color values:
Red: 214.5920109375
Green: 125.69215364583333
Blue: 133.0773734375

In [ ]:
pip install layers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting layers
  Downloading layers-0.1.5.tar.gz (5.5 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: PyYaml in /usr/local/lib/python3.9/dist-packages (from layers) (6.0)
Collecting bashutils
  Downloading Bashutils-0.0.4.tar.gz (4.2 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: layers, bashutils
  Building wheel for layers (setup.py) ... done
  Created wheel for layers: filename=layers-0.1.5-py3-none-any.whl size=5377 sha256=b9bc5c1e18ca2731ae2d509c582bd1834816677155f4322cf38c31a1eec2b183
  Stored in directory: /root/.cache/pip/wheels/f8/4d/ec/d396d8edcf2930f3d1f06af3e62e7bae9e24b19f0fa593e413
  Building wheel for bashutils (setup.py) ... done
  Created wheel for bashutils: filename=Bashutils-0.0.4-py3-none-any.whl size=5471 sha256=08cd54e8d705a50dbd9356428d314631402778ee5aca36e1584954242bd6c836
  Stored in directory: /root/.cache/pip/wheels/a1/db/d5/c7823b68c53a5b141f3265057d95f872a984b37a058ccb761c
Successfully built layers bashutils
Installing collected packages: bashutils, layers
Successfully installed bashutils-0.0.4 layers-0.1.5

In [ ]:
pip install keras

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: keras in /usr/local/lib/python3.9/dist-packages (2.12.0)

In [ ]:
import cv2
import numpy as np
import pandas as pd
from keras.layers import Input, Conv2D
from keras.models import Model

# Read the image
image = cv2.imread('/content/IMG-20230202-WA0005.jpg')

# Convert the image to grayscale
gray = cv2.cvtColor(image, cv2.COLOR_BGR2GRAY)

# Add a new axis to the grayscale image to make it 3D
gray_3d = np.expand_dims(gray, axis=2)

# Create a convolutional neural network to learn the filter
input_layer = Input(shape=gray_3d.shape)
conv_layer = Conv2D(filters=1, kernel_size=(3, 3), padding='same', activation='sigmoid')(input_layer)
model = Model(inputs=input_layer, outputs=conv_layer)
model.compile(optimizer='adam', loss='mse')

# Train the model to learn the filter
model.fit(gray_3d, gray_3d, epochs=10)

# Apply the filter to the image
filtered = model.predict(gray_3d)

# Convert the filtered image back to RGB format
filtered_rgb = cv2.cvtColor(filtered.squeeze(), cv2.COLOR_GRAY2RGB)

# Save the filtered image
cv2.imwrite('example_filtered.jpg', filtered_rgb)

Epoch 1/10

ValueError: ignored