Revision Session

In [ ]:
# Language 

# communication
x=[]
#if x<10:
#  print(x)

while x:
  print("hello")

In [ ]:
x=1
y=1

if x>10 or y>10:
  print('hello')

In [ ]:
# conditional statements
# if
  # nested
  # ladder
# if else
# elif

In [ ]:
if conditional:
  pass
  if condition


if conditional:
  pass
if conditional:
  pass
if conditional:
  pass

In [ ]:
if cond:
  pass
else:
  pass



if cond:
  if condi:
    pass
  if cond:
    pass
  if cond:
    pass
else:
  pass

In [ ]:
if condi:
  pass
elif condi:
  pass
elif condi:
  pass
    |
    |
else:
  pass

In [ ]:
# Loops
  #  for loop -> fixed length loop
  #  While    -> 

lst=[3,4,6,7,9,0,6,5,4]
for i in lst:
  print(i)

3
4
6
7
9
0
6
5
4

In [ ]:
# while loop

i=0
while i<10:
  print(i)
  i+=1 #i=i+1 -> i=0+1 -> i=1

0
1
2
3
4
5
6
7
8
9

In [ ]:
ch=0
while ch!=5:
  print("Value is not equals to 5")
  ch=int(input("Enter new value : "))

Value is not equals to 5
Enter new value : 6
Value is not equals to 5
Enter new value : 4
Value is not equals to 5
Enter new value : 8
Value is not equals to 5
Enter new value : 1
Value is not equals to 5
Enter new value : 6
Value is not equals to 5
Enter new value : 2
Value is not equals to 5
Enter new value : 778
Value is not equals to 5
Enter new value : 2
Value is not equals to 5
Enter new value : 5

In [ ]:
# Containers
  # List  -> 
  # Tuple -> 
  # Set   -> 
  # Dict  ->

In [ ]:
lst=[[[[[[1,2,3,4]]]]]]


lst[0][0][0][0][0][2]=55
lst

[[[[[[1, 2, 55, 4]]]]]]

In [ ]:
lst=[1,'amit',True,[1,2,3],{1,2,3},{'name':'rahul'},(1,2,4),5.2]
lst

[1, 'amit', True, [1, 2, 3], {1, 2, 3}, {'name': 'rahul'}, (1, 2, 4), 5.2]

In [ ]:
a=lst[6]
type(a)

tuple

In [ ]:
lst=[3,4,6,7,9,0,6,5,4]
lst.append(555)
lst

[3, 4, 6, 7, 9, 0, 6, 5, 4, 555]

In [ ]:
c=lst.count(4)
c

2

In [ ]:
a=[1,2,3]
b=['one','two','three']
b.extend(a)
b

['one', 'two', 'three', 1, 2, 3]

In [ ]:
ind=a.index(3)
ind

2

In [ ]:
a=[1,2,3]
a.insert(1,55)
a

[1, 55, 2, 3]

In [ ]:
a=[1,2,3]
a.pop(0)

1

In [ ]:
a=[{'name':'Rahul','age':35},{'name':'ankit','age':30},{'name':'Amit','age':20}]
key=input("Enter Name you want to delete recored  :  ")
for i in a:
  if i['name'].lower()==key.lower():
    a.remove(i)
a

Enter Name you want to delete recored  :  RaHuL

[{'name': 'ankit', 'age': 30}, {'name': 'Amit', 'age': 20}]

In [ ]:
tpl=1,2,3,4
type(tpl)

tuple

In [ ]:
a=tuple((5,6))
a

(5, 6)

In [ ]:
a=(1,2,3,4,5,6,7,8,9,11)
a[2]=55

TypeError: ignored

In [ ]:
# Set
a={4,5,6,1,2,3,7,9,8,6,6,8,8}
print(a)
for i in a:
  print(i)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
1
2
3
4
5
6
7
8
9

In [ ]:
st=[
    {'name':'rahul','age':45},
    {'name':'ankit','age':44},
    {'name':'Vishal','age':30},
    {'name':'rahul','age':45}
]

In [ ]:
# dict
# keys and values
a={'name':'rahul','age':45}
for i,j in a.items():
  print('key : ',i,"\nvalue : ",j)

key :  name
value :  rahul
key :  age
value :  45

In [ ]:
a=dict(name='ravi',fname='sumit',age=45)

a['married']=True
a

{'name': 'ravi', 'fname': 'sumit', 'age': 45, 'married': True}

In [ ]:
dd=dict()
type(dd)

dict

In [ ]:
dd=set()
type(dd)

set

In [ ]:
a=tuple((121,2,3,4,5))
a

(121, 2, 3, 4, 5)

19-09-2022

In [ ]:
# if ladder

a=10
if a>=10:
  b=15
  if b>15:
    print("hello")
  if b<15:
    print("hii")
  else:
    print("Great to execute else")
  print("great!!!")
if a>8:
  print("Ohh its average !!!")
if a<15:
  print("Awesome!!!")
if a<5:
  print("So Sad!! Keep it Up!!!!")
if a<2:
  print("Its Bad For You!!!")
else:
  print("either grater than 15 or less than 2")

Great to execute else
great!!!1
Ohh its average !!!
Awesome!!!
either grater than 15 or less than 2

In [ ]:
# loop statements
# For loop 
# while
even=int(input("Enter The range :  "))
c=[i for i in range(2,even+1,2)] 
print(c)

KeyboardInterrupt: ignored

In [ ]:
# WAP to print even or odd Nos At a time 
n = int(input("Enter an end value :-"))
for i in range(1,n):
  if i%2==0:
    print(i,"Even Number")
  else:
    print(i,"Odd Number")

Enter an end value :-5
1 Odd Number
2 Even Number
3 Odd Number
4 Even Number

In [ ]:
# WAP to print sum of n nos input by the user
n = int(input("Enter a value:-"))
sum=0
for i in range(1,n+1):
  sum =sum+i
print("Total sum is :-",sum)

Enter a value:-10
Total sum is :- 55

In [ ]:
# WAP to check given no is even or odd
n = int(input("Enter a value:-"))
if n%2==0:
  print(n,"is an Even Number")
else:
  print(n,"is an odd Number")

Enter a value:-11
11 is an odd Number

In [ ]:
# WAP to check given no is divisible by 7 or not
n = int(input("Enter a value:-"))
if n%7==0:
  print(n,"is divisible by 7")
else:
  print(n,"is not divisible by 7")

Enter a value:-21
21 is divisible by 7

In [ ]:
# WAP to check how many nos is divisible by 7 in range of n given by user
n = int(input("Enter the start Range : "))
m = int(input("Enter the End Range :"))

for i in range(n,m+1):
  if i%7==0:
    print(i,end=" ")

Enter the start Range : 700
Enter the End Range :800
700 707 714 721 728 735 742 749 756 763 770 777 784 791 798

28-10-2022 : type conversion

In [ ]:
# 1 implecity
# 2 explicity

In [ ]:
x=1 # int
y=2.5 # float
z=10
# z=1+2.5
z=x+y # 1+2.5
type(z)

int

In [ ]:
# int
# float
# ord
# hex
# oct
# tuple
# list
# set
# dict
# complex
# str
# chr

In [ ]:
a=10.5
type(int(a))

int

In [ ]:
a=10
a=float(a)
type(a)

float

In [ ]:
a=ord('a')
b=oct(a)
b

'0o141'

In [ ]:
a=10
a=tuple([10])
type(a)
id(a)

140532022337744

In [ ]:
a=10
id(a)
#a=list([11,12,13,14])
#type(a)

11126976

In [ ]:
a=10
a=list([a])
a

[10]

In [ ]:
a=10
a=complex(1.4,5)
a

(1.4+5j)

In [ ]:
a=10
a=str(a)
a=a+'1'
a

'101'

In [ ]:

a=chr(98)
a

'b'

In [ ]:
# ord
# chr

In [ ]:
# loopings
  # For - fixed range loop
  # While - non-range loop

In [ ]:
ch=1
print("1.Addition\n2.Subtraction\n3.Multiplication\n4.Division\n")
while ch>0:
  ch=int(input("Enter your Choice   :    "))
  if ch==1:
    a=int(input("Enter first nos for addition  :  "))
    b=int(input("Enter second nos for addition  :   "))
    c=a+b
    print('the result = ',c)
  elif ch==2:
    a=int(input("Enter first nos for sub  :  "))
    b=int(input("Enter second nos for sub  :   "))
    c=a-b
    print('the result = ',c)
  elif ch==3:
    a=int(input("Enter first nos for multiply  :  "))
    b=int(input("Enter second nos for multiply  :   "))
    c=a*b
    print('the result = ',c)
  elif ch==4:
    a=int(input("Enter first nos for div  :  "))
    b=int(input("Enter second nos for div  :   "))
    c=a/b
    print('the result = ',c)
  else:
    print("Thanks for Using app")
    exit()

1.Addition
2.Subtraction
3.Multiplication
4.Division

Enter your Choice   :    1
Enter first nos for addition  :  55
Enter second nos for addition  :   56
the result =  111
Enter your Choice   :    2
Enter first nos for sub  :  45
Enter second nos for sub  :   5
the result =  40
Enter your Choice   :    3
Enter first nos for multiply  :  55
Enter second nos for multiply  :   5
the result =  275
Enter your Choice   :    4
Enter first nos for div  :  100
Enter second nos for div  :   20
the result =  5.0
Enter your Choice   :    -1

In [ ]:
if a>1000:
  pass
elif a>100:
  pass
elif a>10:
  pass
else:
  pass

In [ ]:
if a>1000:
  if a<500:
    pass
  else:
    pass

In [ ]:
a=(1,2,3,4,5,6,7,8,9,1,11,111,1111,222)
for i in range(len(a)):
  a[i]=i

TypeError: ignored

In [ ]:
# mutable - change its value
# immutable - cann't change its value

In [ ]:
# variable - mutable
# str - mutable
# list - mutable
# set - mutable
# tuple - immutable
# dict - mutable

In [ ]:
# chack dic is mutable or not and show its in a program.
#

29-10-2022| LOOPS, String

In [ ]:
for i in range(1,6):
  for j in range(1,6):
    print("*",end="")
  print()

*****
*****
*****
*****
*****

In [ ]:
# *****
# ****
# ***
# **
# *

In [ ]:
a=int(input("Enter the range of partern  :  "))
for i in range(a):
  for j in range(a-i):
    print("*",end="")
  print()

Enter the range of partern  :  20
********************
*******************
******************
*****************
****************
***************
**************
*************
************
***********
**********
*********
********
*******
******
*****
****
***
**
*

In [ ]:
# *******
#  *****
#   ***
#    *

In [ ]:
count=7
for i in range(4):
    for j in range(i):
      print(" ",end="")
    for k in range(count):
      print("*",end="")
    count=count-2
    print()

*******
 *****
  ***
   *

In [ ]:
#      *
#     ***
#    *****
#   *******

In [ ]:
count=1
for i in range(4):
  for j in range(4-i):
    print(" ",end="")
  for k in range(count):
    print("*",end="")
  count=count+2
  print()

    *
   ***
  *****
 *******

In [ ]:
# 0,1,1,2,3,5,8,13,21......
# 12321 pallindrome Nos
# reverse the Number

lst=[0,1]
n=int(input("Enter the steps :  "))
for i in range(n):
  x=lst[i]+lst[i+1]
  lst.append(x)
lst

Enter the steps :  10

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

31-10-2022 : Loops

In [ ]:
for i in range(3): # i=0 outter loop
  for j in range(i): # inner loop
    print(j,end="")
  print()

012
012
012

In [ ]:
row=int(input("Enter the row values : "))
col=int(input("Enter the cols values : "))
f_matrix=[] # main mattrix
for i in range(row): #3
  lst_row=[] # [] Row
  for j in range(col):#3
    x=int(input(""))
    lst_row.append(x)# [7,8,9]
  f_matrix.append(lst_row) #[[1,2,3],[4,5,6],[7,8,9]]

for i in f_matrix:
  for j in i:
    print(j,end=" ")
  print()

Enter the row values : 3
Enter the cols values : 3
1
2
3
4
5
6
7
8
9
1 2 3
1 2 3
1 2 3
4 5 6
4 5 6
4 5 6
7 8 9
7 8 9
7 8 9

In [ ]:
a=[['amit','sumit','vijay'],{'akash','vikas','vishal'},('rishabh','rahul','akash')]

for i in a:#['amit','sumit','vijay']
  for j in i:
    for k in j:
      print(k,end="")
    print()

amit
sumit
vijay
vishal
akash
vikas
rishabh
rahul
akash

In [ ]:
a=[1,2,3,4,5,6,7,8,9]
data=7
for i in a:#[1,2,3,4,5,6,7,8,9]
  for j in a:#[1,2,3,4,5,6,7,8,9]
    if i+j==data:
      print("the value",i,j)

the value 1 6
the value 2 5
the value 3 4
the value 4 3
the value 5 2
the value 6 1

**01-11-2022 : Loop implimentations**

In [ ]:
f_matrix=[]
# input first matrix
print("Enter First matrix contents  :  ")
for i in range(3):
  lst_row=[]
  for j in range(3):
    x=int(input(f"Enter {i}{j} value  :  "))
    lst_row.append(x)
  f_matrix.append(lst_row)
# input second matrix
print("Enter Second matrix contents  :  ")
s_matrix=[]
for i in range(3):
  lst_row=[]
  for j in range(3):
    x=int(input(f"Enter {i}{j} value  :  "))
    lst_row.append(x)
  s_matrix.append(lst_row)
print("the Sum of matrix  :  ")
# Add two matrix
t_matrix=[]
for i in range(3):
  row=[]
  for j in range(3):
    x=f_matrix[i][j]+s_matrix[i][j]
    row.append(x)
  t_matrix.append(row)

t_matrix

Enter First matrix contents  :
Enter 00 value  :  1
Enter 01 value  :  5
Enter 02 value  :  7
Enter 10 value  :  2
Enter 11 value  :  3
Enter 12 value  :  5
Enter 20 value  :  6
Enter 21 value  :  1
Enter 22 value  :  9
Enter Second matrix contents  :
Enter 00 value  :  8
Enter 01 value  :  5
Enter 02 value  :  1
Enter 10 value  :  4
Enter 11 value  :  2
Enter 12 value  :  8
Enter 20 value  :  6
Enter 21 value  :  7
Enter 22 value  :  7
the Sum of matrix  :

[[9, 10, 8], [6, 5, 13], [12, 8, 16]]

In [ ]:
lst=[22,44,55,64,6,88,99,23,56,78]
count=0
val=int(input("Enter the value which you find in list  : "))
for i in lst:
  count+=1
  if i==val:
    print(f"Value found {count} position")
  else:
    print("Value isn't in the list")
    break

Enter the value which you find in list  : 50
Value isn't in the list

In [ ]:
lst=[22,44,55,64,6,88,99,23,56,78]
val=int(input("Enter the value which you find in list  : "))
for i in range(len(lst)):
  if lst[i]==val:
    print("the position : ", i+1)
    break

Enter the value which you find in list  : 55
the position :  3

In [ ]:
lst=[22,44,55,64,6,88,99,23,56,78]
lst.sort()
lst

[6, 22, 23, 44, 55, 56, 64, 78, 88, 99]

In [ ]:
lst=[22,44,55,64,6,88,99,23,56,78]
lst2=[11,22,33]
for i in lst2:
  for j in lst:
    print(i*j)

242
484
605
704
66
968
1089
253
616
858
484
968
1210
1408
132
1936
2178
506
1232
1716
726
1452
1815
2112
198
2904
3267
759
1848
2574

In [ ]:
a=[1,2,3,4,5,6,7]
for i in a:
  if i==4:
    print(i+1)
    break

5

In [ ]:
while True:
  print("*******CALCULATOR**********")
  print("\n1.Add\n2.Sub\n3.Exit")
  ch=int(input("Enter the Choice  :   "))
  if ch==1:
    x=int(input("Enter First No  : "))
    y=int(input("Enter Second No  : "))
    z=x+y
    print("the result : ",z)
  if ch==2:
    x=int(input("Enter First No  : "))
    y=int(input("Enter Second No  : "))
    z=x-y
    print("the result : ",z)
  if ch==3:
    exit()

*******CALCULATOR**********

1.Add
2.Sub
3.Exit
Enter the Choice  :   1
Enter First No  : 5
Enter Second No  : 5
the result :  10
*******CALCULATOR**********

1.Add
2.Sub
3.Exit
Enter the Choice  :   2
Enter First No  : 44
Enter Second No  : 2
the result :  42
*******CALCULATOR**********

1.Add
2.Sub
3.Exit
Enter the Choice  :   1
Enter First No  : 55
Enter Second No  : 55
the result :  110
*******CALCULATOR**********

1.Add
2.Sub
3.Exit
Enter the Choice  :   3
*******CALCULATOR**********

1.Add
2.Sub
3.Exit
Enter the Choice  :   3
*******CALCULATOR**********

1.Add
2.Sub
3.Exit

KeyboardInterrupt: ignored

In [ ]:
print("1.Admin\n2.Customer")
ch=int(input("Enter your choice  :  "))
if ch==1:
  print("1.Login\n2.Signup")
  ch1=int(input("Enter your choice   :   "))
  user_name=input("Enter the User Id  :    ")
  user_pass=input("Enter the Password  :   ")
  if user_name=='isit'and user_pass=='12345':
    print("You are login successfull, welcome Indresh,")
  else:
    print("Wronge ID or Pass please check and try again")

1.Admin
2.Customer
Enter your choice  :  1
1.Login
2.Signup
Enter your choice   :   1
Enter the User Id  :    isitcollege
Enter the Password  :   121212
Wronge ID or Pass please check and try again

02-11-2022 : Loops -> dict

In [ ]:
# {key:value,key:value}

d={"pepsi":80,"pizza":150,"burger":100,"userId":"indresh517"}
d["userId"]
uid=input("Enter User Id  :   ")
if d["userId"]==uid:
  print("LogIn Successfull...............")
else:
  print("Wrong User Id Please Enter Valid User Id")

product=input("Enter the Product which you want to buy .... :  ")
print(f"The price of product {d[product]}")

Enter User Id  :   indresh517
LogIn Successfull...............
Enter the Product which you want to buy .... :  pepsi
The price of product 80

In [ ]:
d={"pepsi":80,"pizza":150,"burger":100,"userId":"indresh517"}
d.clear()
d

{}

In [ ]:
d={"pepsi":80,"pizza":150,"burger":100,"userId":"indresh517"}
d['pepsi']=100
d

{'pepsi': 100, 'pizza': 150, 'burger': 100, 'userId': 'indresh517'}

In [ ]:
d={"apple":50,"orange":70}

In [ ]:
car = {"brand": ['pepsi','sprite','deo'],"model": "Mustang","year": 1964,"model":"xyz"}
type(car["brand"])

list

In [ ]:
print("Enter the student details")
name=input("Enter Name  :  ")
f_name=input("Enter Father Name  :  ")
m_name=input("Enter Mother Name  :  ")
Dob=input("Enter Date of Birth  :  ")
Address=input("Enter Address  :  ")
personal_details={"name":name,"father Name":f_name,"Mother name":m_name,"date of birth":Dob,"Address":Address}
personal_details

Enter the student details
Enter Name  :  Rahul singh
Enter Father Name  :  Mahesh singh
Enter Mother Name  :  Maya singh
Enter Date of Birth  :  11-11-1995
Enter Address  :  khati baba jhansi up

{'name': 'Rahul singh',
 'father Name': 'Mahesh singh',
 'Mother name': 'Maya singh',
 'date of birth': '11-11-1995',
 'Address': 'khati baba jhansi up'}

In [ ]:
f_name=input("Enter name  :  ")
conf_f_name=input("Enter name to Confirm  : ")
if f_name==conf_f_name:
  print("detail is valid")
else:
  print("Name and Confirm name doesn't matched please checked and retype again")

Enter name  :  Indresh
Enter name to Confirm  : iNdresh
Name and Confirm name doesn't matched please checked and retype again

03-11-2022 : loops with Dict

AttributeError: ignored

In [ ]:
a=set(list(tuple(dict({"name":"amit"}))))
type(a)

set

In [ ]:
# true and False -> while, 
def y(a):
  return a**2


if x:
  print(y(5))
else:
  print("No such function isn't avaiable ")

No such function isn't avaiable

In [ ]:



lst=[1,2,3,4]
lst[0]=22
lst

[22, 2, 3, 4]

In [ ]:
a="isit"
count=1
for i in a:
  if count==len(a):
    print(i,end="")
  else:
    print(i,end="-")
  count+=1

i-s-i-t

In [ ]:
a="isit"
a='super'
a

'super'

In [ ]:
aa=1,2,3,4,5
aa=4,5,6,7,8,9,0
aa[0]=55
aa

TypeError: ignored

04-11-2022 : if else and loops

In [ ]:
# loops in dict
dictt={"pizza":180,"pepsi":80,"burgar":70}

for key in dictt:
  print("key=",key)
  print('value=',dictt[key])

<class 'str'>
key= pizza
value= 180
<class 'str'>
key= pepsi
value= 80
<class 'str'>
key= burgar
value= 70

In [ ]:
dictt={"pizza":180,"pepsi":80,"burgar":70}

dictt["pizza"]

180

In [ ]:
dictt={"pizza":180,"pepsi":80,"burgar":70}
for i,j in dictt.items():
  print(i,j)

pizza 180
pepsi 80
burgar 70

In [ ]:
dictt={"pizza":180,"pepsi":80,"burgar":70}
for key in dictt.__iter__():
  print(key)

pizza
pepsi
burgar

In [ ]:
dictt={"pizza":180,"pepsi":80,"burgar":70}
dictt.items()

dict_items([('pizza', 180), ('pepsi', 80), ('burgar', 70)])

In [ ]:
# if
# if ladder
# if nested
# if else
# if else nested
# elif
# elif nested

In [ ]:
a=15
if a>10:
  print("a is greater than 10")
if a>13:
  print("a is greater than 13")
if a>15:
  print("a is greater than 15")

a is greater than 10
a is greater than 13

In [ ]:
a=int(input())
if a>10:
  if a>12:
    if a>14:
      print("this value is greater than 14")
    else:
      print("value isn't greater than 14")
  else:
    print("value isn't greater than 12")
else:
  print("value isn't greater than 10")

9
value isn't greater than 10

In [ ]:
hindi=int(input("Enter hindi marks  :  "))
english=int(input("Enter English marks  :  "))
maths=int(input("Enter maths marks  :  "))
physics=int(input("Enter physics marks  :  "))
chemistry=int(input("Enter chemistry marks  :  "))
total=hindi+english+maths+physics+chemistry
per=total/5
print("TOTAL :",total)
print("PERCENTAGE : ",per)
print("DIV : ",end="")
if hindi<33 or english<33 or maths<33 or physics<33 or chemistry<33:
  print("fail")
else:
  if per>=60 or per<75:
    print("First div")
  elif per>=45 or per<60:
    print("Second Div")
  elif per>=33 or per<45:
    print("Third Div")
  else:
    print("fail")

Enter hindi marks  :  99
Enter English marks  :  99
Enter maths marks  :  99
Enter physics marks  :  99
Enter chemistry marks  :  99
TOTAL : 495
PERCENTAGE :  99.0
DIV : First div

In [ ]:
lst=[1,2,3,4]

while no True:
  key=int(input())
  if key==-1:
    exit()
  else:
    if key in lst:
      print("is in list")
    else:
      print("isn't in list")

In [ ]:
# for ->fixed length loop
# while ->non fixed length loop

In [ ]:
while True:
  if a==10

05-10-2022 : Strings

In [ ]:
round(-0.6)

-1

In [ ]:
if(9<0) and (0<-9):
  print("hello")
elif (9>0) or False:
  print("good")
else:
  print("bad")

bad

In [ ]:
# String -> Set of char is called string

In [ ]:
a="ankit is good boy"

for i in range(len(a)):
  print(a[i],end="")

ankit is good boy

In [ ]:
a="indresh"
a[::-1]

'hserdni'

In [ ]:
# String Methods

a="ankit is good boy"
x=a.capitalize()
print("old string =",a)
print("new string =",x)

old string = ankit is good boy
new string = Ankit is good boy

In [ ]:
txt = "HEllo, And Welcome To My World!"
x=txt.casefold()

print(x)

hello, and welcome to my world!

In [ ]:
txt = "banana"
x=txt.center(97)
print(len(x))
count=0
for i in range(len(x)):
  if x=='b':
    break
  else:
    count+=1
print(count)

97
97

In [ ]:
print("MAIN MENU".center(70))
print("1.login\n2.sign up\n3.Exit")
ch=int(input("Enter Choice :".center(30))

                              MAIN MENU
1.login
2.sign up
3.Exit
        Enter Choice :

ValueError: ignored

In [ ]:
a="ram is GoOd boy and also he speaks good hindi"
len(a)

45

In [ ]:
a='hello'
expandtabs(2)

		hello

07-10-2022 : string methods, string list and tuples

In [ ]:
txt = "Company123&®"

x = txt.isascii()
if x:
  print("the value is in ASCII table")
else:
  print("The value isn't ASCII table")

The value isn't ASCII table

In [ ]:
txt = "0X33" #unicode for 3

x = txt.isdecimal()

print(x)

False

In [ ]:
x=16
hex(x)

'0x10'

In [ ]:
txt = "50800"

x = txt.isdigit()

print(x)

<class 'str'>
False

In [ ]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [ ]:
txt = "Hello Sam!"

mytable = txt.maketrans("S", "P")

print(txt.translate(mytable))

Hello Pam!

In [ ]:
# append, extend, insert

lst=[1,2,3,4,5,6,7]

In [ ]:
lst.append(8)
lst

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
lst.append(9)
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
lst.append([1,2,3])

In [ ]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
lst.extend([22])
lst

[1, 2, 3, 4, 5, 6, 7, 22]

In [ ]:
lst=[1,2,3,4,5,6,7]
lst2=[7,6,5,4,3,2,1]
lst.extend(lst2)
lst

[1, 2, 3, 4, 5, 6, 7, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
lst.insert(2,55)
lst

[1, 2, 55, 3, 4, 5, 6, 7, 7, 6, 5, 4, 3, 2, 1]

**08-11-2022 : List, Tuple, Dict**

In [ ]:
# list
# List is a container who stored data

# Nested
  # list->list
  # list->tuple
  # list->dict
  # list->set
a={1,5,6,3,2,4,7,7,7,7,7,7}
a

{1, 2, 3, 4, 5, 6, 7}

In [ ]:
lst=[["rahul",["ramesh",28,"khati baba","married"]],["amit","kumar"],["vishal","raikwar"]]
c=0
for i in lst:
  for j in i:
    if c==1:
      for k in j:
        print(k,end=" ")
        c+=1
    else:
      print(j,end="")
      c+=1
    print()

rahul
ramesh 28 khati baba married
amit
kumar
vishal
raikwar

In [ ]:
a=[1,2,3,4,6]
a[0]
type(a[0])

int

In [ ]:
lst=[(1,2,3,4,5),(11,12,13,14),(22,33,44,55)]
#     lst[0]       lst[1]        lst[2]
lst[0]=(77,88,99)
lst[0][0]=78

TypeError: ignored

In [ ]:
lst=[[1,2,3,4,5,6],(11,12,13,14),(22,33,44,55)]
lst[0][0]=77
lst

[[77, 2, 3, 4, 5, 6], (11, 12, 13, 14), (22, 33, 44, 55)]

In [ ]:
a=(1,2,3,4,5,6)
a=(77,88,99,00)
a=(22,33,44,555,6666,777777,8888888)

In [ ]:
a=[{"amit",25,"Agra",240011},{28,"jhansi",284003,"amit"},{28,"jhansi",284003,"sumit"}]
a[0]

{240011, 25, 'Agra', 'amit'}

In [ ]:
a=[{"amit",25,"Agra",240011},{28,"jhansi",284003,"amit"},{28,"jhansi",284003,"sumit"}]
key=input("Enter the name which you want to find in list : ")
p=0
c=0
not_on_list=0
for i in a:
  for j in i:
    if j==key:
      print(f"record found in number {p+1}")
      break
    else:
      if c>0:
        print(f"Key Not On the Set {not_on_list+1}")
        break
    c+=1
  not_on_list+=1
  p+=1

Enter the name which you want to find in list : amit
Key Not On the Set 1
Key Not On the Set 2
Key Not On the Set 3

In [ ]:
lst=[{"product":"Pepsi","price":50,"MFD":"25-10-2022","exp date":"25-11-2022"},
     {"product":"Sprite","price":60,"MFD":"25-10-2022","exp date":"25-11-2022"}]
c=0
for i in lst:
  print(f"\nThis is {c+1} product\n")
  for j,k in i.items():
    print(j,k)
  c+=1 # c=c+1

This is 1 product

product Pepsi
price 50
MFD 25-10-2022
exp date 25-11-2022

This is 2 product

product Sprite
price 60
MFD 25-10-2022
exp date 25-11-2022

In [ ]:
lst[0].items()

dict_items([('product', 'Pepsi'), ('price', 50), ('MFD', '25-10-2022'), ('exp date', '25-11-2022')])

**09-11-2022 :  tuples and Dict**

In [ ]:
# tuples

# tuple -> containers who stored data
# nested -> 
  # tuple->list
  # tuple->tuple
  # tuple->set
  # tuple->dict

In [ ]:
# tuple ->list
tpl=([1,2,3,4],[6,7,8,9,10])
val=int(input("Enter the value which you want to insert : "))
new_val=int(input("Enter the new value which want to insert given place : "))

c=0
for i in tpl:
  c1=0 #tpl[0][0],tpl
  for j in i:
    if j==val:
      tpl[c][c1]=new_val
      break
    c1+=1
  c+=1
print(tpl)

Enter the value which you want to insert : 6
Enter the new value which want to insert given place : 111

TypeError: ignored

In [ ]:
tpl=({1,2,3,4},{6,7,8,9,10})
tpl[0][0]=55
tpl

TypeError: ignored

In [ ]:
sett={1,2,3,4,5}
for i in sett:
  print(i)

1
2
3
4
5

In [ ]:
# tuple ->list
tpl=((1,2,3,4),(6,7,8,9,10))
val=int(input("Enter the value which you want to insert : "))
new_val=int(input("Enter the new value which want to insert given place : "))

c=0
for i in tpl:
  c1=0 #tpl[0][0],tpl
  for j in i:
    if j==val:
      tpl[c][c1]=new_val
      break
    c1+=1
  c+=1
print(tpl)

Enter the value which you want to insert : 6
Enter the new value which want to insert given place : 10

TypeError: ignored

In [ ]:
tpl=((1,2,3,4),(6,7,8,9,10))

tpl=((11,22,33,44),(55,66,77,88))
type(tpl[0][0])

int

In [ ]:
tpl=({"price":50,"brand":"pepsi"},{"price":60,"brand":"sprite"})
tpl[1].values()

dict_values([60, 'sprite'])

**10-11-2022 : Dict and Set**

In [ ]:
# set
  # Set-> its arrange values in assending order
  #       its print the unique values.

In [ ]:
a={4,3,11,7,8,5,9,3,6,1,10,111,"apple"}
a

{1, 10, 11, 111, 3, 4, 5, 6, 7, 8, 9, 'apple'}

In [ ]:
b={True,False,False,True,False}
b

{False, True}

In [ ]:
a={[2,5,7,3,8,3,2,3],[3,4,6,5,8,6,2,7]}
a

TypeError: ignored

In [ ]:
a={(2,5,7,3,8,3,2,3),(3,4,6,5,8,6,2,7)}
for i in a:
  for j in i:
    print(j,end=" ")
  print()

2 5 7 3 8 3 2 3
3 4 6 5 8 6 2 7

In [ ]:
a={{"amit":3,"sumit":7},{"rakesh":7,"vijay":9}}
a

TypeError: ignored

In [ ]:
#dict

a={"pepsi":{"200ml":20,"500ml":40,"1liter":55,"2 liters":95}}

a.items()

dict_items([('pepsi', {'200ml': 20, '500ml': 40, '1liter': 55, '2 liters': 95})])

In [ ]:
a={"pepsi":{"200ml":20,"500ml":40,"1liter":55,"2 liters":95}}
for i,j in a.items():
  for k,l in j.items():
    print(k,l)

200ml 20
500ml 40
1liter 55
2 liters 95

In [ ]:
a={
    "South Indian":{"Dosa":{"planDosa":100,"Masala Dosa":200,"Paneer Dosa":400}},
    "pepsi":{"200ml":20,"500ml":40,"1liter":55,"2 liters":95},
    "lays":{"25gms":10,"50gms":20,"200gms":50}
    
   }

for i,j in a.items():
  for k,l in j.items():
    for m,n in l.items():
      print(m,n)

planDosa 100
Masala Dosa 200
Paneer Dosa 400

AttributeError: ignored

In [ ]:
a={
  "South Indian":{"Dosa":{"planDosa":100,"Masala Dosa":200,"Paneer Dosa":400}}
   }

for i,j in a.items():
  for k,l in j.items():
    for m,n in l.items():
      print(m,n)

planDosa 100
Masala Dosa 200
Paneer Dosa 400

In [ ]:
a={
  "South Indian":["Dosa",{"planDosa":100,"Masala Dosa":200,"Paneer Dosa":400}]
   }
a["South Indian"][1].items()

dict_items([('planDosa', 100), ('Masala Dosa', 200), ('Paneer Dosa', 400)])

In [ ]:
[(1,2,3),(1,8,27)]

In [ ]:
cars = [5,7,2,3,69,7,8,5,4]

cars.sort()
cars

[2, 3, 4, 5, 5, 7, 7, 8, 69]

**11-11-22: Function**

In [ ]:
a=input("Enter first no :")
b=int(input("Enter first no :"))
print(a*b)
print("the type of value a",type(a))

Enter first no :-
Enter first no :50
--------------------------------------------------
the type of value a <class 'str'>

In [ ]:
print("-"*50)
print("|              ***CALCULATOR***                  |")
print("-"*50)

--------------------------------------------------
|              ***CALCULATOR***                  |
--------------------------------------------------

In [ ]:
# for loop
# while loop

In [ ]:
a=0
while a!=-1:
  a=int(input("Enter a no : "))
  print(f"Your given No is {a} please enter -1 to exit while loop")

Enter a no : 88
Your given No is 88 please enter -1 to exit while loop
Enter a no : 44
Your given No is 44 please enter -1 to exit while loop
Enter a no : 6
Your given No is 6 please enter -1 to exit while loop
Enter a no : 22
Your given No is 22 please enter -1 to exit while loop
Enter a no : 333
Your given No is 333 please enter -1 to exit while loop
Enter a no : 77
Your given No is 77 please enter -1 to exit while loop
Enter a no : 565
Your given No is 565 please enter -1 to exit while loop
Enter a no : -1
Your given No is -1 please enter -1 to exit while loop

In [ ]:

for i in range(100,50,-2):
  print(i,end=" ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(j,end=' ')
  print()

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [ ]:
# function -> Grouping the similar code is function
# calculator -> sum, sub, multi, div, floordiv, sqrt, pow,

In [ ]:
def sum(x,y):
  return x+y
def sub(x,y):
  return x-y

sub(2,4)

-2

In [ ]:
def IsNegative(x=True):
  if x<0:
    return "Negative"
  else:
    return "Positive"

In [ ]:
IsNegative(-55)

'Negative'

In [ ]:
def sum():
  x=int(input("Enter First No : "))
  y=int(input("Enter Second No : "))
  c=x+y
  return c
def sub(x,y):
  return x-y
def multi(x,y):
  return x*y
def div(x,y):
  return x/y
def pow(x,y):
  return x**y
def square(x):
  return x*x
def max(x,y):
  if x>y:
    return f"{x} is greater than {y}"
  else:
    return f"{y} is greater than {x}"
ch=0    
while ch!=8:
  print('''*************CALCULATOR***************
    [1.] Add
    [2.] Sub
    [3.] Multi
    [4.] Div
    [5.] Pow
    [6.] Square
    [7.] max
    [8.] Exit''')
  ch=int(input("Enter your Choice  :  "))
  if ch!=8 and ch!=1:
    a=int(input("Enter First No  :  "))
    b=int(input("Enter Second No  :  "))
  if ch==1:
    print("The sum of two nos",sum())
  if ch==2:
    print("The sub of two nos",sub(a,b))
  if ch==3:
    print("The multiply of two nos",multi(a,b))
  if ch==4:
    print("The division of two nos",div(a,b))
  if ch==5:
    print("The power[x,y] of two nos",pow(a,b))
  if ch==6:
    print("The square of two nos",square(a))
  if ch==7:
    print("The max of two nos",max(a,b))

*************CALCULATOR***************
    [1.] Add
    [2.] Sub
    [3.] Multi
    [4.] Div
    [5.] Pow
    [6.] Square
    [7.] max
    [8.] Exit

KeyboardInterrupt: ignored

In [ ]:
n1, n2 = 0,1
print("fibonacci Series: ", n1,n2,end=" ")
for i in range(1,9):
  n3=n1+n2
  n1=n2
  n2=n3
  print(n3, end=" ")

fibonacci Series:  0 1 1 2 3 5 8 13 21 34

**12-11-2022 : function -2**

In [ ]:
def fcn():
  return val

def a():
  return val

val=20
print(fcn())
print(a())

20
20

In [ ]:
a=10
b=20
a

10

In [ ]:
# Scope of variable
  # local variable->  use with in function or main function
  # Global Variable -> use in any function

In [ ]:
def function():
  print(val)
  return val

val=20
print(val)
if True:
  val=50
  print(val)
print(val)
function()

20
50
50
50

50

In [ ]:
def swap():
  print(val)
def sum():
  print(val)


global val
val=50
swap()
sum()

50
50

In [ ]:
def fcn():
  return val

def a():
  return val

val=20
print(fcn())
print(a())

In [ ]:
def divby2(x=0):
  if x==0:
    return "the default value is zero"
  else:
    return x/2

divby2(55)

27.5

In [ ]:
def intro(*intr):#(("sumit","ankit","khati baba","284003",20,5000]),
  for i in intr: #(["vijay","mahesh","khati baba","284003",25,25000]))
    for j in i:
      print(j,end=" ")
    print()
    


intro(["sumit","ankit","khati baba","284003",20,5000],["vijay","mahesh","khati baba","284003",25,25000])

sumit ankit khati baba 284003 20 5000
vijay mahesh khati baba 284003 25 25000

In [ ]:
def a(age=None):
  print(age)

a(55)

55

**14-11-2022: Function and modules**

In [ ]:
def show(x): # x=5
  return x**2

print(show(5))

25

In [ ]:
def show(x=0):
  return x**2

show()

0

In [ ]:
def show(y,z,x=0):
  print(y)
  print(z)
  return x**2
#--------main-------------
show(2,4,55)

2
4

3025

In [ ]:
def show(x,*kwarg):
  print(x)
  for i in kwarg:
    print(i,end=" ")
 #-----------
show(2,4,55,66,77,88,99,22,11,44)

2
4 55 66 77 88 99 22 11 44

In [ ]:
def show(x,y=0,*kwarg):
  print(x)
  print(y)
  for i in kwarg:
    print(i,end=" ")
 #-----------main--------------
show(2,4,55,66,77,88,99,22,11,44)

2
4
55 66 77 88 99 22 11 44

In [ ]:
def show(**kwarg):
  print(kwarg)
 #-----------main--------------
show([1,2,3,4,5,6,7,8,9,0])

TypeError: ignored

In [ ]:
x=10
def show():
  global x
  x=50
  print(x)
def show1():
  global x
  x=100
  print(x)

show()
show1()
print(x)

50
100
100

In [ ]:
import calculator as c

c.multi(5,2)

10

**15-11-2022 : module and packages**

In [ ]:
# function is also called methods
# collection of methods is called modules
# collection of modules is called packeges

In [ ]:
# packages is called librares->numpy, padas, matplot, seabon

In [ ]:
import numpy as np # alias
#np.max([5,6,2,3,7,8,9,6,3,2,4])

In [ ]:
import pandas as pd

In [ ]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install matplotlib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.4.4)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.2)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.21.6)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib) (4.1.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib) (1.15.0)

In [ ]:
import pandas as pd
df=pd.read_csv("/content/electronic-card-transactions-october-2022-csv-tables.csv")
df.head()
pd.

SyntaxError: ignored

In [ ]:
import pandas as pd

In [ ]:
import pandas as pd
df=pd.read_excel("/content/file_example_XLS_50.xls")
df.head()

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468

In [ ]:
pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 2.7 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
df=open("/content/sample.txt","r")
df.read()

' sdl;fmdslkf jsdj flsd jklf jsdlkf jlksd jflksd jfsdk fjlksd jflksd jfj sdlkf jflks fjlksj flkj dlkffj lksj flksdj lksjdlkf jsdlkfjslkd fjklsdjflks jlkj klsdjfklsj fklsj klfhj fn lksdf lksd jlksdj lkf jsdklfjsd jflksj dl jsdkj sdlk jlksjdflkj lkj dgg'

In [ ]:
df=open("isit.txt","r")
df

FileNotFoundError: ignored

**16-11-2022 : modules and file handlings**

In [ ]:
import operation as op
op.sum(5,6)

11

In [ ]:
def last(n):
  print(type(n))
  return n[-1]

def sort_list_last(MyList):
  return sorted(MyList, key=last)
  

lst=[(2,5),(1,2),(4,4),(2,3),(2,1)]
print(sort_list_last(lst))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [ ]:
lst1=[2,3,5,7,98,92,3,5,66]

sorted(lst1)

[2, 3, 3, 5, 5, 7, 66, 92, 98]

In [ ]:
my_dict = {}
for i in range(97, 97 + 26):
    my_dict[chr(i)] = i
print(my_dict)

In [ ]:
ord('A')

65

In [ ]:
chr(97)

'a'

In [ ]:
dict1={}
dict1[chr(97)]=97
dict1[chr(98)]=98
dict1

{'a': 97, 'b': 98}

**17-11-2022 : File Handling**

In [ ]:
# Files
  # text Files -> csv, xls, doc, txt
  # Binary File-> coded files via binary form- 1,0 -> .bin .dat

# Mode of files-

# "r" - Read - Default value. Opens a file for reading, error if the file does not exist
# "a" - Append - Opens a file for appending, creates the file if it does not exist
# "w" - Write - Opens a file for writing, creates the file if it does not exist, if data already exit than its over lapped.
# "x" - Create - Creates the specified file, returns an error if the file exists

In [ ]:
f=open('/content/sample1.txt','r')
print(f.read())

this is my first file
the topic started today is file handling

In [ ]:
f=open('/content/sample1.txt','w')
data=input("Enter Data to be insert on file  :  ")
len1=f.write(data)
if len1>50:
  print("File is lengthy please extract some characters in file")
else:
  print("Data Successfull Inserted")
f.close()

Enter Data to be insert on file  :  this is my first file inserted in my first data science batch. there many student who studies python language
File is lengthy please extract some characters in file

In [ ]:
f=open(r'/content/sample1.txt','r')
print(f.read())

oh sorry data is overlapped when put up this text

In [ ]:
f=open(r'/content/sample1.txt','a')
data=input("Enter Data to be appand into end of the file  :  ")
f.write(data)
f.close()

Enter Data to be appand into end of the file  :  this is appended data in this file

In [ ]:
f=open(r'/content/sample1.txt','r')
f.read()

'this is my first file inserted in my first data science batch. there many student who studies python languagepython is almost end and data structure and algo is started as soon as possiblethis is appended data in this file'

In [ ]:
f=open("isit.txt",'x')
f.write("This is my file")
f.close()

In [ ]:
f=open("isit.txt",'r')
f.read()
f.close()

In [ ]:
f=open("isit.txt",'a')
f.write("This is appended....!!!!!")
f.close()

In [ ]:
f=open("isit.txt",'r')
f.read()

'This is my fileThis is appended....!!!!!'

In [ ]:
f=open("isit1.txt",'w')
f.write("Your all previous data is lapsed.....\nIf you have restored it please call system admin")
f.close()

In [ ]:
f=open("isit1.txt",'r')
lst=f.readlines()
lst[1]

IndexError: ignored

In [ ]:
file_name=input("Enter the file name which you want to inserted  :  ")
f=open(file_name,'x')
file_data=input("Enter your Data  : ")
f.write(file_data)
f.close()
f=open(file_name,'r')
f.read()

Enter the file name which you want to inserted  :  ankit.txt
Enter your Data  : this is the resume of ankit singh.

'this is the resume of ankit singh. '

In [ ]:
f=open('ml.txt','r')
f.read()

'this is machine learning book'

In [ ]:
def create_file():
  file_name=input("ENTER FILE NAME  :  ")
  f=open(file_name,'x')
  f.close()
  #return True
def write_data():
  pass
def read_data():
  pass
def append_data():
  pass
def delete_data():
  pass


ch=0
while ch!=6: 
  print('''-----------------------------------------------------------------
                **********FILE OPERATION**********
  -----------------------------------------------------------------
  [1.] CREATE A FILE
  [2.] WRITE DATA INTO FILE
  [3.] READ FILE
  [4.] APPEND DATA
  [5.] DELETE FILE
  [6.] SEARCH WORD
  [7.] REPLACE WORD
  [8.] DELETE WORD
  [9.] EXIT''')
  ch=int(input("ENTER YOUR CHOICE  :   "))
  if ch==1:
    if create_file()==True:
      print("FILE CREATED SUCCESSFULL....!!!!!!")
    else:
      print("FILE NOT CREATED......")
  if ch==2:
    pass
  if ch==3:
    pass
  if ch==4:
    pass
  if ch==5:
    pass
  if ch==6:
    pass

-----------------------------------------------------------------
                **********FILE OPERATION**********
  -----------------------------------------------------------------
  [1.] CREATE A FILE
  [2.] WRITE DATA INTO FILE
  [3.] READ FILE
  [4.] APPEND DATA
  [5.] DELETE FILE
  [6.] EXIT
ENTER YOUR CHOICE  :   1
ENTER FILE NAME  :  isit3.txt
-----------------------------------------------------------------
                **********FILE OPERATION**********
  -----------------------------------------------------------------
  [1.] CREATE A FILE
  [2.] WRITE DATA INTO FILE
  [3.] READ FILE
  [4.] APPEND DATA
  [5.] DELETE FILE
  [6.] EXIT

KeyboardInterrupt: ignored

In [ ]:
a='nfskdhkshfk sdjlldsflksj dklf jsl fjlsd jfkl sjdl jskd jfls djkfl jsdl fjlkjksd jfl jsdkf jsdj flksd jkjdslkf jskdlj flksdjfksdjlfj sdkf jlksd jfklsd jlkflkfj sdlkf jksd jfkldsjklf jsdlk fjlsk jlksfd jflkd'

In [ ]:
a

'nfskdhkshfk sdjlldsflksj dklf jsl fjlsd jfkl sjdl jskd jfls djkfl jsdl fjlkjksd jfl jsdkf jsdj flksd jkjdslkf jskdlj flksdjfksdjlfj sdkf jlksd jfklsd jlkflkfj sdlkf jksd jfkldsjklf jsdlk fjlsk jlksfd jflkd'

In [ ]:
a=1

In [ ]:
a

1

**18-11-2022 : Revision Session**

In [ ]:
f=open('isit1.txt','x')
f.close()

In [ ]:
import pandas as pd
df=pd.read_excel('/content/file_example_XLS_5000.xls')
df['First Name']

0          Dulce
1           Mara
2         Philip
3       Kathleen
4        Nereida
          ...
4995        Roma
4996      Felisa
4997    Demetria
4998      Jeromy
4999    Rasheeda
Name: First Name, Length: 5000, dtype: object

In [ ]:
pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.0 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [ ]:
z=50

def sum(x,y):
  global z
  return x+y+z
z=5
print(z)
sum(5,10)

5

20

In [ ]:
a=1
b=1
print(id(a),id(b))

11126688 11126688